<!-- ============================ About Five section start ===================== -->
<section class="about-five py-120">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-5"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <div class="row gy-4">
          <div class="col-sm-6">
            <div class="d-flex flex-sm-column flex-row tw-gap-6">
              <div class="">
                <figure
                  class="hover-animation-white split-reveal position-relative overflow-hidden h-100 mb-0"
                >
                  <img
                    src="assets/images/thumbs/about-five-img1.png"
                    alt="Thumb"
                    class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left"
                  />
                </figure>
              </div>
              <div class="">
                <figure
                  class="hover-animation-white split-reveal position-relative overflow-hidden h-100 mb-0"
                >
                  <img
                    src="assets/images/thumbs/about-five-img3.png"
                    alt="Thumb"
                    class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left"
                  />
                </figure>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="d-flex flex-sm-column flex-row tw-gap-6">
              <div class="">
                <figure
                  class="hover-animation-white split-reveal position-relative overflow-hidden h-100 mb-0 d-sm-block d-none flex-grow-1"
                >
                  <img
                    src="assets/images/thumbs/about-five-img2.png"
                    alt="Thumb"
                    class="split-reveal-element tw-rounded-xl w-100 h-100 object-fit-cover origin-left"
                  />
                </figure>
              </div>
              <div
                class="bg-main-100 tw-rounded-3xl tw-px-205 tw-py-12 text-center d-flex flex-column justify-content-center align-items-center h-100 flex-grow-1"
              >
                <div class="circle-border d-inline-block">
                  <svg
                    class="radial-progress"
                    data-percentage="78"
                    viewBox="0 0 80 80"
                  >
                    <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                    <circle class="complete" cx="40" cy="40" r="35"></circle>
                    <text
                      class="percentage"
                      x="50%"
                      y="57%"
                      transform="matrix(0, 1, -1, 0, 80, 0)"
                    >
                      98%
                    </text>
                  </svg>
                </div>
                <p class="text-heading fw-medium tw-text-base tw-mt-5">
                  Average revenue growth for per successful clients
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="ps-xl-5 ps-lg-4">
          <div
            class=""
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="0"
          >
            <span
              class="bg-danger-100 text-danger-600 fw-semibold tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-3"
            >
              About Our Company</span
            >
            <h3 class="splitTextStyleOne cursor-big fw-medium text-54-px">
              Labaid Cancer Hospital & Super Speciality Centre
            </h3>
            <p
              class="text-neutral-600 tw-mt-6 max-w-640-px"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              Curabitur ut diam ipsum. Proin id lobortis est. In sit amet
              elementum diam, ac hendrerit libero. Proin condimentum condimentum
              finibus. Quisque et
            </p>
            <div class="tw-mt-8 d-flex flex-column align-items-start tw-gap-4">
              <div
                class="bg-white tw-py-205 tw-ps-3 tw-pe-6 d-inline-flex align-items-center tw-gap-4 group rounded-pill common-shadow-15"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="100"
              >
                <span
                  class="tw-w-7 tw-h-7 bg-main-50 text-heading tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 rounded-circle flex-shrink-0"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="text-heading fw-medium"
                  >Trusted & Vetted Cleaners</span
                >
              </div>
              <div
                class="bg-white tw-py-205 tw-ps-3 tw-pe-6 d-inline-flex align-items-center tw-gap-4 group rounded-pill common-shadow-15"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="200"
              >
                <span
                  class="tw-w-7 tw-h-7 bg-main-50 text-heading tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 rounded-circle flex-shrink-0"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="text-heading fw-medium"
                  >Customizable Cleaning Plans</span
                >
              </div>
              <div
                class="bg-white tw-py-205 tw-ps-3 tw-pe-6 d-inline-flex align-items-center tw-gap-4 group rounded-pill common-shadow-15"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="300"
              >
                <span
                  class="tw-w-7 tw-h-7 bg-main-50 text-heading tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 rounded-circle flex-shrink-0"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="text-heading fw-medium"
                  >Affordable & Transparent Pricing</span
                >
              </div>
              <div
                class="bg-white tw-py-205 tw-ps-3 tw-pe-6 d-inline-flex align-items-center tw-gap-4 group rounded-pill common-shadow-15"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="400"
              >
                <span
                  class="tw-w-7 tw-h-7 bg-main-50 text-heading tw-text-lg d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 rounded-circle flex-shrink-0"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="text-heading fw-medium"
                  >Satisfaction Guarantee</span
                >
              </div>
            </div>
            <div
              class="tw-mt-8"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              <a
                href="about.html"
                class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-6 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 text-success-600 group-item text-capitalize"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">More About Us</span>
                <span class="z-1 position-relative tw-leading-none d-flex">
                  <i class="ph-bold ph-caret-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ About Five section end ===================== -->
