<!-- ============ baby love essentials section start ============== -->
<section class="z-1 py-100">
  <div class="container">
    <div class="tw-mb-8">
      <h2 class="fw-bold text-title-600 tw-mb-3 splitTextStyleOne">
        Baby Love
        <span class="fw-normal"> Essentials </span>
      </h2>
      <p class="fw-semibold tw-text-sm text-neutral-600">
        Dont miss this opportunity at a special discount just for this week.
      </p>
    </div>

    <div class="border-neutral-200 border rounded-4 d-flex flex-wrap">
      <div class="tw-py-11 tw-px-10" data-aos="fade-up" data-aos-duration="800">
        <ul class="max-w-187-px">
          <li class="tw-mb-505">
            <a
              href="shop.html"
              class="fw-normal tw-text-sm text-title-600 d-flex align-items-center tw-gap-3 justify-content-between"
            >
              Cough, Cold & Flu
              <span>
                <i class="ph ph-caret-right"></i>
              </span>
            </a>
          </li>

          <li class="tw-mb-505">
            <a
              href="shop.html"
              class="fw-normal tw-text-sm text-title-600 d-flex align-items-center tw-gap-3 justify-content-between"
            >
              Pain Relief
              <span>
                <i class="ph ph-caret-right"></i>
              </span>
            </a>
          </li>

          <li class="tw-mb-505">
            <a
              href="shop.html"
              class="fw-normal tw-text-sm text-title-600 d-flex align-items-center tw-gap-3 justify-content-between"
            >
              Allergy & Sinus
              <span>
                <i class="ph ph-caret-right"></i>
              </span>
            </a>
          </li>

          <li class="tw-mb-505">
            <a
              href="shop.html"
              class="fw-normal tw-text-sm text-title-600 d-flex align-items-center tw-gap-3 justify-content-between"
            >
              Digestive Health
              <span>
                <i class="ph ph-caret-right"></i>
              </span>
            </a>
          </li>

          <li class="tw-mb-505">
            <a
              href="shop.html"
              class="fw-normal tw-text-sm text-title-600 d-flex align-items-center tw-gap-3 justify-content-between"
            >
              Syrup & Camsule
              <span>
                <i class="ph ph-caret-right"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="border-neutral-200 border-start tw-gird-col">
        <div
          class="tw-border-md-none border-neutral-200 border-bottom border-end d-flex align-items-center"
          data-aos="fade-up"
          data-aos-duration="600"
        >
          <img
            src="assets/images/thumbs/baby-love-essentials-img1.png"
            alt="Thumbnail"
            class=""
          />
          <div>
            <h5 class="fw-bold text-title-600 tw-mb-2">Baby-milk</h5>
            <span class="fw-medium tw-text-sm text-neutral-600 fst-italic"
              >6 products</span
            >
          </div>
        </div>

        <div
          class="tw-border-md-none border-neutral-200 border-bottom border-end d-flex align-items-center"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          <img
            src="assets/images/thumbs/baby-love-essentials-img2.png"
            alt="Thumbnail"
            class=""
          />
          <div>
            <h5 class="fw-bold text-title-600 tw-mb-2">Nutrition Items</h5>
            <span class="fw-medium tw-text-sm text-neutral-600 fst-italic"
              >6 products</span
            >
          </div>
        </div>

        <div
          class="tw-border-md-none border-neutral-200 border-bottom d-flex align-items-center"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <img
            src="assets/images/thumbs/baby-love-essentials-img3.png"
            alt="Thumbnail"
            class=""
          />
          <div>
            <h5 class="fw-bold text-title-600 tw-mb-2">Baby Feeding Bottle</h5>
            <span class="fw-medium tw-text-sm text-neutral-600 fst-italic"
              >6 products</span
            >
          </div>
        </div>

        <div
          class="tw-border-md-none border-neutral-200 border-end d-flex align-items-center"
          data-aos="fade-up"
          data-aos-duration="600"
        >
          <img
            src="assets/images/thumbs/baby-love-essentials-img4.png"
            alt="Thumbnail"
            class=""
          />
          <div>
            <h5 class="fw-bold text-title-600 tw-mb-2">Baby Lotion</h5>
            <span class="fw-medium tw-text-sm text-neutral-600 fst-italic"
              >6 products</span
            >
          </div>
        </div>

        <div
          class="tw-border-md-none border-neutral-200 border-end d-flex align-items-center"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          <img
            src="assets/images/thumbs/baby-love-essentials-img5.png"
            alt="Thumbnail"
            class=""
          />
          <div>
            <h5 class="fw-bold text-title-600 tw-mb-2">moisture Oil</h5>
            <span class="fw-medium tw-text-sm text-neutral-600 fst-italic"
              >6 products</span
            >
          </div>
        </div>

        <div
          class="tw-border-md-none border-neutral-200 d-flex align-items-center"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <img
            src="assets/images/thumbs/baby-love-essentials-img6.png"
            alt="Thumbnail"
            class=""
          />
          <div>
            <h5 class="fw-bold text-title-600 tw-mb-2">Baby Shampoo</h5>
            <span class="fw-medium tw-text-sm text-neutral-600 fst-italic"
              >6 products</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============ baby love essentials section end ============== -->
