<section class="tw-pt-8 z-1">
    <div class="container">
        <div class="row gy-4">

            <div class="col-xl-7">
                <div class="background-img bg-img position-relative rounded-3" data-background-image="assets/images/bg/banner-two-bg-img1.png">

                    <div class="d-flex">
                        <div class="max-w-439 tw-pt-26 tw-pb-31 tw-ps-12">
                            <span class="tw-text-305 fw-semibold text-white bg-danger-600 tw-px-305 tw-py-105 banner-two-clip-path-one tw-mb-4">Medical equipment</span>
                            <h1 class="tw-text-9 fw-bold text-base-two-600">Diagnostic equipment 20% less...</h1>
                            <span class="fw-semibold tw-text-4 text-success-600 tw-py-7">Save up to 50% off on your first order</span>
                            <div class="tw-mb-8">
    
                                <div class="d-flex align-items-center tw-gap-105 tw-mb-3">
                                    <span class="tw-w-305 tw-h-4 text-primary-600 mb-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="tw-text-500 fw-medium text-base-two-700">Comfortably sleek</span>
                                </div>
    
                                <div class="d-flex align-items-center tw-gap-105 tw-mb-3">
                                    <span class="tw-w-305 tw-h-4 text-primary-600 mb-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="tw-text-500 fw-medium text-base-two-700">Keep your beat</span>
                                </div>
    
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-w-305 tw-h-4 text-primary-600 mb-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="tw-text-500 fw-medium text-base-two-700">GPS and a barometric altimeter</span>
                                </div>
    
                            </div>
                            <a href="#" class="fw-medium tw-text-500 text-white bg-main-600 rounded-pill tw-pt-1900 tw-pb-5 tw-ps-11 tw-pe-10 d-inline-flex align-items-center tw-gap-500 hover-bg-main-700 tw-transition-04s">
                                Buy Products
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
    
                        <div class="position-absolute tw-end-28 bottom-0 tw-mb-205">
                            <img src="assets/images/thumbs/banner-two-img1.png" alt="">
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-5">
                <div>

                    <div class="position-relative bg-danger-05 rounded-3 tw-ps-8 d-flex tw-mb-6">
    
                        <div class="tw-pt-18 tw-pb-16">
                            <span class="tw-text-3 fw-bold text-success-two-600 tw-mb-2">Get discount 10%</span>
                            <h4 class="tw-text-505 tw-mb-2">First Aid Box</h4>
                            <div class="tw-text-5 fw-bold text-base-two-600 tw-mb-9">
                                From
                                <span class="tw-text-705 text-danger-600">$99.00</span>
                            </div>
                            <a href="#" class="fw-medium tw-text-4 text-primary-600 d-flex align-items-center tw-gap-2">
                                Shop Now
                                <span class="text-primary-600 tw-text-1900">
                                    <i class="ph-fill ph-arrow-circle-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="position-absolute tw-end--23 bottom-0 tw-mb--19px">
                            <img src="assets/images/thumbs/banner-two-img3.png" alt="" class="">
                        </div>
    
                    </div>

                    <div class="background-img bg-img position-relative bg-danger-05 rounded-3 tw-ps-8 d-flex" data-background-image="assets/images/bg/banner-two-bg-img2.png">
    
                        <div class="tw-pt-18 tw-pb-16">
                            <span class="tw-text-3 fw-bold text-success-two-600 tw-mb-2">Get discount 10%</span>
                            <h4 class="tw-text-505 tw-mb-2">First Aid Box</h4>
                            <div class="tw-text-5 fw-bold text-base-two-600 tw-mb-9">
                                From
                                <span class="tw-text-705 text-danger-600">$99.00</span>
                            </div>
                            <a href="#" class="fw-medium tw-text-4 text-primary-600 d-flex align-items-center tw-gap-2">
                                Shop Now
                                <span class="text-primary-600 tw-text-1900">
                                    <i class="ph-fill ph-arrow-circle-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="position-absolute bottom-0 end-0">
                            <img src="assets/images/thumbs/banner-two-img2.png" alt="" class="">
                        </div>
    
                    </div>

                </div>
            </div> 

        </div>
    </div>
</section>