<!-- =========================== Banner section start ================================ -->
<section class="banner tw-py-80-px bg-main-40">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="">
                    <span class="bg-main-600 tw-py-1 tw-px-6 text-white tw-mb-4 clip-path-one">Medical equipment</span>
                    <h1 class="cursor-big splitTextStyleOne">Medical equipment Flat 20%</h1>
                    <p class="fw-medium text-success-600 tw-mt-4" data-aos="fade-up" data-aos-duration="700">Save up to 50% off on your first order</p>
                    <h4 class="text-danger-600 tw-mt-4" data-aos="fade-up" data-aos-duration="800"> <span class="text-danger-900 tw-text-xl">From</span> $99.00</h4>
                    <div class="tw-mt-8"  data-aos="fade-up" data-aos-duration="900">
                        <a href="shop.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-10 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 text-success-600 group-item text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Shop Now</span>
                            <span class="z-1 position-relative">
                                <img src="assets/images/icons/arrow-right.png" alt="icon" class="group-hover-item-text-invert">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="" data-aos="zoom-in" data-aos-duration="800">
                    <img src="assets/images/thumbs/banner-img.png" alt="Thumbnail">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Banner section End ================================ -->