<!-- ============================= Banner four section start ============================ -->
<section
  class="banner-four background-img bg-img gradient-overlay-eight z-1 overflow-hidden position-relative"
  data-background-image="assets/images/thumbs/banner-three-img2.png"
>
  <div class="container">
    <div class="max-w-824-px">
      <span
        class="text-heading fw-semibold tw-text-lg tw-tracking-widest"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
        >Hospitality at our core</span
      >
      <h1
        class="splitTextStyleOne tw-mt-1 max"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="200"
      >
        Best
        <span class="position-relative z-1">
          Hospitality
          <span
            class="position-absolute w-100 tw-h-105 bg-main-two-600 position-absolute bottom-0 tw-start-50 translate-middle-x tw-mb-3 z-n1"
          ></span>
        </span>
        & Dental Services
      </h1>
      <p
        class="tw-text-lg tw-mt-6 text-neutral-600 fw-medium max-w-520-px"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        In today's competitive business, the demand for efficient and
        cost-effective IT solutions has never been more critical.
      </p>
      <div
        class="tw-mt-10"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="400"
      >
        <a
          href="appointment.html"
          class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group tw-py-5 tw-px-9 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 text-heading group-item text-capitalize"
          data-block="button"
        >
          <span class="button__flair"></span>
          <span class="button__label">Book An Appointment</span>
          <span
            class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex"
          >
            <i class="ph-bold ph-caret-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ============================= Banner four section end ============================ -->
