<!-- =========================== Banner Two Start ================================= -->
<section class="tw-pt-8 z-1">
    <div class="container">
        <div class="row gy-4">

            <div class="col-xl-7" data-aos="fade-up" data-aos-duration="800">
                <div class="background-img bg-img position-relative tw-rounded-xl z-1" data-background-image="assets/images/bg/banner-two-bg-img1.png">

                    <div class="d-flex py-100 tw-ps-12">
                        <div class="max-w-390-px">
                            <span class="tw-text-sm fw-semibold text-white bg-danger-600 tw-px-305 tw-py-105 clip-path-two tw-mb-4">Medical equipment</span>
                            <h1 class="tw-text-9 fw-bold text-base-two-600 splitTextStyleOne cursor-big">Diagnostic equipment 20% less...</h1>
                            <span class="fw-semibold tw-text-base text-success-600 tw-py-7">Save up to 50% off on your first order</span>
                            <div class="tw-mb-8">
    
                                <div class="d-flex align-items-center tw-gap-105 tw-mb-3">
                                    <span class="tw-w-305 tw-h-4 text-primary-600 mb-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="tw-text-500 fw-medium text-base-two-700">Comfortably sleek</span>
                                </div>
    
                                <div class="d-flex align-items-center tw-gap-105 tw-mb-3">
                                    <span class="tw-w-305 tw-h-4 text-primary-600 mb-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="tw-text-500 fw-medium text-base-two-700">Keep your beat</span>
                                </div>
    
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-w-305 tw-h-4 text-primary-600 mb-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="tw-text-500 fw-medium text-base-two-700">GPS and a barometric altimeter</span>
                                </div>
    
                            </div>
                            <a href="shop.html" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-base tw-py-5 tw-px-10 tw-duration-200 d-inline-flex align-items-center justify-content-center fw-semibold rounded-pill text-capitalize" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label"> Buy Products</span>
                                <span class="tw-text-base text-white tw-leading-none z-1 d-flex">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
    
                        <div class="position-absolute tw-end-0 bottom-0 tw-mb--19px d-sm-block d-none tw--me-24-px">
                            <img src="assets/images/thumbs/banner-two-img1.png" alt="Thumbnail">
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-5">

                <div class="position-relative bg-danger-50 tw-rounded-xl tw-ps-8 tw-py-16 d-flex tw-mb-6" data-aos="fade-up" data-aos-duration="900">
                    <div class="">
                        <span class="tw-text-xs fw-bold text-success-600 text-uppercase tw-mb-2">Get discount 10%</span>
                        <h4 class="tw-text-2xl tw-mb-2 splitTextStyleOne cursor-big">First Aid Box</h4>
                        <div class="tw-text-xl fw-bold text-base-two-600 tw-mb-9 font-heading">
                            From
                            <span class="tw-text-705 text-danger-600">$99.00</span>
                        </div>
                        <a href="shop.html" class="fw-medium tw-text-base text-main-600 d-flex align-items-center tw-gap-2">
                            Shop Now
                            <span class="text-main-600 hover-text-main-500 tw-text-base d-flex tw-leading-none">
                                <i class="ph-fill ph-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="position-absolute tw-end-0 tw--me-24-px bottom-0 tw-mb--19px d-sm-block d-none">
                        <img src="assets/images/thumbs/banner-two-img3.png" alt="Thumbnail" class="">
                    </div>
                </div>

                <div class="" data-aos="fade-up" data-aos-duration="1100">
                    <div class="position-relative tw-rounded-xl tw-ps-8 tw-py-16 background-img bg-img " data-background-image="assets/images/bg/banner-two-bg-img2.png">
                        <div class="">
                            <span class="tw-text-xs fw-bold text-success-600 text-uppercase tw-mb-2">Get discount 10%</span>
                            <h4 class="tw-text-2xl tw-mb-2 splitTextStyleOne cursor-big">First Aid Box</h4>
                            <div class="tw-text-xl fw-bold text-base-two-600 tw-mb-9 font-heading">
                                From
                                <span class="tw-text-705 text-danger-600">$99.00</span>
                            </div>
                            <a href="shop.html" class="fw-medium tw-text-base text-main-600 d-flex align-items-center tw-gap-2">
                                Shop Now
                                <span class="text-main-600 hover-text-main-500 tw-text-base d-flex tw-leading-none">
                                    <i class="ph-fill ph-arrow-circle-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="position-absolute tw-end-0 bottom-0 tw-mb--19px d-sm-block d-none">
                            <img src="assets/images/thumbs/banner-two-img2.png" alt="Thumbnail" class="">
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</section>
<!-- =========================== Banner Two end ================================= -->