<!-- ============================= banner five start =============================== -->
<section class="banner-five py-120 position-relative z-1 overflow-hidden">
  <img src="assets/images/thumbs/banner-five-element1.png" alt="Element"
    class="banner-five-element d-sm-block d-none z-n1 banner-five-element-1 animation-upDown-two animation-delay-2 position-absolute tw-start-0 top-0" />
  <img src="assets/images/thumbs/banner-five-element2.png" alt="Element"
    class="banner-five-element d-sm-block d-none z-n1 banner-five-element-2 animation-upDown-two animation-delay-3 position-absolute tw-end-0 top-0" />
  <img src="assets/images/thumbs/banner-five-element3.png" alt="Element"
    class="banner-five-element d-sm-block d-none z-n1 banner-five-element-3 animation-upDown-two animation-delay-4 position-absolute tw-start-0 bottom-0" />
  <img src="assets/images/thumbs/banner-five-element4.png" alt="Element"
    class="banner-five-element d-sm-block d-none z-n1 banner-five-element-4 animation-upDown-two animation-delay-5 position-absolute tw-end-0 bottom-0" />

  <img src="assets/images/shapes/banner-five-shape1.png" alt="Shape"
    class="banner-five-shape position-absolute tw-start-0 bottom-0 animation-rotate-right" />

  <img src="assets/images/thumbs/banner-five-count-img.png" alt="Statistics"
    class="banner-five-count-img position-absolute bottom-0 tw-start-0" data-aos="fade-up" data-aos-duration="800"
    data-aos-delay="600" />

  <!-- Image -->
  <img src="assets/images/thumbs/banner-five-img.png" alt="Image"
    class="banner-five-image position-absolute tw-start-50 translate-middle-x bottom-0 z-n1" />

  <div class="">
    <img src="assets/images/shapes/banner-five-line-shape.png" alt="Line Shape"
      class="position-absolute top-50 start-50 translate-middle w-100 h-100 z-n1">
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="text-center position-relative z-1">
          <h1 class="text-white text-capitalize fw-medium" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            Caring Hands Healing at Home
          </h1>
          <p class="text-white tw-mt-8 h6 fw-normal max-w-640-px mx-auto tw-leading-18" data-aos="fade-up"
            data-aos-duration="800" data-aos-delay="300">
            we're committed to delivering world-class healthcare with a personal
            touch. From routine
          </p>
          <div class="tw-mt-9" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
            <a href="appointment.html"
              class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-four button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-605 tw-px-54-px fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 text-heading group-item text-capitalize"
              data-block="button">
              <span class="button__flair"></span>
              <span class="button__label">Book an Appointment</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================= banner five end =============================== -->