<!-- ================================== Become member section start ================================== -->
<section class="become-member py-120">
  <div class="container max-w-1800-px">
    <div
      class="tw-py-14 tw-px-40-px background-img bg-img gradient-overlay-two gradient-lg-full d-flex flex-lg-row flex-column tw-gap-100-px tw-rounded-3xl overflow-hidden"
      data-background-image="assets/images/thumbs/become-member-bg-img.png">
      <div class="bg-main-600 tw-rounded-3xl tw-py-16 tw-px-8 max-w-770-px w-100">
        <div class="section-heading tw-mb-15 max-w-520-px text-center mx-auto" data-aos="fade-up"
          data-aos-duration="700">
          <span class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest">Innovation at our core</span>
          <h2 class="splitTextStyleOne text-white">Become a member</h2>
          <p class="text-neutral-300 tw-text-lg fw-medium tw-mt-4">
            Whether it's crafting a visually stunning brand identity designing
            immersive digital experiences, or develo
          </p>
        </div>
        <div class="max-w-520-px mx-auto d-flex flex-sm-row flex-column tw-gap-42-px">
          <div class="max-w-232-px mx-auto" data-aos="fade-up" data-aos-duration="700">
            <img src="assets/images/icons/become-member-icon1.png" alt="Icon">
            <h5 class="text-white tw-mt-4 tw-mb-2">Doctor</h5>
            <p class="text-neutral-400 fw-medium">
              Nulla metus quam, dictum quis, congue sollicitudin
            </p>
          </div>
          <div class="d-xl-block d-none" data-aos="fade-up" data-aos-duration="800">
            <div class="tw-w-px h-100 bg-white-13"></div>
          </div>
          <div class="max-w-232-px mx-auto" data-aos="fade-up" data-aos-duration="900">
            <img src="assets/images/icons/become-member-icon1.png" alt="Icon">
            <h5 class="text-white tw-mt-4 tw-mb-2">Medical assistant</h5>
            <p class="text-neutral-400 fw-medium">
              Nulla metus quam, dictum quis, congue sollicitudin
            </p>
          </div>
        </div>
        <div class="tw-mt-14 text-center" data-aos="fade-up" data-aos-duration="800">
          <a href="appointment.html"
            class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-four button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-8 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white"
            data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">View open position</span>
            <span class="z-1 position-relative tw-leading-none d-flex">
              <i class="ph-bold ph-caret-right"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="max-w-670-px">
        <div class="section-heading tw-mb-13 text-start max-w-940-px">
          <span class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest">About our hospital</span>
          <h2 class="splitTextStyleOne">
            We Have Expert Doctors With Best Hospitality
          </h2>
        </div>
        <div class="max-w-560-px d-flex flex-column tw-gap-2">
          <div
            class="clickable-item active-bg-white active-border-0 tw-py-5 tw-px-4 d-flex align-items-center tw-gap-4 cursor-pointer border-neutral-300"
            data-aos="fade-up" data-aos-duration="800">
            <img src="assets/images/icons/become-member-faq-icon1.png" alt="Icon">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="tw-text-lg fw-semibold text-capitalize">Private health care services</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  ERP provides a complete leave management system for your HR.
                  Upcoming holidays and remaining leave balances.
                </p>
              </div>
            </div>
          </div>
          <div
            class="clickable-item active-bg-white active-border-0 tw-py-5 tw-px-4 d-flex align-items-center tw-gap-4 cursor-pointer border-neutral-300 active"
            data-aos="fade-up" data-aos-duration="800">
            <img src="assets/images/icons/become-member-faq-icon2.png" alt="Icon">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="tw-text-lg fw-semibold text-capitalize">Efficient use of medical imaging</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  ERP provides a complete leave management system for your HR.
                  Upcoming holidays and remaining leave balances.
                </p>
              </div>
            </div>
          </div>
          <div
            class="clickable-item active-bg-white active-border-0 tw-py-5 tw-px-4 d-flex align-items-center tw-gap-4 cursor-pointer border-neutral-300"
            data-aos="fade-up" data-aos-duration="800">
            <img src="assets/images/icons/become-member-faq-icon3.png" alt="Icon">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="tw-text-lg fw-semibold text-capitalize">Female Fertility & Reproductive Health</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  ERP provides a complete leave management system for your HR.
                  Upcoming holidays and remaining leave balances.
                </p>
              </div>
            </div>
          </div>
          <div
            class="clickable-item active-bg-white active-border-0 tw-py-5 tw-px-4 d-flex align-items-center tw-gap-4 cursor-pointer border-neutral-300"
            data-aos="fade-up" data-aos-duration="800">
            <img src="assets/images/icons/become-member-faq-icon4.png" alt="Icon">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="tw-text-lg fw-semibold text-capitalize">Specialized treatment & care hospitals</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  ERP provides a complete leave management system for your HR.
                  Upcoming holidays and remaining leave balances.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================== Become member section end ================================== -->