<!-- ============================== Best Doctor section start ================================== -->
<section class="best-doctor position-relative z-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="">
          <div
            class="section-heading tw-mb-10 text-start max-w-670-px tw-mt-12"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <span class="text-heading fw-semibold tw-text-lg tw-tracking-widest"
              >about our hospital</span
            >
            <h2 class="splitTextStyleOne">
              We Have Expert Doctors With Best Hospitality
            </h2>
            <h6 class="text-neutral-500 fw-normal tw-mt-5">
              A full administration printing background. Print shirts for
              yourself or your online business Beautiful, customizable template,
            </h6>
          </div>
          <div
            class="bg-main-600 tw-p-80-px d-flex flex-column tw-gap-6 triangle-right"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="200"
          >
            <a
              href="doctor-details.html"
              class="best-doctor__item cursor-pointer d-flex align-items-center justify-content-between tw-gap-4 tw-py-6 group group-item position-relative"
            >
              <div class="">
                <span class="text-white tw-duration-300 tw-text-lg"
                  >Dental Consultant</span
                >
                <h5 class="text-white tw-duration-300 tw-mt-2">
                  Camron Williamson
                </h5>
              </div>
              <span
                class="tw-text-3xl text-white tw-duration-300 tw-leading-none"
              >
                <i class="ph ph-arrow-up-right"></i>
              </span>
            </a>
            <a
              href="doctor-details.html"
              class="best-doctor__item cursor-pointer d-flex align-items-center justify-content-between tw-gap-4 tw-py-6 group group-item position-relative"
            >
              <div class="">
                <span class="text-white tw-duration-300 tw-text-lg"
                  >Dental Consultant</span
                >
                <h5 class="text-white tw-duration-300 tw-mt-2">
                  Brooklyn Simmons
                </h5>
              </div>
              <span
                class="tw-text-3xl text-white tw-duration-300 tw-leading-none"
              >
                <i class="ph ph-arrow-up-right"></i>
              </span>
            </a>
            <a
              href="doctor-details.html"
              class="best-doctor__item cursor-pointer d-flex align-items-center justify-content-between tw-gap-4 tw-py-6 group group-item position-relative"
            >
              <div class="">
                <span class="text-white tw-duration-300 tw-text-lg"
                  >Dental Consultant</span
                >
                <h5 class="text-white tw-duration-300 tw-mt-2">
                  Savannah Nguyen
                </h5>
              </div>
              <span
                class="tw-text-3xl text-white tw-duration-300 tw-leading-none"
              >
                <i class="ph ph-arrow-up-right"></i>
              </span>
            </a>
            <a
              href="doctor-details.html"
              class="best-doctor__item cursor-pointer d-flex align-items-center justify-content-between tw-gap-4 tw-py-6 group group-item position-relative"
            >
              <div class="">
                <span class="text-white tw-duration-300 tw-text-lg"
                  >Dental Consultant</span
                >
                <h5 class="text-white tw-duration-300 tw-mt-2">
                  Marvin McKinney
                </h5>
              </div>
              <span
                class="tw-text-3xl text-white tw-duration-300 tw-leading-none"
              >
                <i class="ph ph-arrow-up-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img
          src="assets/images/thumbs/best-doctor-img.png"
          alt="Thumb"
          class="best-doctor-image position-absolute tw-end-0 top-0 z-n1 h-100 d-lg-block d-none"
        />
      </div>
    </div>
  </div>
</section>
<!-- ============================== Best Doctor section end ================================== -->
