<!-- ================================== Blog Five section start ============================= -->
<section class="blog-five py-120 bg-white">
    <div class="container">
        <div
            class="section-heading tw-mb-10 d-flex align-items-center tw-gap-7 justify-content-between flex-md-row flex-column">
            <div class="max-w-770-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span
                    class="bg-danger-100 text-danger-600 fw-semibold tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-3 text-capitalize">News
                    & Blogs</span>
                <h3 class="splitTextStyleOne fw-medium text-balance">Stay Updated With Our Latest Insights</h3>
            </div>
            <div class="tw-mt-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <a href="blog.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-6 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 text-success-600 group-item text-capitalize"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">More About Us</span>
                    <span class="z-1 position-relative tw-leading-none d-flex">
                        <i class="ph-bold ph-caret-right"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-5 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="blog-five-item image-double-animation">
                    <a href="blog-details.html" class="overflow-hidden d-block position-relative">
                        <img src="assets/images/thumbs/blog-five-img1.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                        <img src="assets/images/thumbs/blog-five-img1.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                    </a>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="tw-px-5 border border-neutral-200 tw-py-1 rounded-pill text-heading fw-semibold">02
                                Apr 2021</span>
                            <span class="text-heading fw-semibold">Comments (03)</span>
                        </div>
                        <h5 class="tw-my-6 max-w-610-px">
                            <a href="blog-details.html"
                                class="element-double-animation text-heading fw-medium hover-text-main-600 line-clamp-3">
                                <span class="element-double-animation__element"
                                    data-content="Innovations in Cardiac Care: What's Next for Heart Health?">Innovations
                                    in Cardiac Care: What’s Next
                                    for Heart Health?</span>
                            </a>
                        </h5>
                        <a href="blog-details.html"
                            class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                            <span class="element-double-animation__element" data-content="Learn More">Learn
                                More</span>

                            <span class="tw-duration-300">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="blog-five-item image-double-animation">
                    <a href="blog-details.html" class="overflow-hidden d-block position-relative">
                        <img src="assets/images/thumbs/blog-five-img2.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                        <img src="assets/images/thumbs/blog-five-img2.png" alt="Image"
                            class="image-double-animation__element w-100 object-fit-cover">
                    </a>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="tw-px-5 border border-neutral-200 tw-py-1 rounded-pill text-heading fw-semibold">02
                                Apr 2021</span>
                            <span class="text-heading fw-semibold">Comments (03)</span>
                        </div>
                        <h5 class="tw-my-6 max-w-610-px">
                            <a href="blog-details.html"
                                class="element-double-animation text-heading fw-medium hover-text-main-600 line-clamp-3">
                                <span class="element-double-animation__element"
                                    data-content="The Importance of Regular Heart Screenings and Checkups">The
                                    Importance of Regular Heart Screenings and Checkups</span>
                            </a>
                        </h5>
                        <a href="blog-details.html"
                            class="text-main-600 fw-semibold border-bottom border-main-600 hover-border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation">
                            <span class="element-double-animation__element" data-content="Learn More">Learn More</span>

                            <span class="tw-duration-300">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== Blog Five section end ============================= -->