<!-- ============================ Book appointment section two start ========================== -->
<div class="book-appointment-section-two @@section-class">
  <div
    class="background-img bg-img pt-120 tw-pb-205-px gradient-overlay-seven"
    data-background-image="assets/images/thumbs/appointment-section-two-bg-img.png"
  >
    <div class="container">
      <div
        class="section-heading tw-mb-16 tw-pb-5 max-w-1000-px text-center mx-auto"
      >
        <span
          class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest"
          >about our hospital</span
        >
        <h2 class="splitTextStyleOne text-white">
          We are pleased to offer you the chance to have the healthy
        </h2>
        <button
          type="submit"
          class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-605 tw-px-13 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white tw-mt-10"
          data-block="button"
        >
          <span class="button__flair"></span>
          <span class="button__label">Book an appointment</span>
          <span class="z-1 position-relative tw-leading-none d-flex">
            <i class="ph-bold ph-caret-right"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Book appointment section two End ========================== -->
