<!-- ============================== book appointment section start ================================= -->
<section class="book-appointment-section py-120 position-relative">
    <div class="container">
        <div class="bg-white tw-rounded-xl tw-pt-16 tw-pb-13 tw-px-86-px common-shadow-5">
            <div class="section-heading tw-mb-11 text-center mx-auto">
                <h2 class="splitTextStyleOne cursor-big">Book An Appointment</h2>
                <p class="tw-text-lg fw-medium text-neutral-500 max-w-520-px mx-auto tw-mt-3">By submitting this form you are agrecing to our Privacy Policy, We guarantee not to disclose your information.</p>
            </div>

            <form action="#">
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div class="position-relative">
                            <input type="text" class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-16 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading" placeholder="Your Name">
                            <span class="position-absolute tw-end-0 top-50 translate-middle-y tw-me-6 tw-text-lg tw-leading-none d-flex">
                                <i class="ph-bold ph-users"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="position-relative">
                            <input type="email" class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-16 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading" placeholder="Email Address">
                            <span class="position-absolute tw-end-0 top-50 translate-middle-y tw-me-6 tw-text-lg tw-leading-none d-flex">
                                <i class="ph-bold ph-envelope-simple"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="position-relative">
                            <input type="date" class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-6 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="position-relative">
                            <select class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-16 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading">
                                <option value="">Select Treatment</option>
                                <option value="physiotherapy">Physiotherapy</option>
                                <option value="chiropractic">Chiropractic Adjustment</option>
                                <option value="acupuncture">Acupuncture</option>
                                <option value="massage">Therapeutic Massage</option>
                                <option value="rehab">Rehabilitation Therapy</option>
                                <option value="hydrotherapy">Hydrotherapy</option>
                                <option value="laser">Laser Therapy</option>
                                <option value="diet">Nutritional Counseling</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="position-relative">
                            <textarea class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-16 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading tw-h-188-px" placeholder="Write Message"></textarea>
                            <span class="position-absolute tw-end-0 top-0 tw-mt-5 tw-me-6 tw-text-lg tw-leading-none d-flex">
                                <i class="ph-bold ph-pencil-simple-line"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-605 tw-px-13 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white tw-mt-3" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Book and appointment</span>
                            <span class="z-1 position-relative tw-leading-none d-flex">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Map Start -->
    <div class="filter-grayscale-1 position-absolute bottom-0 tw-start-0 w-100 z-n1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26173892.15386034!2d-0.10275643708881325!3d47.670620919663314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ed8886cfadda85%3A0x72ef99e6b3fcf079!2sEurope!5e0!3m2!1sen!2sbd!4v1746202478386!5m2!1sen!2sbd" height="550" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="tw--mb-6-px w-100"></iframe>
    </div>
    <!-- Map End -->
    
</section>
<!-- ============================== book appointment section end ================================= -->