<!-- ========================= Book Appointment Section Five start ========================= -->
<section class="book-appointment-five py-120">
    <div class="container max-w-1720-px">
        <div class="row gy-4">
            <div class="col-xl-6 d-sm-block d-none" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="h-100 position-relative">
                    <img src="assets/images/thumbs/book-appontment-five-img.png" alt="Thumbnail"
                        class="tw-rounded-3xl w-100 h-100 object-fit-cover">
                    <div class="triangle-left-right bg-body-yellow tw-px-40-px tw-pt-7 d-flex align-items-center tw-gap-56-px position-absolute bottom-0 start-50 translate-middle-x min-w-max rounded-top-5"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <img src="assets/images/icons/score-rating-img1.png" alt="Rating Image">
                        <img src="assets/images/icons/score-rating-img2.png" alt="Rating Image">
                    </div>
                </div>
            </div>

            <div class="col-xl-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="bg-white tw-rounded-xl tw-pt-94-px tw-pb-94-px tw-px-60-px common-shadow-5">
                    <div class="section-heading tw-mb-11 text-center mx-auto">
                        <span
                            class="bg-danger-100 text-danger-600 fw-semibold tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-3 text-capitalize">
                            get in touch</span>
                        <h3 class="splitTextStyleOne fw-medium text-balance">Book an appointment for services</h3>
                        <p class="tw-text-lg fw-medium text-neutral-500 max-w-520-px mx-auto tw-mt-3">By submitting this
                            form you are agrecing to our Privacy Policy, We guarantee not to disclose your information.
                        </p>
                    </div>

                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="position-relative">
                                    <input type="text"
                                        class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-16 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading"
                                        placeholder="Name">
                                    <span
                                        class="position-absolute tw-end-0 top-50 translate-middle-y tw-me-6 tw-text-lg tw-leading-none d-flex">
                                        <i class="ph-bold ph-users"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="position-relative">
                                    <input type="email"
                                        class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-16 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading"
                                        placeholder="Email">
                                    <span
                                        class="position-absolute tw-end-0 top-50 translate-middle-y tw-me-6 tw-text-lg tw-leading-none d-flex">
                                        <i class="ph-bold ph-envelope-simple"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="position-relative">
                                    <select
                                        class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-16 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading">
                                        <option value="">Service Categories</option>
                                        <option value="physiotherapy">Physiotherapy</option>
                                        <option value="chiropractic">Chiropractic Adjustment</option>
                                        <option value="acupuncture">Acupuncture</option>
                                        <option value="massage">Therapeutic Massage</option>
                                        <option value="rehab">Rehabilitation Therapy</option>
                                        <option value="hydrotherapy">Hydrotherapy</option>
                                        <option value="laser">Laser Therapy</option>
                                        <option value="diet">Nutritional Counseling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="position-relative">
                                    <input type="date"
                                        class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-6 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="position-relative">
                                    <input type="time"
                                        class="tw-ps-6 tw-py-5 tw-rounded-xl bg-neutral-100 tw-pe-6 border border-neutral-200 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading">
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit"
                                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-two button--stroke d-flex align-items-center justify-content-center tw-gap-3 group tw-py-605 tw-px-13 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white tw-mt-3 w-100"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Book an appointment</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Book Appointment Section Five end ========================= -->