<!-- ========================== Book Appointment four section start =========================== -->
<section class="book-appoint-four tw-pt-17 half-bg-main-600 position-relative">
  <div class="container">
    <div
      class=""
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="100"
    >
      <h4 class="text-white max-w-610-px">
        Hospital doctors examine patients so that they can diagnose
      </h4>
      <div
        class="bg-white tw-rounded-lg common-shadow-11 tw-p-505 tw-mt-9 d-flex tw-gap-56-px flex-md-row flex-column"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <form action="#" class="flex-grow-1">
          <div class="row gy-4">
            <div class="col-sm-6">
              <div class="position-relative">
                <input
                  type="text"
                  class="tw-ps-16 tw-py-4 tw-rounded-xl bg-neutral-100 tw-pe-6 border border-neutral-300 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading"
                  placeholder="Request an appointment"
                />
                <span
                  class="position-absolute tw-start-0 top-50 translate-middle-y tw-ms-6 tw-text-xl tw-leading-none d-flex"
                >
                  <i class="ph-bold ph-users"></i>
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="position-relative">
                <input
                  type="text"
                  class="tw-ps-16 tw-py-4 tw-rounded-xl bg-neutral-100 tw-pe-6 border border-neutral-300 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading"
                  placeholder="Choose the Doctor"
                />
                <span
                  class="position-absolute tw-start-0 top-50 translate-middle-y tw-ms-6 tw-text-xl tw-leading-none d-flex"
                >
                  <i class="ph-bold ph-users"></i>
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="position-relative">
                <input
                  type="text"
                  class="tw-ps-16 tw-py-4 tw-rounded-xl bg-neutral-100 tw-pe-6 border border-neutral-300 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading"
                  placeholder="Patient name"
                />
                <span
                  class="position-absolute tw-start-0 top-50 translate-middle-y tw-ms-6 tw-text-xl tw-leading-none d-flex"
                >
                  <i class="ph-bold ph-users"></i>
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="position-relative">
                <input
                  type="text"
                  class="tw-ps-16 tw-py-4 tw-rounded-xl bg-neutral-100 tw-pe-6 border border-neutral-300 focus-outline-0 focus-border-main-600 w-100 fw-medium text-heading"
                  placeholder="Booking Date"
                />
                <span
                  class="position-absolute tw-start-0 top-50 translate-middle-y tw-ms-6 tw-text-xl tw-leading-none d-flex"
                >
                  <i class="ph-bold ph-users"></i>
                </span>
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-6 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 text-success-600 group-item text-capitalize tw-mt-4"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Doctors Information</span>
                <span class="z-1 position-relative tw-leading-none d-flex">
                  <i class="ph-bold ph-caret-right"></i>
                </span>
              </button>
            </div>
          </div>
        </form>

        <div class="bg-main-two-600 tw-rounded-xl tw-p-6 flex-shrink-0">
          <div class="bg-white tw-rounded-xl tw-p-6">
            <div class="d-flex align-items-center tw-gap-4">
              <img
                src="assets/images/icons/phone-icon-two.png"
                alt="Phone Icon"
              />
              <div class="">
                <span class="tw-text-sm text-heading fw-medium d-block"
                  >Need any Help! call Us today</span
                >
                <a
                  href="tel:+(2)871382023"
                  class="fw-semibold tw-text-base text-heading hover-underline hover-text-heading d-block"
                  >+(2) 871 382 023</a
                >
              </div>
            </div>
          </div>
          <div class="tw-mt-8">
            <h5 class="text-heading tw-mb-4">Need ambulance?call us</h5>
            <div class="d-flex flex-column tw-gap-1">
              <div class="d-flex align-items-center tw-gap-3">
                <span class="tw-text-lg tw-leading-none">
                  <i class="ph-fill ph-phone"></i>
                </span>
                <a
                  href="+(2) 871 382 023"
                  class="fw-semibold text-heading tw-text-base hover-underline hover-text-heading"
                  >+(2) 871 382 023</a
                >
              </div>
              <div class="d-flex align-items-center tw-gap-3">
                <span class="tw-text-lg tw-leading-none">
                  <i class="ph-fill ph-phone"></i>
                </span>
                <a
                  href="+(2) 871 382 023425"
                  class="fw-semibold text-heading tw-text-base hover-underline hover-text-heading"
                  >+(2) 871 382 023425</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================== Book Appointment four section end =========================== -->
