<!-- ============================ Brand Five section start =============================== -->
<div class="brand-five">
  <div class="container">
    <div class="text-center tw-mb-9 max-w-670-px mx-auto">
      <h6 class="fw-medium tw-text-lg">
        Featured by popular companies in the industry
      </h6>
    </div>

    <div
      class="swiper brand-slider left-right-gradient gradient-width-100 gradient-white"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-five-img1.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="200"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-five-img2.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-five-img3.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="400"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-five-img4.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="500"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-five-img5.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="600"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-five-img3.png" alt="Logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Brand Five section end =============================== -->
