<!-- ============================ Brand Four section start =============================== -->
<div class="brand-four py-120">
  <div class="container">
    <div class="text-center tw-mb-17 max-w-670-px mx-auto">
      <span class="tw-text-xl text-heading tw-leading-none animated-upDown">
        <i class="ph-bold ph-arrow-down"></i>
      </span>
      <h5 class="">Advanced revenue than this. I will refer everyone I know</h5>
    </div>

    <div class="swiper brand-slider left-right-gradient gradient-width-100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="100"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-img1.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="200"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-img2.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-img3.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="400"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-img4.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="500"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-img5.png" alt="Logo" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="element-double-animation tw-h-78-px d-flex align-items-center justify-content-center"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="600"
          >
            <div
              class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300"
            >
              <img src="assets/images/thumbs/brand-img3.png" alt="Logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Brand Four section end =============================== -->
