<!-- ============================ Banner three section start =========================== -->
<section class="breadcrumb mb-0">
  <div class="container max-w-1800-px">
    <div
      class="py-120 background-img bg-img gradient-overlay-five z-1 overflow-hidden tw-rounded-3xl position-relative"
      data-background-image="assets/images/thumbs/banner-three-img1.png"
    >
      <div class="container">
        <div class="max-w-824-px">
          <span class="text-heading fw-semibold tw-text-lg tw-tracking-widest"
            >Hospitality at our core</span
          >
          <h1 class="splitTextStyleOne tw-mt-1 max">
            @@startText
            <span class="position-relative z-1">
              @@middleText
              <span
                class="position-absolute w-100 tw-h-105 bg-main-two-600 position-absolute bottom-0 tw-start-50 translate-middle-x tw-mb-3 z-n1"
              ></span>
            </span>
            @@endText
          </h1>
          <p class="tw-text-lg tw-mt-6 text-neutral-500 fw-medium max-w-520-px">
            In today's competitive business, the demand for efficient and
            cost-effective IT solutions has never been more critical.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Banner three section End =========================== -->
