<!-- ============================ Counter Four section start =========================== -->
<section class="counter-four py-120">
  <div class="container">
    <div class="text-center tw-mb-17 max-w-670-px mx-auto">
      <span class=""> <i class="ph ph-arrow-right"></i> </span>
      <h5 class="">advanced revenue than this. I will refer everyone I know</h5>
    </div>

    <div class="tw-pb-13 border-bottom border-neutral-100">
      <div class="row gy-4">
        <div class="col-xl-3 col-sm-6">
          <div class="counter-four-item d-flex align-items-center tw-gap-705">
            <span
              class="tw-h-96-px tw-w-96-px common-shadow-12 bg-white rounded-circle d-flex justify-content-center align-items-center"
            >
              <img
                src="assets/images/icons/counter-four-icon1.png"
                alt="Icon"
              />
            </span>
            <div class="">
              <h3 class="counter">1992</h3>
              <span class="text-capitalize text-neutral-500 fw-medium tw-mt-1"
                >Years of operation</span
              >
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="counter-four-item d-flex align-items-center tw-gap-705">
            <span
              class="tw-h-96-px tw-w-96-px common-shadow-12 bg-white rounded-circle d-flex justify-content-center align-items-center"
            >
              <img
                src="assets/images/icons/counter-four-icon2.png"
                alt="Icon"
              />
            </span>
            <div class="">
              <h3 class="counter">12k+</h3>
              <span class="text-capitalize text-neutral-500 fw-medium tw-mt-1"
                >Patient we served</span
              >
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="counter-four-item d-flex align-items-center tw-gap-705">
            <span
              class="tw-h-96-px tw-w-96-px common-shadow-12 bg-white rounded-circle d-flex justify-content-center align-items-center"
            >
              <img
                src="assets/images/icons/counter-four-icon3.png"
                alt="Icon"
              />
            </span>
            <div class="">
              <h3 class="counter">30+</h3>
              <span class="text-capitalize text-neutral-500 fw-medium tw-mt-1"
                >Total Expert Dentist</span
              >
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="counter-four-item d-flex align-items-center tw-gap-705">
            <span
              class="tw-h-96-px tw-w-96-px common-shadow-12 bg-white rounded-circle d-flex justify-content-center align-items-center"
            >
              <img
                src="assets/images/icons/counter-four-icon1.png"
                alt="Icon"
              />
            </span>
            <div class="">
              <h3 class="counter">15+</h3>
              <span class="text-capitalize text-neutral-500 fw-medium tw-mt-1"
                >Dental Braches</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Counter Four section End =========================== -->
