<!-- ========================= Counter Five Two section start ============================ -->
<section class="counter-five-two py-120">
  <div class="container">
    <div class="row gy-4">
      <div class="col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="image-double-animation">
          <div class="tw-rounded-xl overflow-hidden d-block position-relative">
            <img src="assets/images/thumbs/counter-five-img1.png" alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
            <img src="assets/images/thumbs/counter-five-img1.png" alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
          </div>
        </div>
      </div>
      <div class="col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
        <div class="image-double-animation">
          <div class="tw-rounded-xl overflow-hidden d-block position-relative">
            <img src="assets/images/thumbs/counter-five-img2.png" alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
            <img src="assets/images/thumbs/counter-five-img2.png" alt="Image"
              class="image-double-animation__element tw-rounded-xl w-100 object-fit-cover">
          </div>
        </div>
      </div>
    </div>
    <div class="tw-mt-12">
      <div class="row gy-4">
        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
          <div class="text-center position-relative">
            <h2 class="text-140-px text-neutral-200 counter">145</h2>
            <span
              class="text-heading h6 text-capitalize w-100 fw-normal position-absolute top-50 start-50 translate-middle d-block">performed
              surgery</span>
          </div>
        </div>
        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
          <div class="text-center position-relative">
            <h2 class="text-140-px text-neutral-200 counter">74</h2>
            <span
              class="text-heading h6 text-capitalize w-100 fw-normal position-absolute top-50 start-50 translate-middle d-block">Satisfied
              patient</span>
          </div>
        </div>
        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
          <div class="text-center position-relative">
            <h2 class="text-140-px text-neutral-200 counter">134</h2>
            <span
              class="text-heading h6 text-capitalize w-100 fw-normal position-absolute top-50 start-50 translate-middle d-block">Staff
              Members</span>
          </div>
        </div>
        <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
          <div class="text-center position-relative">
            <h2 class="text-140-px text-neutral-200 counter">85</h2>
            <span
              class="text-heading h6 text-capitalize w-100 fw-normal position-absolute top-50 start-50 translate-middle d-block">Dental
              services</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= Counter Five Two section end ============================ -->