<!-- ======================= covid 19 cure vaccine two section start ========================== -->
<div class="z-1 tw-mb-91-px" data-aos="fade-up" data-aos-duration="800">
  <div class="container">
    <div
      class="background-img bg-img"
      data-background-image="assets/images/bg/covid-19-cure-vaccine-two-bg1.png"
    >
      <div
        class="d-flex align-items-center tw-gap-3 justify-content-between tw-ps-74-px tw-pe-110-px"
      >
        <div class="tw-py-10">
          <span class="fw-semibold tw-text-sm tw-mb-1 text-success-600"
            >50% off</span
          >
          <h2 class="tw-mb-205 text-title-600 splitTextStyleOne">
            Covid-19 Cure Vaccine
          </h2>
          <a
            href="#"
            class="text-danger-600 fw-semibold tw-text-base d-flex align-items-center tw-gap-2"
          >
            Shop Now
            <span>
              <i class="ph ph-caret-right"></i>
            </span>
          </a>
        </div>
        <img
          src="assets/images/thumbs/covid-19-cure-vaccine-two-img1.png"
          alt="Thumbnail"
          class="d-lg-block d-none"
        />
      </div>
    </div>
  </div>
</div>
<!-- ======================= covid 19 cure vaccine two section end ========================== -->
