<!-- ==================================== Deal Week Section start ============================ -->
<section class="deal-week background-img bg-img" data-background-image="assets/images/bg/deal-week-bg.png">
  <div class="container">
    <div class="row gy-4 align-items-center">
      <div class="col-md-6" data-aos="fade-up" data-aos-duration="800">
        <div class="tw-py-12 max-w-520-px">
          <div class="d-flex align-items-center tw-gap-205 flex-sm-nowrap flex-wrap tw-mb-4">
            <div class="d-flex align-items-center tw-gap-2" id="countdown2">
              <span
                class="tw-w-8 tw-h-8 bg-danger-600 fw-semibold tw-text-base text-white tw-rounded d-flex justify-content-center align-items-center days">02</span>
              <span class="text-heading tw-text-xl">:</span>
              <span
                class="tw-w-8 tw-h-8 bg-danger-600 fw-semibold tw-text-base text-white tw-rounded d-flex justify-content-center align-items-center hours">24</span>
              <span class="text-heading tw-text-xl">:</span>
              <span
                class="tw-w-8 tw-h-8 bg-danger-600 fw-semibold tw-text-base text-white tw-rounded d-flex justify-content-center align-items-center minutes">05</span>
              <span class="text-heading tw-text-xl">:</span>
              <span
                class="tw-w-8 tw-h-8 bg-danger-600 fw-semibold tw-text-base text-white tw-rounded d-flex justify-content-center align-items-center seconds">59</span>
              <span class="text-heading tw-text-xl">:</span>
            </div>
            <p class="text-neutral-500 tw-text-sm">
              Remains until the end of the offer
            </p>
          </div>
          <h2 class="text-main-600 splitTextStyleOne">
            Medical equipment Flat 20%
          </h2>
          <p class="fw-medium text-success-600 tw-mt-4">
            Save up to 50% off on your first order
          </p>
          <p class="fw-medium text-heading tw-mt-1 tw-text-xl">
            Sumptuous, filling, and temptingly healthy.
          </p>
          <div class="tw-mt-8">
            <button type="button"
              class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-base tw-py-5 tw-px-10 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill text-capitalize"
              data-block="button">
              <span class="button__flair"></span>
              <span class="button__label">Deal of the weak</span>
              <span class="tw-text-base text-white tw-leading-none z-1 d-flex">
                <i class="ph ph-arrow-right"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-md-block d-none" data-aos="fade-up" data-aos-duration="1000">
        <div class="text-center">
          <img src="assets/images/thumbs/deal-week-img.png" alt="Thumbnail">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================================== Deal Week Section End ============================ -->