<!-- ================= digital-medical two section start ================== -->
 <div class="tw-mb-20">
     <div class="container">
        <div class="row gy-4">

            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-pt-14 tw-pb-8 tw-ps-6 background-img bg-img" data-background-image="assets/images/thumbs/digital-medical-devices-bg-img1.png">  
                    <div class="max-w-220-px">
                        <h4 class="tw-mb-5 splitTextStyleOne cursor-big">Digital Medical Devices</h4>
                        <span class="tw-mb-6 fw-semibold tw-text-sm text-success-600 d-block">
                            Save up to 50% off
                        </span>
                        <a href="shop.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-305 tw-px-6 fw-semibold rounded-pill tw-text-sm tw-end-0 tw-duration-200 text-success-600 group-item text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Shop Now</span>
                            <span class="z-1 position-relative">
                                <img src="assets/images/icons/arrow-right.png" alt="icon" class="group-hover-item-text-invert">
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-duration="800">
                <div class="tw-pt-14 tw-pb-8 tw-ps-6 bg-main-two-500 d-flex position-relative">  
                    <div class="max-w-220-px w-100">
                        <h4 class="tw-mb-5 splitTextStyleOne cursor-big">Refreshing Medical Devices</h4>
                        <span class="tw-mb-6 fw-semibold tw-text-sm text-success-600 d-block">
                            Save up to 50% off
                        </span>
                        <a href="shop.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-305 tw-px-6 fw-semibold rounded-pill tw-text-sm tw-end-0 tw-duration-200 text-warning-600 group-item text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Shop Now</span>
                            <span class="z-1 position-relative">
                                <img src="assets/images/icons/arrow-right.png" alt="icon" class="group-hover-item-text-invert">
                            </span>
                        </a>
                    </div>
                    <img src="assets/images/thumbs/digital-medical-devices-img.png" alt="Thumbnail" class="position-absolute tw-end-0 tw-block-end--11-px d-sm-block d-none">
                </div>
            </div>

            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="tw-pt-14 tw-pb-8 tw-ps-6 background-img bg-img" data-background-image="assets/images/thumbs/digital-medical-devices-bg-img2.png">  
                    <div class="max-w-220-px">
                        <h4 class="tw-mb-5 splitTextStyleOne cursor-big">Digital Medical Devices</h4>
                        <span class="tw-mb-6 fw-semibold tw-text-sm text-success-600 d-block">
                            Save up to 50% off
                        </span>
                        <a href="shop.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-305 tw-px-6 fw-semibold rounded-pill tw-text-sm tw-end-0 tw-duration-200 text-success-600 group-item text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Shop Now</span>
                            <span class="z-1 position-relative">
                                <img src="assets/images/icons/arrow-right.png" alt="icon" class="group-hover-item-text-invert">
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
     </div>
 </div>
<!-- ================= digital-medical two section end ================== -->