<!-- ========================================== Discount Appointment Section start =============================== -->
<div class="discount-appointment">
  <div class="container max-w-1800-px">
    <div
      class="pt-100 tw-pb-152-px tw-px-60-px background-img bg-img tw-rounded-3xl overflow-hidden gradient-overlay-four"
      data-background-image="assets/images/thumbs/discount-appointment-bg.png"
    >
      <div class="container">
        <div class="">
          <span
            class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest"
            >Innovation at our core</span
          >
          <h2 class="splitTextStyleOne text-white max-w-670-px tw-mt-2">
            10% Discount for First Appointment!
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Cards Start -->
  <div class="tw--mt-110-px position-relative z-1">
    <div class="container">
      <div class="row gy-4">
        <div class="col-xl-3 col-sm-6">
          <div
            class="bg-main-600 tw-rounded-xl tw-py-8 tw-px-6 group hover-bg-main-two-600 tw-duration-300 h-100"
          >
            <h5 class="text-white group-hover-text-heading tw-duration-300">
              Headquarter -
            </h5>
            <p
              class="text-white tw-mt-4 fw-medium tw-duration-300 group-hover-text-heading"
            >
              4517 Washington Ave. Manch ester, Kentucky 39495
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div
            class="bg-main-600 tw-rounded-xl tw-py-8 tw-px-6 group hover-bg-main-two-600 tw-duration-300 h-100"
          >
            <h5 class="text-white group-hover-text-heading tw-duration-300">
              Email Us -
            </h5>
            <p
              class="text-white tw-mt-4 fw-medium tw-duration-300 group-hover-text-heading"
            >
              example@gmail.com
            </p>
            <p
              class="text-white tw-mt-1 fw-medium tw-duration-300 group-hover-text-heading"
            >
              example@gmail.com
            </p>
          </div>
        </div>
        <div class="col-xl-6">
          <div
            class="bg-main-600 tw-rounded-xl tw-py-8 tw-px-6 group hover-bg-main-two-600 tw-duration-300 h-100"
          >
            <h5 class="text-white group-hover-text-heading tw-duration-300">
              Headquarter -
            </h5>
            <div class="tw-mt-4 d-grid xs-grid-cols-2 grid-cols-2 tw-gap-5">
              <div class="d-flex align-items-center tw-gap-205">
                <span
                  class="tw-w-5 tw-h-5 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-xxs flex-shrink-0 text-white tw-duration-300 group-hover-text-heading"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span
                  class="fw-semibold tw-text-sm text-white tw-duration-300 group-hover-text-heading"
                  >Orientation for Business</span
                >
              </div>
              <div class="d-flex align-items-center tw-gap-205">
                <span
                  class="tw-w-5 tw-h-5 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-xxs flex-shrink-0 text-white tw-duration-300 group-hover-text-heading"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span
                  class="fw-semibold tw-text-sm text-white tw-duration-300 group-hover-text-heading"
                  >24/7 Support at Any Time</span
                >
              </div>
              <div class="d-flex align-items-center tw-gap-205">
                <span
                  class="tw-w-5 tw-h-5 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-xxs flex-shrink-0 text-white tw-duration-300 group-hover-text-heading"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span
                  class="fw-semibold tw-text-sm text-white tw-duration-300 group-hover-text-heading"
                  >Analyze the Problems You are Facing</span
                >
              </div>
              <div class="d-flex align-items-center tw-gap-205">
                <span
                  class="tw-w-5 tw-h-5 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-xxs flex-shrink-0 text-white tw-duration-300 group-hover-text-heading"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span
                  class="fw-semibold tw-text-sm text-white tw-duration-300 group-hover-text-heading"
                  >Qualified Sonsultants</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cards End -->
</div>
<!-- ========================================== Discount Appointment Section end =============================== -->
