<!-- ======================= essential medicine section start ===================== -->
 <section class="py-100">
    <div class="container max-w-1344-px">

        <div class="tw-mb-8 text-start d-flex align-items-center flex-wrap justify-content-between">
            <div class="">
                <h2 class="fw-bold text-title-600 tw-mb-3 splitTextStyleOne cursor-big">Essential  
                    <span class="fw-normal">Medicine</span>
                </h2>
                <p class="tw-text-sm fw-medium text-neutral-600">
                    Dont miss this opportunity at a special discount just for this week.
                </p>
            </div>
            <div class="d-flex align-items-center tw-gap-2">
                <button type="button" class="product-category-two-button-prev tw-w-11 tw-h-11 border text-heading border-neutral-200 rounded-circle flex-shrink-0 d-md-flex d-none align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                    <i class="ph-bold ph-arrow-left"></i>
                </button>
                <button type="button" class="product-category-two-button-next tw-w-11 tw-h-11 border text-heading border-neutral-200 rounded-circle flex-shrink-0 d-md-flex d-none align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                </button>
            </div>
        </div>

        <div class="d-flex flex-md-nowrap flex-wrap tw-gap-6">
            <!-- Sidebar Start -->
            <div class="bg-neutral-50 tw-pt-10 tw-pe-10 tw-ps-6 max-w-264-px w-100 rounded-3 tw-border-neutral-35" data-aos="fade-up" data-aos-duration="800">
                <a href="shop.html" class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-505">
                    <span class="fw-normal tw-text-sm text-main-600 hover-text-main-500">
                        Cough, Cold & Flu
                    </span>
                    <i class="ph ph-caret-right"></i>
                </a>
                <a href="shop.html" class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-505">
                    <span class="fw-normal tw-text-sm text-main-600 hover-text-main-500">
                        Pain Relief
                    </span>
                    <i class="ph ph-caret-right"></i>
                </a>
                <a href="shop.html" class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-505">
                    <span class="fw-normal tw-text-sm text-main-600 hover-text-main-500">
                        Allergy & Sinus
                    </span>
                    <i class="ph ph-caret-right"></i>
                </a>
                <a href="shop.html" class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-505">
                    <span class="fw-normal tw-text-sm text-main-600 hover-text-main-500">
                        Digestive Health
                    </span>
                    <i class="ph ph-caret-right"></i>
                </a>
                <a href="shop.html" class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-505">
                    <span class="fw-normal tw-text-sm text-main-600 hover-text-main-500">
                        Syrup & Camsule
                    </span>
                    <i class="ph ph-caret-right"></i>
                </a>
            </div>
            <!-- Sidebar End -->

            <!-- Slider Start -->
            <div class="flex-grow-1 swiper essential-medicine-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
                        <div class="tw-duration-200 hover-border-transparent group-item bg-white position-relative overflow-hidden">
                            <span class="tw-text-sm text-white bg-danger-600 tw-py-05 tw-px-305 rounded-pill position-absolute top-0 tw-start-0 tw-ms-2 tw-mt-3">Trending</span>
                            <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-100 toggle-active">
                                    <i class="ph ph-heart"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-200 toggle-active">
                                    <i class="ph ph-shuffle"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-300">
                                    <i class="ph ph-eye"></i>
                                </button>
                            </div>
                            <a href="shop-details.html" class="text-center w-100 tw-h-260-px overflow-hidden d-flex justify-content-center align-items-center bg-neutral-40 hover-bg-neutral-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/essential-medicine-img1.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                            </a>
                            <div class="tw-mt-5 tw-px-4 ">
                                <div class="tw-mt-4 d-flex align-items-center tw-gap-205">
                                    <div class="d-flex align-items-center tw-gap-px">
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                    </div>
                                    <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                </div>
                                <h6 class="tw-text-base tw-mt-1">
                                    <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                </h6>
                                <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                    <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                    <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                </div>
                                <div class="tw-mt-305">
                                    <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                        <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                            <i class="ph-bold ph-basket"></i>
                                        </span>
                                        <span class="button__label">Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="700">
                        <div class="tw-duration-200 hover-border-transparent group-item bg-white position-relative overflow-hidden">
                            <span class="tw-text-sm text-white bg-danger-600 tw-py-05 tw-px-305 rounded-pill position-absolute top-0 tw-start-0 tw-ms-2 tw-mt-3">Trending</span>
                            <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-100 toggle-active">
                                    <i class="ph ph-heart"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-200 toggle-active">
                                    <i class="ph ph-shuffle"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-300">
                                    <i class="ph ph-eye"></i>
                                </button>
                            </div>
                            <a href="shop-details.html" class="text-center w-100 tw-h-260-px overflow-hidden d-flex justify-content-center align-items-center bg-neutral-40 hover-bg-neutral-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/essential-medicine-img2.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                            </a>
                            <div class="tw-mt-5 tw-px-4 ">
                                <div class="tw-mt-4 d-flex align-items-center tw-gap-205">
                                    <div class="d-flex align-items-center tw-gap-px">
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                    </div>
                                    <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                </div>
                                <h6 class="tw-text-base tw-mt-1">
                                    <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                </h6>
                                <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                    <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                    <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                </div>
                                <div class="tw-mt-305">
                                    <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                        <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                            <i class="ph-bold ph-basket"></i>
                                        </span>
                                        <span class="button__label">Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                        <div class="tw-duration-200 hover-border-transparent group-item bg-white position-relative overflow-hidden">
                            <span class="tw-text-sm text-white bg-danger-600 tw-py-05 tw-px-305 rounded-pill position-absolute top-0 tw-start-0 tw-ms-2 tw-mt-3">Trending</span>
                            <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-100 toggle-active">
                                    <i class="ph ph-heart"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-200 toggle-active">
                                    <i class="ph ph-shuffle"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-300">
                                    <i class="ph ph-eye"></i>
                                </button>
                            </div>
                            <a href="shop-details.html" class="text-center w-100 tw-h-260-px overflow-hidden d-flex justify-content-center align-items-center bg-neutral-40 hover-bg-neutral-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/essential-medicine-img3.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                            </a>
                            <div class="tw-mt-5 tw-px-4 ">
                                <div class="tw-mt-4 d-flex align-items-center tw-gap-205">
                                    <div class="d-flex align-items-center tw-gap-px">
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                    </div>
                                    <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                </div>
                                <h6 class="tw-text-base tw-mt-1">
                                    <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                </h6>
                                <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                    <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                    <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                </div>
                                <div class="tw-mt-305">
                                    <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                        <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                            <i class="ph-bold ph-basket"></i>
                                        </span>
                                        <span class="button__label">Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="900">
                        <div class="tw-duration-200 hover-border-transparent group-item bg-white position-relative overflow-hidden">
                            <span class="tw-text-sm text-white bg-danger-600 tw-py-05 tw-px-305 rounded-pill position-absolute top-0 tw-start-0 tw-ms-2 tw-mt-3">Trending</span>
                            <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-100 toggle-active">
                                    <i class="ph ph-heart"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-200 toggle-active">
                                    <i class="ph ph-shuffle"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-300">
                                    <i class="ph ph-eye"></i>
                                </button>
                            </div>
                            <a href="shop-details.html" class="text-center w-100 tw-h-260-px overflow-hidden d-flex justify-content-center align-items-center bg-neutral-40 hover-bg-neutral-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/essential-medicine-img4.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                            </a>
                            <div class="tw-mt-5 tw-px-4 ">
                                <div class="tw-mt-4 d-flex align-items-center tw-gap-205">
                                    <div class="d-flex align-items-center tw-gap-px">
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                    </div>
                                    <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                </div>
                                <h6 class="tw-text-base tw-mt-1">
                                    <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                </h6>
                                <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                    <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                    <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                </div>
                                <div class="tw-mt-305">
                                    <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                        <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                            <i class="ph-bold ph-basket"></i>
                                        </span>
                                        <span class="button__label">Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                        <div class="tw-duration-200 hover-border-transparent group-item bg-white position-relative overflow-hidden">
                            <span class="tw-text-sm text-white bg-danger-600 tw-py-05 tw-px-305 rounded-pill position-absolute top-0 tw-start-0 tw-ms-2 tw-mt-3">Trending</span>
                            <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-100 toggle-active">
                                    <i class="ph ph-heart"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-200 toggle-active">
                                    <i class="ph ph-shuffle"></i>
                                </button>
                                <button type="button" class="bg-white text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-translate-x-60-px group-hover-item-translate-x-0 tw-delay-300">
                                    <i class="ph ph-eye"></i>
                                </button>
                            </div>
                            <a href="shop-details.html" class="text-center w-100 tw-h-260-px overflow-hidden d-flex justify-content-center align-items-center bg-neutral-40 hover-bg-neutral-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/essential-medicine-img3.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                            </a>
                            <div class="tw-mt-5 tw-px-4 ">
                                <div class="tw-mt-4 d-flex align-items-center tw-gap-205">
                                    <div class="d-flex align-items-center tw-gap-px">
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                    </div>
                                    <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                </div>
                                <h6 class="tw-text-base tw-mt-1">
                                    <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                </h6>
                                <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                    <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                    <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                </div>
                                <div class="tw-mt-305">
                                    <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                        <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                            <i class="ph-bold ph-basket"></i>
                                        </span>
                                        <span class="button__label">Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Emd -->
        </div>

    </div>
 </section>
<!-- ======================= essential medicine section end ===================== -->