<!-- ======================== Product Category section start ============================= -->
<section class="product-category py-100">
    <div class="container">

        <div class="section-heading tw-mb-10 text-center max-w-520-px mx-auto">
            <h3 class="cursor-big splitTextStyleOne">
                Features  
                <span class="fw-normal position-relative z-1">
                    Products <img src="assets/images/icons/line-rounded.svg" alt="Line" class="position-absolute top-100 tw-start-50 translate-middle-x z-n1">
                </span> 
            </h3>
            <p class="tw-text-sm text-neutral-600 tw-mt-205 fw-medium">Don't miss this opportunity at a special discount just for this week.</p>
        </div>
        
        <div class="row g-0 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5">
            <div class="tw-duration-200 hover-border-transparent group-item bg-white group-hover-item-absolute hover-rounded-xl">
                <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-sm tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 toggle-active">
                        <i class="ph ph-heart"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-sm tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible toggle-active">
                        <i class="ph ph-shuffle"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-sm tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                        <i class="ph ph-eye"></i>
                    </button>
                </div>
                <a href="shop-details.html" class="text-center w-100 tw-h-188-px overflow-hidden d-flex justify-content-center align-items-center bg-neutral-40 tw-rounded-xl">
                    <img src="assets/images/thumbs/trending-product-img2.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                </a>
                <div class="tw-mt-5 tw-px-4 ">
                    <div class="tw-mt-4 d-flex align-items-center tw-gap-205">
                        <div class="d-flex align-items-center tw-gap-px">
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                        </div>
                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                    </div>
                    <h6 class="tw-text-base tw-mt-1">
                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                    </h6>
                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                    </div>
                    <div class="tw-mt-305">
                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100" data-block="button">
                            <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                <i class="ph-bold ph-basket"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>        
            
    </div>
</section>
<!-- ======================== Product Category section End ============================= -->