<!-- ======================= Feature Five section start =========================== -->
<section class="feature-five pb-120">
    <div class="container max-w-1513-px">
        <div class="section-heading tw-mb-11 text-center mx-auto max-w-770-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <span
                class="bg-danger-100 text-danger-600 fw-semibold tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-3 text-capitalize">features</span>
            <h3 class="splitTextStyleOne fw-medium text-balance">Labaid Cancer Hospital & Super Speciality Centre</h3>
        </div>

        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div
                    class="feature-five-item tw-px-5 tw-py-70-px tw-rounded-3xl h-100 bg-white text-center animation-item common-shadow-6 border border-white hover-border-main-600 tw-duration-300">
                    <img src="assets/images/icons/feature-five-icon1.png" alt="Icon" class="animate__heartBeat">
                    <h5 class="tw-mt-8 fw-medium text-capitalize">Medical consult</h5>
                    <p class="tw-mt-8 text-neutral-600 fw-medium max-w-348-px mx-auto">Welcome to Marcus Medical, your
                        pathway to
                        natural-looking
                        injectors plastic</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div
                    class="feature-five-item tw-px-5 tw-py-70-px tw-rounded-3xl h-100 bg-white text-center animation-item common-shadow-6 border border-white hover-border-main-600 tw-duration-300">
                    <img src="assets/images/icons/feature-five-icon2.png" alt="Icon" class="animate__heartBeat">
                    <h5 class="tw-mt-8 fw-medium text-capitalize">Medical records</h5>
                    <p class="tw-mt-8 text-neutral-600 fw-medium max-w-348-px mx-auto">Welcome to Marcus Medical, your
                        pathway to
                        natural-looking
                        injectors plastic</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div
                    class="feature-five-item tw-px-5 tw-py-70-px tw-rounded-3xl h-100 bg-white text-center animation-item common-shadow-6 border border-white hover-border-main-600 tw-duration-300">
                    <img src="assets/images/icons/feature-five-icon3.png" alt="Icon" class="animate__heartBeat">
                    <h5 class="tw-mt-8 fw-medium text-capitalize">24/7 emergency</h5>
                    <p class="tw-mt-8 text-neutral-600 fw-medium max-w-348-px mx-auto">Welcome to Marcus Medical, your
                        pathway to
                        natural-looking
                        injectors plastic</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div
                    class="feature-five-item tw-px-5 tw-py-70-px tw-rounded-3xl h-100 bg-white text-center animation-item common-shadow-6 border border-white hover-border-main-600 tw-duration-300">
                    <img src="assets/images/icons/feature-five-icon1.png" alt="Icon" class="animate__heartBeat">
                    <h5 class="tw-mt-8 fw-medium text-capitalize">Ambulance services</h5>
                    <p class="tw-mt-8 text-neutral-600 fw-medium max-w-348-px mx-auto">Welcome to Marcus Medical, your
                        pathway to
                        natural-looking
                        injectors plastic</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Feature Five section end =========================== -->