<!-- =============================== Footer Three section start =================================== -->
<footer class="bg-main-600 pt-120 position-relative z-1">
    <img src="assets/images/shapes/footer-three-img1.png" alt="Shape" class="d-lg-block d-none position-absolute z-n1 bottom-0 tw-start-0 tw-ms-9 tw-mb-16 tw-pb-16">
    <img src="assets/images/shapes/footer-three-img2.png" alt="Shape" class="d-lg-block d-none position-absolute z-n1 bottom-0 tw-end-0 tw-me-10 tw-mb-16 tw-pb-16">
    
    <div class="container">
        <div class="tw-pb-11 border-bottom border-neutral-700 border-top-0 border-end-0 border-start-0">
            <div class="row gy-4">
                <div class="col-xl-7">
                    <div class="d-flex align-items-center tw-gap-4">
                        <img src="assets/images/icons/envelope-icon.png" alt="Envelope Icon">
                         <h4 class="text-white splitTextStyleOne">Get Our Latest's News & Updates</h4>
                    </div>
                </div>
                <div class="col-xl-5">
                    <form action="#" class="">
                        <div class="position-relative">
                            <input type="email" class="bg-white tw-ps-6 rounded-pill tw-py-4 focus-outline-0 w-100 tw-pe-16" placeholder="Business email adress">
                            <button type="submit" class="hover--translate-y-1 active--translate-y-50-scale-9 btn btn-main-two hover-style-three button--stroke d-flex align-items-center justify-content-center tw-gap-5 group p-0 fw-semibold tw-w-12 tw-h-12 tw-text-lg tw-duration-200 rounded-circle position-absolute top-50 translate-middle-y tw-end-0 tw-me-105" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                            </button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>

        <div class="tw-mt-14 tw-pb-13">
            <div class="row gy-5">
                <div class="col-xl-3 col-md-6">
                    <div class="">
                        <a href="index.html" class="link hover--translate-y-1 active--translate-y-scale-9 tw-mb-6">
                            <img src="assets/images/logo/logo-white.png" alt="Thumbnail">
                        </a>
                        <p class="text-white">A new way to make the payments easy, reliable and 100% secure. claritatem</p>
                        <div class="tw-mt-16 tw-pt-14 d-flex align-items-center tw-gap-4">
                            <a href="https://www.facebook.com" class="tw-w-10 tw-h-10 border border-white-12 rounded-circle d-flex justify-content-center align-items-center text-white hover-bg-main-two-600 hover-text-heading text-neutral-400">
                                <i class="ph-fill ph-facebook-logo"></i>
                            </a>
                            <a href="https://www.twitter.com" class="tw-w-10 tw-h-10 border border-white-12 rounded-circle d-flex justify-content-center align-items-center text-white hover-bg-main-two-600 hover-text-heading text-neutral-400">
                                <i class="ph-fill ph-twitter-logo"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="tw-w-10 tw-h-10 border border-white-12 rounded-circle d-flex justify-content-center align-items-center text-white hover-bg-main-two-600 hover-text-heading text-neutral-400">
                                <i class="ph-fill ph-linkedin-logo"></i>
                            </a>
                            <a href="https://www.instagram.com" class="tw-w-10 tw-h-10 border border-white-12 rounded-circle d-flex justify-content-center align-items-center text-white hover-bg-main-two-600 hover-text-heading text-neutral-400">
                                <i class="ph-fill ph-instagram-logo"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="">
                        <h6 class="fw-medium text--white tw-mb-8">Useful Links</h6>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Orthopedics</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Neurology</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Eye Care</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Endocrinology</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Dental</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="">
                        <h6 class="fw-medium text--white tw-mb-8">Community</h6>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Help Center</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Partners</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Suggestions</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Blog</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Newsletters</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="bg-main-700 tw-p-60-px">
                        <h6 class="fw-medium text--white tw-mb-8">Opening houres</h6>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <span class="hover-arrow-start text-neutral-300 hover-text-white">Monday :08.00 - 10.00</span>
                            </li>
                            <li>
                                <span class="hover-arrow-start text-neutral-300 hover-text-white">Monday :08.00 - 10.00</span>
                            </li>
                            <li>
                                <span class="hover-arrow-start text-neutral-300 hover-text-white">Monday :08.00 - 10.00</span>
                            </li>
                            <li>
                                <span class="hover-arrow-start text-neutral-300 hover-text-white">Monday :08.00 - 10.00</span>
                            </li>
                            <li>
                                <span class="hover-arrow-start text-neutral-300 hover-text-white">Monday :08.00 - 10.00</span>
                            </li>
                            <li>
                                <span class="hover-arrow-start text-neutral-300 hover-text-white">Monday :08.00 - 10.00</span>
                            </li>
                            <li>
                                <span class="hover-arrow-start text-neutral-300 hover-text-white">Monday :08.00 - 10.00</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom start -->
         <div class="d-flex flex-wrap align-items-center justify-content-between tw-pb-9">
            <p class="text--white text-line-1 fw-normal"> 
                © 2025 <a href="https://themeforest.net/user/wowtheme7" class="fw-medium text-main-two-600 hover-text-main-two-600 hover-underline hover--translate-y-1 active--translate-y-scale-9">WowTheme7</a> - Medical Services. All rights reserved.
            </p>
            <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                <a href="javascript:void(0)" class="text-white fw-bold hover-underline hover-text-main-two-600">Faqs</a>
                <a href="javascript:void(0)" class="text-white fw-bold hover-underline hover-text-main-two-600">Setting</a>
                <a href="javascript:void(0)" class="text-white fw-bold hover-underline hover-text-main-two-600">Privacy</a>
                <a href="javascript:void(0)" class="text-white fw-bold hover-underline hover-text-main-two-600">Contact</a>
            </div>
         </div>
        <!-- Footer Bottom End -->

        
    </div>
</footer>
<!-- =============================== Footer Three section end =================================== -->