<!-- ========================== Footer Five section start ============================= -->
<footer class="footer-five bg-white">
    <div class="footer-five__inner pt-120">
        <div class="container">
            <div class="">
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3 class="text-48-px">We Don't ignore patient We take care Them.</h3>
                    </div>
                    <div class="col-lg-6">
                        <form action="#" class="form-submit tw-py-48-px tw-px-54-px bg-white rounded-pill">
                            <div class="position-relative">
                                <input type="text"
                                    class="focus-outline-0 bg-transparent border-0 tw-pb-4 tw-pe-14 w-100 border-bottom border-neutral-200 focus-border-main-600 placeholder-text-black text-heading tw-text-lg placeholder-text-lg fw-medium"
                                    placeholder="Enter Email Address" required>
                                <button type="submit"
                                    class="tw-text-xl d-flex text-neutral-500 position-absolute top-0 tw-end-0 tw-pe-5">
                                    <img src="assets/images/icons/paper-up-right.png" alt="Paper Icon">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Content Start -->
            <div class="pt-120 tw-pb-14">
                <div class="row gy-5">
                    <div class="col-lg-4 col-sm-6 d-sm-block d-none">
                        <div
                            class="bg-main-two-600 text-heading rounded-circle text-center d-flex justify-content-center align-items-center flex-column tw-p-10 w-100 h-100 max-w-280-px aspect-ratio-1">
                            <h2 class="fw-medium counter text-100-px">12+</h2>
                            <h5 class="fw-medium">Department</h5>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="">
                            <h6 class="fw-bold text-title-600 tw-mb-8 text-capitalize">Useful Link</h6>
                            <ul class="d-flex flex-column tw-gap-4">
                                <li>
                                    <a href="about.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">About
                                        Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Pricing</a>
                                </li>
                                <li>
                                    <a href="blog.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Error
                                        404</a>
                                </li>
                                <li class="mb-0">
                                    <a href="doctor-list.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Doctor
                                        List</a>
                                </li>
                                <li class="mb-0">
                                    <a href="shop.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Product
                                        Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="">
                            <h6 class="fw-bold text-title-600 tw-mb-8 text-capitalize">Service</h6>
                            <ul class="d-flex flex-column tw-gap-4">
                                <li>
                                    <a href="service.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Retina
                                        clinic </a>
                                </li>
                                <li>
                                    <a href="service.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Glaucoma
                                        clinic </a>
                                </li>
                                <li>
                                    <a href="service.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Cornea
                                        eye disease
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Uveitis
                                        clinic
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Pediatric
                                        ophthalmology
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html"
                                        class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Neuro-ophthalmology
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="">
                            <h6 class="fw-bold text-title-600 tw-mb-8 text-capitalize">Say Hello</h6>
                            <a href="mailto:contact@pbmit.com"
                                class="tw-text-base text-decoration-underline fw-medium text-main-600 hover-text-main-500">contact@pbmit.com</a>
                            <a href="tel:+(02)574-328-301"
                                class="h6 text-decoration-underline fw-bold text-main-600 hover-text-main-500 tw-mt-2">+(02)
                                574 - 328 - 301</a>

                            <div class="position-relative tw-mt-6 hover-parallax-wrapper">
                                <a href="appointment.html"
                                    class="hover-parallax-item btn btn-main hover-style-two group group-item button--stroke d-flex flex-column align-items-center justify-content-center bg-main-600 text-white tw-w-140-px tw-h-140-px rounded-circle hover-text-heading p-0"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <img src="assets/images/icons/arrow-curve.png" alt="Arrow"
                                        class="tw-mb-2 invert-white group-hover-item-text-invert-black">
                                    <span class="text-capitalize tw-text-sm fw-bolder z-1">Get in
                                        tocuh</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content End -->

        </div>

        <!-- Bottom Footer Start -->
        <div class="container">
            <div class="border-top border-black-11 border-0 tw-py-8 position-relative z-1 pointer-events-none">
                <div class="container container-two pointer-events-auto">
                    <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
                        <p class="text-heading fw-semibold">
                            Copyright &copy; Medicol 2025 . All rights reserved, Wowtheme7
                        </p>
                        <ul class="pagination d-flex align-items-center tw-gap-5 justify-content-start flex-wrap">
                            <li>
                                <a href="https://www.facebook.com" class="tw-text-2xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" class="tw-text-2xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-twitter-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com"
                                    class="tw-text-2xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com"
                                    class="tw-text-2xl text-heading hover-text-main-600">
                                    <i class="ph-bold ph-pinterest-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.dribbble.com" class="tw-text-2xl text-heading hover-text-main-600">
                                    <i class="ph ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.dribbble.com" class="tw-text-2xl text-heading hover-text-main-600">
                                    <i class="ph ph-youtube-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer End -->

    </div>
</footer>
<!-- ========================== Footer Five section end ============================= -->