<!-- =============================== Footer Four section start =================================== -->
<footer class="bg-main-600 pt-120 position-relative z-1">
  <div class="container">
    <div class="tw-mt-14 tw-pb-13">
      <div class="row gy-5">
        <div class="col-xl-6">
          <div class="">
            <div class="">
              <h4 class="text-white tw-mb-8">Subscribe Newsletter</h4>
              <p class="text-white">
                We understand that every challenge is an opportunity we are here
                seize a team of dedicated professionals and a culture
              </p>
            </div>
            <form action="#" class="d-flex flex-md-row flex-column tw-gap-5 form-submit tw-mt-15">
              <div class="position-relative flex-grow-1">
                <input type="email"
                  class="tw-h-14 tw-rounded-lg bg-white-08 tw-ps-12 border border-white-12 focus-border-main-600 text-white focus-outline-0 w-100 tw-pe-6 placeholder-text-white-50"
                  placeholder="Email Address" required="">
                <span
                  class="text-white tw-text-lg position-absolute top-50 tw-start-0 tw--translate-y-50 tw-ms-5 d-flex">
                  <i class="ph ph-envelope-simple"></i>
                </span>
              </div>
              <button type="submit"
                class="btn btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 fw-semibold flex-shrink-0 hover--translate-y-1 active--translate-y-scale-9"
                data-block="button">
                <span class="button__flair" style="translate: none; rotate: none; scale: none"></span>
                <span class="button__label">Sign Up</span>
                <span
                  class="text-heading tw-text-base tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-text-main-600 tw-duration-500">
                  <i class="ph-bold ph-caret-right"></i>
                </span>
              </button>
            </form>
            <p class="text-neutral-400 tw-mt-5">
              By subscribing, you're accept
              <a href="javascript:void(0)" class="text-white hover-underline hover-text-white text-capitalize">Privacy
                Policy</a>
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="max-w-140-px mx-xl-auto">
            <h6 class="fw-medium text--white tw-mb-8">Services</h6>
            <ul class="d-flex flex-column tw-gap-4">
              <li>
                <a href="javascript:void(0)"
                  class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Dental
                  Bonding</a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Dental
                  CrownsI</a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Bridgework</a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Cosmetic
                  Fillings</a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Invisalign</a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="hover-arrow-start text-neutral-300 hover-text-white hover-underline hover--translate-y-1 active--translate-y-scale-9">Dental
                  Veneers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="d-flex flex-column tw-gap-10">
            <div class="">
              <h6 class="fw-medium text--white tw-mb-8 tw-text-lg">
                Locations
              </h6>
              <p class="text-neutral-300 h6 fw-normal font-body">
                55 Main Street, 2nd block Malborne, Australia
              </p>
            </div>

            <div class="">
              <h6 class="fw-medium text--white tw-mb-8 tw-text-lg">Contact</h6>
              <a href="mailto:support@gmail.com"
                class="font-body text-neutral-300 h6 fw-medium hover-text-white hover-underline">
                support@gmail.com
              </a>
              <a href="tel:+880(123)45688"
                class="font-body text-white h5 fw-medium hover-text-white hover-underline tw-mt-2">
                +880 (123) 456 88
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom start -->
    <div class="border-top border-white-12 border-bottom-0 border-end-0 border-start-0 tw-py-8">
      <div class="container container-two">
        <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
          <a href="index.html" class="link hover--translate-y-1 active--translate-y-scale-9">
            <img src="assets/images/logo/logo-white.png" alt="Thumbnail">
          </a>
          <p class="text--white text-line-1 fw-normal">
            &copy; 2025
            <a href="https://themeforest.net/user/wowtheme7"
              class="fw-medium text-main-two-600 hover-text-main-two-600 hover-underline hover--translate-y-1 active--translate-y-scale-9">WowTheme7</a>
            - IT Services. All rights reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer Bottom End -->
  </div>
</footer>
<!-- =============================== Footer Four section end =================================== -->