<section class="tw-pt-94-px overflow-hidden background-img bg-img"
    data-background-image="assets/images/bg/footer-two-bg1.png">
    <div class="container">
        <!-- ============================ Shipping two section start ================================ -->
        <div class="shipping tw-mb-15">
            <div
                class="d-flex align-items-center justify-content-sm-evenly justify-content-between flex-wrap flex-xl-nowrap tw-gap-4 border border-neutral-200 tw-rounded-lg tw-py-9 tw-px-4">
                <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="700">
                    <span class="tw-text-3xl tw-leading-none">
                        <img src="assets/images/icons/footer-two-icon1.png" alt="Thumbnail">
                    </span>
                    <div class="">
                        <h5 class="tw-text-base tw-mb-1 splitTextStyleOne">Free Shipping</h5>
                        <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                    </div>
                </div>
                <div class="d-xl-flex d-none tw-h-9">
                    <div class="tw-w-px h-100 bg-neutral-200"></div>
                </div>
                <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="800">
                    <span class="tw-text-3xl tw-leading-none">
                        <img src="assets/images/icons/footer-two-icon2.png" alt="Thumbnail">
                    </span>
                    <div class="">
                        <h6 class="tw-text-base tw-mb-1 splitTextStyleOne">100% Return Policy</h6>
                        <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                    </div>
                </div>
                <div class="d-xl-flex d-none tw-h-9">
                    <div class="tw-w-px h-100 bg-neutral-200"></div>
                </div>
                <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="900">
                    <span class="tw-text-3xl text-main-600 tw-leading-none">
                        <img src="assets/images/icons/footer-two-icon3.png" alt="Thumbnail">
                    </span>
                    <div class="">
                        <h6 class="tw-text-base tw-mb-1 splitTextStyleOne">Quality assurance</h6>
                        <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                    </div>
                </div>
                <div class="d-xl-flex d-none tw-h-9">
                    <div class="tw-w-px h-100 bg-neutral-200"></div>
                </div>
                <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="1000">
                    <span class="tw-text-3xl tw-leading-none">
                        <img src="assets/images/icons/footer-two-icon4.png" alt="Thumbnail">
                    </span>
                    <div class="">
                        <h6 class="tw-text-base tw-mb-1 splitTextStyleOne">Support 24/7</h6>
                        <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Shipping two section End ================================ -->

        <div class="tw-mb-15">
            <div class="row g-5">
                <div class="col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="">
                        <a href="index.html" class="link hover--translate-y-1 active--translate-y-scale-9 tw-mb-10">
                            <img src="assets/images/logo/logo.png" alt="Thumbnail">
                        </a>
                        <form action="#" class="d-flex flex-md-row flex-column tw-gap-5 form-submit">
                            <div class="position-relative flex-grow-1">
                                <input type="email"
                                    class="tw-h-14 tw-rounded-lg bg-white tw-ps-12 border border-white-12 focus-border-main-600 text-neutral-400 focus-outline-0 w-100 tw-pe-6"
                                    placeholder="Email Address" required>
                                <span
                                    class="text-title-600 tw-text-lg position-absolute top-50 tw-start-0 tw--translate-y-50 tw-ms-5 d-flex">
                                    <i class="ph ph-envelope-simple"></i>
                                </span>
                            </div>
                            <button type="submit"
                                class="btn btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 fw-bold flex-shrink-0 hover--translate-y-1 active--translate-y-scale-9 "
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Sign Up</span>
                                <span
                                    class="text-heading tw-text-base tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-text-main-600 tw-duration-500">
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </button>
                        </form>
                        <p class="tw-text-lg fw-medium tw-mt-9 text-title-600">
                            70 Washington Square South, New York, NY 10012, United States
                        </p>
                        <div class="tw-mt-8 d-flex align-items-center tw-gap-4">
                            <a href="htttps://www.playstore.com"
                                class="hover--translate-y-1 active--translate-y-scale-9">
                                <img src="assets/images/thumbs/footer-two-img1.png" alt="Play Store">
                            </a>
                            <a href="htttps://www.playstore.com"
                                class="hover--translate-y-1 active--translate-y-scale-9">
                                <img src="assets/images/thumbs/footer-two-img2.png" alt="Play Store">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="">
                        <h6 class="fw-bold text-title-600 tw-mb-8">My account</h6>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">About
                                    us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Delivery
                                    information</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Privacy
                                    Policy</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Sales</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Terms
                                    & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="">
                        <h6 class="fw-bold text-title-600 tw-mb-8">Service</h6>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">My
                                    orders</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Account
                                    details</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Returns</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)"
                                    class="hover-arrow-start text-title-600 hover-text-main-600 fw-medium hover-underline hover--translate-y-1 active--translate-y-scale-9">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1200">
                    <div class="">
                        <h6 class="fw-bold text-title-600 tw-mb-8">Locations</h6>
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-main-two-600">
                                <i class="ph ph-map-pin-area"></i>
                            </span>
                            <div class="">
                                <p class="text-title-600 fw-medium d-block mb-1 max-w-232-px">55 Main Street, 2nd block
                                    Malborne, Australia</p>
                            </div>
                        </div>

                        <h6 class="fw-semibold text-title-600 tw-mt-10 tw-mb-6">Contact</h6>
                        <p class="text-title-600 fw-medium d-block mb-1 max-w-232-px">
                            Monday - Friday: 9:00 - 20:00
                            Saturday: 9:00 - 15:00
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom Footer -->
        <div class="border-top border-white-12 border-bottom-0 border-end-0 border-start-0 tw-py-8">
            <div class="container container-two">
                <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
                    <p class="text-title-600 text-line-1 fw-medium tw-text-4">
                        &copy; 2025 <a href="https://themeforest.net/user/webnextpro/portfolio"
                            class="fw-medium text-main-two-600 hover-text-main-two-600 hover-underline hover--translate-y-1 active--translate-y-scale-9">Webnextpro</a>
                        - Medical Services. All rights reserved.
                    </p>
                    <div class="">
                        <img src="assets/images/thumbs/footer-bottom-two-img1.png" alt="Payment Method Image">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>