<!-- ======================= Gallery Five section start ============================= -->
<section class="gallery-five">
  <div class="container max-w-1800-px">
    <div class="bg-sky-custom tw-rounded-3xl py-120 position-relative z-1">
      <img src="assets/images/shapes/line-curve-shape1.png" alt="Shape"
        class="position-absolute top-50 start-50 translate-middle w-100 h-100 z-n1">

      <div class="container">
        <div class="max-w-1140-px mx-auto text-center tw-mb-17" data-aos="fade-up" data-aos-duration="800"
          data-aos-delay="0">
          <span class="bg-danger-30 text-danger-600 fw-semibold tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-3">
            hospital gallery</span>
          <h2 class="splitTextStyleOne cursor-big fw-medium text-balance">
            How Transformed Lives Through Health Tracking & Support
          </h2>
        </div>
      </div>


      <div class="container max-w-1440-px">
        <div class="">
          <div class="row gy-4 gallery-thumb-wrapper">
            <div class="col-sm-4">
              <div class="d-flex flex-sm-nowrap flex-wrap flex-column tw-gap-6">
                <div class="">
                  <img src="assets/images/thumbs/gallery-five-img1.png" class="gallery-thumb" alt="Gallery Image"
                    data-aos="fade-down" data-aos-duration="1600">
                </div>
                <div class="text-end">
                  <img src="assets/images/thumbs/gallery-five-img2.png" class="gallery-thumb" alt="Gallery Image"
                    data-aos="fade-up" data-aos-duration="1600">
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="d-flex flex-sm-nowrap flex-wrap flex-column tw-gap-6">
                <div class="d-flex flex-sm-nowrap flex-wrap tw-gap-6">
                  <div class="">
                    <img src="assets/images/thumbs/gallery-five-img3.png" class="gallery-thumb" alt="Gallery Image"
                      data-aos="fade-left" data-aos-duration="1600">
                  </div>
                  <div class="">
                    <img src="assets/images/thumbs/gallery-five-img4.png" class="gallery-thumb" alt="Gallery Image"
                      data-aos="fade-right" data-aos-duration="1600">
                  </div>
                </div>
                <div class="d-flex flex-sm-nowrap flex-wrap tw-gap-6">
                  <div class="">
                    <img src="assets/images/thumbs/gallery-five-img5.png" class="gallery-thumb" alt="Gallery Image"
                      data-aos="zoom-in" data-aos-duration="1600">
                  </div>
                  <div class="d-flex flex-sm-nowrap flex-wrap flex-column tw-gap-6">
                    <div class="">
                      <img src="assets/images/thumbs/gallery-five-img6.png" class="gallery-thumb" alt="Gallery Image"
                        data-aos="fade-up" data-aos-duration="1600">
                    </div>
                    <div class="text-start">
                      <img src="assets/images/thumbs/gallery-five-img7.png" class="gallery-thumb" alt="Gallery Image"
                        data-aos="fade-down" data-aos-duration="1600">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Gallery Image Start -->
      <!-- <div class="gallery-three-area text-center">
        <div class="gallery-three-thumb-wrap position-relative">
          <div class="gallery-three-thumb-inner-1 d-none d-xl-block">
            <img src="assets/images/thumbs/gallery-five-img1.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
          <div class="gallery-three-thumb-inner-2 d-none d-xl-block">
            <img src="assets/images/thumbs/gallery-five-img2.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
          <div class="gallery-three-thumb-inner-3 d-none d-xl-block">
            <img src="assets/images/thumbs/gallery-five-img3.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
          <div class="gallery-three-thumb-inner-4 d-none d-xl-block">
            <img src="assets/images/thumbs/gallery-five-img4.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
          <div class="gallery-three-thumb-inner-5 d-none d-xl-block">
            <img src="assets/images/thumbs/gallery-five-img5.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
          <div class="gallery-three-thumb-inner-6 d-none d-xl-block">
            <img src="assets/images/thumbs/gallery-five-img6.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
          <div class="gallery-three-thumb-inner-7 d-none d-xl-block">
            <img src="assets/images/thumbs/gallery-five-img7.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
          <div class="gallery-three-thumb">
            <img src="assets/images/thumbs/gallery-five-img1.png" alt="thumb"> class="gallery-thumb  data-aos="fade-up" data-aos-duration="1600""
          </div>
        </div>
      </div> -->
      <!-- Gallery Image End -->

    </div>
  </div>
</section>
<!-- ======================= Gallery Five section end ============================= -->