<div class="bg-neutral-40 tw-pt-205 tw-pb-2 flex-grow-1">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-4 flex-wrap">
            <div class="d-flex align-items-center tw-gap-505">
                
                <button type="button" class="category-button d-flex align-items-center tw-gap-3 text-heading bg-main-two-600 tw-px-5 tw-py-4 rounded-pill hover-bg-main-two-800 tw-transition-all fw-medium tw-text-sm w-100">
                    <span class="tw-text-lg tw-leading-none d-xl-flex d-none"><i class="ph-bold ph-squares-four"></i></span>
                    <span class="">Browse Categories</span>
                    <span class="tw-leading-none icon tw-transition-all"><i class="ph-bold ph-caret-down"></i></span>
                </button>

                <!-- form location Start -->
                    <form action="#" class="max-w-824-px w-100 d-sm-flex d-none w-100 flex-grow-1">
                        <div class="text-heading d-flex align-items-center text-sm w-100 tw-gap-4 border border-neutral-200 rounded-pill tw-py-3 tw-ps-4 tw-pe-105 bg-white flex-grow-1">
        
                            <div class="position-relative flex-grow-1 w-100">
                                <input type="text" class="border-0 focus-outline-0 bg-white placeholder-text-sm placeholder-text-neutral-500 tw-text-sm w-100 tw-pe-72-px w-100" placeholder="Search for products...">
                                <button type="submit" class="hover--translate-y-1 active--translate-y-50-scale-9 btn btn-main hover-style-one button--stroke d-flex align-items-center justify-content-center tw-gap-5 group p-0 fw-semibold rounded-pill tw-w-17 tw-h-11 tw-text-lg position-absolute top-50 translate-middle-y tw-end-0 tw-duration-200" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label"><i class="ph ph-magnifying-glass"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                <!-- form location start -->

            </div>

                <ul class="d-flex align-items-center tw-gap-6 flex-wrap">
                    <li>
                        <a href="https://www.facebook.com" class="tw-text-305 text-main-600">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/i/flow/login" class="tw-text-500 text-main-600">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/accounts/login/?hl=en" class="tw-text-500 text-main-600">
                            <i class="ph ph-instagram-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com" class="tw-text-500 text-main-600">
                            <i class="ph-fill ph-youtube-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com" class="tw-text-305 text-main-600">
                            <i class="ph-fill ph-pinterest-logo"></i>
                        </a>
                    </li>
                </ul>

        </div>
    </div>
</div>