<!-- ========================================== Join Community Section start =============================== -->
<div class="join-community">
    <div class="container max-w-1800-px">
        <div class="tw-py-16 tw-p-60-px background-img bg-img tw-rounded-3xl overflow-hidden" data-background-image="assets/images/thumbs/join-community-bg-img.png">
            <div class="row gy-4 align-items-center">
                <div class="col-lg-8 text-lg-start text-center">
                    <h4 class="splitTextStyleOne cursor-big text-white max-w-670-px">Want To Know How We Connect With The Community?</h4>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="contact.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-8 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Join with our community</span>
                        <span class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex">
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================================== Join Community Section end =============================== -->