<!-- ============================ Medical Service section start ================================== -->
<section class="medical-service tw-mt-16">
    <div class="container max-w-1800-px">
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="tw-px-40-px tw-py-12 tw-rounded-3xl bg-main-40 hover-bg-main-two-600 tw-duration-300 group h-100 d-flex flex-column justify-content-between">
                    <h4 class="splitTextStyleOne cursor-big">Diagnostic & Pathology service list & Cost</h4>
                    <div class="tw-mt-11 d-flex flex-column tw-gap-6">
                        <div class="d-flex align-items-center tw-gap-5">
                            <span class="tw-w-8 tw-h-8 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-sm text-heading">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-lg">Effordable cost for medical test</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-5">
                            <span class="tw-w-8 tw-h-8 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-sm text-heading">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-lg">Increase the level of ecuuracy of medical test</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-5">
                            <span class="tw-w-8 tw-h-8 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-sm text-heading">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-lg">Big Discount for poor & street people</span>
                        </div>
                    </div>
                    <div class="tw-mt-14">
                        <a href="appointment.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-10 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Book An Appointment</span>
                            <span class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="tw-px-40-px tw-py-12 tw-rounded-3xl bg-main-40 hover-bg-main-two-600 tw-duration-300 group h-100 d-flex flex-column justify-content-between">
                    <div class="">
                        <h4 class="splitTextStyleOne cursor-big max-w-420-px">Instant Ambulance Services.</h4>
                        <span class="text-heading tw-text-sm tw-mt-2 d-block fw-medium">Connect within 30 Minutes.</span>
                    </div>
                    <div class="tw-my-9">
                        <img src="assets/images/icons/24-hours-icon.png" alt="24 hours icon">
                    </div>
                    <div class="">
                        <h5 class="">Need ambulance?call us</h5>
                        <div class="d-flex flex-column tw-gap-3 tw-mt-4">
                            <div class="d-flex align-items-center tw-gap-205">
                                <span class="text-heading tw-text-sm"><i class="ph-bold ph-phone"></i></span>
                                <a href="tel:+(2)871382023" class="text-heading tw-text-sm fw-semibold hover-underline hover-text-heading">+(2) 871 382 023</a>
                            </div>
                            <div class="d-flex align-items-center tw-gap-205">
                                <span class="text-heading tw-text-sm"><i class="ph-bold ph-phone"></i></span>
                                <a href="tel:+(2)871382023425" class="text-heading tw-text-sm fw-semibold hover-underline hover-text-heading">+(2) 871 382 023425</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="tw-px-40-px tw-py-12 tw-rounded-3xl bg-main-40 hover-bg-main-two-600 tw-duration-300 group h-100 d-flex flex-column justify-content-between">
                    <div class="">
                        <h4 class="splitTextStyleOne cursor-big">Diagnostic & Pathology service list & Cost</h4>
                        <span class="text-heading tw-text-sm tw-mt-2 d-block fw-medium">Essentials at your doorstep.</span>
                    </div>

                    <div class="tw-mt-10 d-flex flex-column tw-gap-5">
                        <div class="d-flex align-items-center tw-gap-205 tw-pb-5 border-bottom border-neutral-200 justify-content-between">
                            <div class="d-flex align-items-center tw-gap-205">
                                <span class="text-heading tw-text-xl"><i class="ph-bold ph-phone"></i></span>
                                <span class="text-heading tw-text-lg fw-semibold hover-text-heading">Call Us Today: +1 800-123-1234</span>
                            </div>
                            <span class="tw-text-lg fw-semibold flex-shrink-0">03</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-205 tw-pb-5 border-bottom border-neutral-200 justify-content-between">
                            <div class="d-flex align-items-center tw-gap-205">
                                <span class="text-heading tw-text-xl"><i class="ph-bold ph-user"></i></span>
                                <span class="text-heading tw-text-lg fw-semibold hover-text-heading">200+ Proffesional Doctor available</span>
                            </div>
                            <span class="tw-text-lg fw-semibold flex-shrink-0">03</span>
                        </div>
                    </div>
                    <div class="tw-mt-10">
                        <a href="appointment.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-9 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Book An Appointment</span>
                            <span class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Medical Service section End ================================== -->