<!-- =========================== Medical Service five section start ==================== -->
<section class="medical-service-five tw-mt-11">
  <div class="container max-w-1800-px">
    <div class="row gy-4">
      <div
        class="col-xl-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <div
          class="tw-px-8 tw-py-12 h-100 animation-item tw-rounded-3xl tw-duration-300 d-flex flex-column justify-content-between bg-orange-100"
        >
          <span class="">
            <img
              src="assets/images/icons/medical-service-five-icon1.png"
              alt="Icon"
              class="animate__heartBeat"
            />
          </span>
          <div class="tw-mt-705">
            <h4 class="fw-medium">Book an appointment</h4>
            <p class="text-heading fw-medium tw-mt-4 tw-text-lg max-w-446-px">
              Welcome to Marcus Medical, your pathway to natural-looking results
              from industry-leading
            </p>
            <div class="tw-mt-7">
              <a
                href="appointment.html"
                class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 tw-py-5 tw-px-8 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize text-heading"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Book An Appointment</span>
                <span
                  class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex"
                >
                  <i class="ph-bold ph-caret-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <div
          class="tw-px-8 tw-py-12 h-100 animation-item tw-rounded-3xl tw-duration-300 d-flex flex-column justify-content-between bg-mint-50"
        >
          <span class="">
            <img
              src="assets/images/icons/medical-service-five-icon2.png"
              alt="Icon"
              class="animate__heartBeat"
            />
          </span>
          <div class="tw-mt-705">
            <h4 class="fw-medium">Available doctor</h4>
            <p class="text-heading fw-medium tw-mt-4 tw-text-lg max-w-446-px">
              Welcome to Marcus Medical, your pathway to natural-looking results
              from industry-leading
            </p>
            <div class="tw-mt-7">
              <a
                href="doctor-list.html"
                class="d-flex align-items-center tw-gap-2 fw-semibold text-danger-600 tw-text-base hover-text-main-600 hover-underline"
              >
                View All Doctor
                <i class="ph-bold ph-arrow-up-right tw-mt-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="400"
      >
        <div
          class="tw-px-8 tw-py-12 h-100 animation-item tw-rounded-3xl tw-duration-300 d-flex flex-column justify-content-between bg-soft-blue"
        >
          <span class="">
            <img
              src="assets/images/icons/medical-service-five-icon3.png"
              alt="Icon"
              class="animate__heartBeat"
            />
          </span>
          <div class="tw-mt-705">
            <h4 class="fw-medium">Opening hours</h4>
            <ul class="tw-mt-4">
              <li
                class="tw-text-base text-heading fw-semibold tw-pb-4 border-bottom border-neutral-100 tw-mb-4"
              >
                Monday :08.00 - 10.00
              </li>
              <li
                class="tw-text-base text-heading fw-semibold tw-pb-4 border-bottom border-neutral-100 tw-mb-4"
              >
                Monday :08.00 - 10.00
              </li>
              <li class="tw-text-base text-heading fw-semibold">
                Monday :08.00 - 10.00
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========================== Medical Service five section end ==================== -->
