<!-- =========================== Medical Equipment section start ============================ -->
<section class="medical-equipment py-100">
    <div class="container">

        <h1>medical  equipment Section</h1>

        
        <div class="tw-p-1 rounded-pill bg-danger">
            <ul class="nav nav-pills active-text-white animate-background-wrapper active-text-main-600 tw-gap-2 justify-content-center position-relative" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-capitalize fw-bold tw-text-base text-heading bg-transparent hover-text-main-600 tw-py-2 tw-px-6 active" id="pills-best-seller-two-tab" data-bs-toggle="pill" data-bs-target="#pills-best-seller-two" type="button" role="tab" aria-controls="pills-best-seller-two" aria-selected="true">best seller</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-capitalize fw-bold tw-text-base text-heading bg-transparent hover-text-main-600 tw-py-2 tw-px-6" id="pills-top-rated-two-tab" data-bs-toggle="pill" data-bs-target="#pills-top-rated-two" type="button" role="tab" aria-controls="pills-top-rated-two" aria-selected="false">top rated</button>
                </li>
                <li class="animate-background"></li>
            </ul>
        </div>


        <div class="tab-content" id="pills-tabContentTwo">
            <div class="tab-pane fade show active" id="pills-best-seller-two" role="tabpanel" aria-labelledby="pills-best-seller-two-tab" tabindex="0">best seller</div>
            <div class="tab-pane fade" id="pills-top-rated-two" role="tabpanel" aria-labelledby="pills-top-rated-two-tab" tabindex="0">top rated</div>
        </div>
        
    </div>
</section>
<!-- =========================== Medical Equipment section End ============================ -->