<!-- =========================== Medical Equipment section start ============================ -->
<section class="medical-equipment py-100 background-img bg-img" data-background-image="assets/images/bg/medical-equipment-bg.png">
    <div class="container">

        <div class="section-heading tw-mb-10 d-flex align-items-center justify-content-between flex-wrap tw-gap-6">
            <div class="max-w-520-px">
                <h3 class="cursor-big splitTextStyleOne">
                    Medical 
                    <span class="fw-normal position-relative z-1">
                        Equipment <img src="assets/images/icons/line-rounded.svg" alt="Line" class="position-absolute top-100 tw-start-50 translate-middle-x z-n1">
                    </span> 
                </h3>
                <p class="tw-text-sm text-neutral-600 tw-mt-205 fw-medium">Don't miss this opportunity at a special discount just for this week.</p>
            </div>
            <div class="tw-p-1 rounded-pill bg-white">
                <ul class="nav nav-pills active-text-white animate-background-wrapper active-text-main-600 tw-gap-2 justify-content-center position-relative z-1" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link text-capitalize fw-bold tw-text-base text-heading bg-transparent hover-text-main-600 tw-py-2 tw-px-6 active" id="pills-best-seller-two-tab" data-bs-toggle="pill" data-bs-target="#pills-best-seller-two" type="button" role="tab" aria-controls="pills-best-seller-two" aria-selected="true">best seller</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link text-capitalize fw-bold tw-text-base text-heading bg-transparent hover-text-main-600 tw-py-2 tw-px-6" id="pills-top-rated-two-tab" data-bs-toggle="pill" data-bs-target="#pills-top-rated-two" type="button" role="tab" aria-controls="pills-top-rated-two" aria-selected="false">top rated</button>
                    </li>
                    <li class="animate-background"></li>
                </ul>
            </div>
        </div>

        <div class="tab-content" id="pills-tabContentTwo">
            <div class="tab-pane fade show active" id="pills-best-seller-two" role="tabpanel" aria-labelledby="pills-best-seller-two-tab" tabindex="0">
                <div class="border border-neutral-200 tw-rounded-2xl">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="800">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img1.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="900">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img2.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6" data-aos="fade-up" data-aos-duration="1000">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img3.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                            <div class="background-img bg-img tw-pt-14 d-flex flex-column" data-background-image="assets/images/bg/medical-equipment-discount-bg.png">
                                <div class="tw-px-6">
                                    <span class="tw-py-105 bg-white border border-neutral-200 tw-px-4 rounded-pill fw-semibold tw-mb-2">Medical equipment</span>
                                    <h5 class="splitTextStyleOne text-heading">Save unto 10% extra enjoy FREE delivery</h5>
                                    <p class="text-neutral-600 fw-semibold tw-my-4">Save up to 50% off on your first order</p>
                                    <div class="d-flex flex-column tw-gap-2">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <img src="assets/images/icons/check.png" alt="Icon">
                                            <span class="text-heading fw-semibold">Comfortably sleek</span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <img src="assets/images/icons/check.png" alt="Icon">
                                            <span class="text-heading fw-semibold">Keep your beat</span>
                                        </div>
                                    </div>
                                    <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-main-two hover-style-three button--stroke tw-gap-105 group fw-semibold tw-rounded tw-text-base tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill text-capitalize tw-mt-6 hover-text-white" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Shop Now</span>
                                        <span class="tw-text-base text-heading tw-leading-none group-hover-text-white z-1 d-flex">
                                            <i class="ph ph-arrow-right"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="mt-auto">
                                    <img src="assets/images/thumbs/medical-equipment-discount-img.png" alt="Thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="800">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img4.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="900">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img5.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6" data-aos="fade-up" data-aos-duration="1000">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img6.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-top-rated-two" role="tabpanel" aria-labelledby="pills-top-rated-two-tab" tabindex="0">
                <div class="border border-neutral-200 tw-rounded-2xl">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="800">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img1.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="900">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img2.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6" data-aos="fade-up" data-aos-duration="1000">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img3.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                            <div class="background-img bg-img tw-pt-14 d-flex flex-column" data-background-image="assets/images/bg/medical-equipment-discount-bg.png">
                                <div class="tw-px-6">
                                    <span class="tw-py-105 bg-white border border-neutral-200 tw-px-4 rounded-pill fw-semibold tw-mb-2">Medical equipment</span>
                                    <h5 class="splitTextStyleOne text-heading">Save unto 10% extra enjoy FREE delivery</h5>
                                    <p class="text-neutral-600 fw-semibold tw-my-4">Save up to 50% off on your first order</p>
                                    <div class="d-flex flex-column tw-gap-2">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <img src="assets/images/icons/check.png" alt="Icon">
                                            <span class="text-heading fw-semibold">Comfortably sleek</span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <img src="assets/images/icons/check.png" alt="Icon">
                                            <span class="text-heading fw-semibold">Keep your beat</span>
                                        </div>
                                    </div>
                                    <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-main-two hover-style-three button--stroke tw-gap-105 group fw-semibold tw-rounded tw-text-base tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill text-capitalize tw-mt-6 hover-text-white" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Shop Now</span>
                                        <span class="tw-text-base text-heading tw-leading-none group-hover-text-white z-1 d-flex">
                                            <i class="ph ph-arrow-right"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="mt-auto">
                                    <img src="assets/images/thumbs/medical-equipment-discount-img.png" alt="Thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="800">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img4.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6 border-bottom border-neutral-200" data-aos="fade-up" data-aos-duration="900">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img5.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tw-duration-200 hover-border-transparent group-item position-relative overflow-hidden d-flex align-items-center tw-py-6" data-aos="fade-up" data-aos-duration="1000">
                                <a href="shop-details.html" class="position-relative text-center max-w-140-px w-100 tw-p-2 pe-0">
                                    <img src="assets/images/thumbs/medical-equipment-img6.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-ps-4">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-205 tw-mt-2">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$239.52</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$362.00</del>
                                    </div>
                                    <div class="tw-mt-305 max-w-200-px">
                                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 bg-white hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                                            <span class="button__flair" style="translate: none; rotate: none; scale: none; transform: translate(-12.489%, -20%) scale(0, 0);"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                                <i class="ph-bold ph-basket"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Medical Equipment section End ============================ -->