<!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center @@class">
    <li class="nav-menu__item has-submenu position-relative activePage">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-medium w-100">Home</a>
        <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-menu__item activePage">
                <a href="index.html" class="nav-submenu__link hover-bg-neutral-300 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"> Home One</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="#" class="nav-submenu__link hover-bg-neutral-300 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"> Home Two</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="#" class="nav-submenu__link hover-bg-neutral-300 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"> Home Three</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-medium w-100">Shop</a>
         <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="#" class="nav-submenu__link hover-bg-neutral-300 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"> Shop</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="#" class="nav-submenu__link hover-bg-neutral-300 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">Shop Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="#" class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-medium w-100">Electronics & gadget </a>
    </li>
    <li class="nav-menu__item">
        <a href="#" class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-medium w-100">Camera & Videos</a>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-medium w-100">All Pages</a>
         <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="#" class="nav-submenu__link hover-bg-neutral-300 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"> Cart </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="#" class="nav-submenu__link hover-bg-neutral-300 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">Diagnostic Bill</a>
            </li>
        </ul>
    </li>
</ul>
<!-- Nav menu End  -->
