<!-- ================= nutrition section start =================== -->
 <div class="nutrition">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800">
                <div class="tw-ps-13 tw-py-14 w-100 h-100 position-relative z-1 background-img bg-img" data-background-image="assets/images/bg/nutrition-two-bg-img1.png">
                    <div class="">
                        <span class="fw-bold tw-text-lg text-title-600">Nutrition</span>
                        <h4 class=" text-title-600 tw-mb-205">Essentials product</h4>
                        <span class="fw-bold tw-text-lg text-title-600 fst-italic tw-mb-705 d-block">Get up to 30% off</span>
                        <a href="#" class="tw-text-base fw-semibold text-main-600 d-flex align-itemscen tw-gap-2">
                            Shop Now
                            <span class="text-main-600 tw-text-xl ">
                                <i class="ph-fill ph-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                    <span class="position-absolute z-n1 top-50 translate-middle-y tw-end-0 tw-me-14">
                        <img src="assets/images/thumbs/nutrition-two-img1.png" alt="Thumbnail" class="">
                    </span>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="tw-ps-13 tw-py-14 w-100 h-100 position-relative z-1 background-img bg-img" data-background-image="assets/images/bg/nutrition-two-bg-img1.png">
                    <div class="">
                        <span class="fw-bold tw-text-lg text-title-600">Nutrition</span>
                        <h4 class=" text-title-600 tw-mb-205">Essentials product</h4>
                        <span class="fw-bold tw-text-lg text-title-600 fst-italic tw-mb-705 d-block">Get up to 30% off</span>
                        <a href="#" class="tw-text-base fw-semibold text-main-600 d-flex align-itemscen tw-gap-2">
                            Shop Now
                            <span class="text-main-600 tw-text-xl ">
                                <i class="ph-fill ph-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                    <span class="position-absolute z-n1 top-50 translate-middle-y tw-end-0 tw-me-4">
                        <img src="assets/images/thumbs/nutrition-two-img2.png" alt="Thumbnail" class="">
                    </span>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ================= nutrition section end =================== -->