<!-- ================= nutrition section start =================== -->
 <div class="tw-mb-19">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="tw-ps-13 w-100 h-100" style="background-image: url(assets/images/bg/nutrition-two-bg-img1.png);">
                    <div class="d-flex position-relative">
                        <div class="tw-pt-1305 tw-pb-1305">
                            <span class="fw-bold tw-text-405 text-title-600">Nutrition</span>
                            <h4 class=" text-title-600 tw-mb-205">Essentials product</h4>
                            <span class="fw-bold tw-text-405 text-title-600 fst-italic tw-mb-705 d-block">Get up to 30% off</span>
                            <a href="#" class="tw-text-4 fw-semibold text-main-600 d-flex align-itemscen tw-gap-2">
                                Shop Now
                                <span class="text-main-600 tw-text-5 ">
                                    <i class="ph-fill ph-arrow-circle-right"></i>
                                </span>
                            </a>
                        </div>
                        <span class="bottom-0 position-absolute tw-end-57-px">
                            <img src="assets/images/thumbs/nutrition-two-img1.png" alt="" class="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tw-ps-13 w-100 h-100" style="background-image: url(assets/images/bg/nutrition-two-bg-img1.png);">
                    <div class="d-flex position-relative">
                        <div class="tw-pt-1305 tw-pb-1305">
                            <span class="fw-bold tw-text-405 text-title-600">Nutrition</span>
                            <h4 class=" text-title-600 tw-mb-205">Essentials product</h4>
                            <span class="fw-bold tw-text-405 text-title-600 fst-italic tw-mb-705 d-block">Get up to 30% off</span>
                            <a href="#" class="tw-text-4 fw-semibold text-main-600 d-flex align-itemscen tw-gap-2">
                                Shop Now
                                <span class="text-main-600 tw-text-5 ">
                                    <i class="ph-fill ph-arrow-circle-right"></i>
                                </span>
                            </a>
                        </div>
                        <span class="position-absolute tw-block-end--18-px tw-end-57-px">
                            <img src="assets/images/thumbs/nutrition-two-img2.png" alt="" class="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ================= nutrition section end =================== -->