<!-- ============ offer products section start ============== -->
<section class="z-1 tw-mb-505">
    <div class="container">

        <div class="tw-mb-8">
            <h2 class="fw-bold text-title-600 tw-mb-3 splitTextStyleOne cursor-big">
                Offer 
                <span class="fw-normal">
                    Products
                </span>
            </h2>
            <p class="fw-semibold tw-text-sm text-neutral-600">Dont miss this opportunity at a special discount just for this week.</p>
        </div>

        <div class="row gy-4">

            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="border-neutral-200 border rounded-1">

                    <div class="tw-pt-11 tw-px-32-px text-center tw-mb-4">
                        <h4 class="tw-text-xl fw-semibold text-title-600 tw-mb-205">
                            12% Discount
                        </h4>
                        <span class="fw-normal tw-text-xs text-neutral-500 tw-mb-505">Time remaining until the end of the offer.</span>
                        <div class="d-flex align-items-center tw-gap-205 flex-wrap justify-content-center" id="countdown3">
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="days">1</span> d
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="hours">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="minutes">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="seconds">52</span> s
                            </span>
                        </div>
                    </div>

                    <span class="justify-content-center d-flex tw-mb-4">
                        <img src="assets/images/thumbs/offer-products-img1.png" alt="Thumbnail">
                    </span>

                    <div class="tw-px-44-px tw-pb-9 text-center">
                        <span class="fw-medium tw-text-xs text-success-600 tw-mb-1">IN STOCK</span>
                        <a href="#" class="fw-bold tw-text-sm text-title-600 hover-text-main-600 tw-duration-300 tw-mb-2">
                            Protein FatBlaster Keto-Fit Protein Vanilla
                        </a>
                        <div class="d-flex align-items-center tw-gap-105 justify-content-center tw-mb-205">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-semibold tw-text-xs text-title-600 ">
                                ( 2 Reviews )
                            </span>
                        </div>
                         <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                <i class="ph-bold ph-basket"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800">
                <div class="border-neutral-200 border rounded-1">

                    <div class="tw-pt-11 tw-px-32-px text-center tw-mb-4">
                        <h4 class="tw-text-xl fw-semibold text-title-600 tw-mb-205">
                            20% off & Mask free
                        </h4>
                        <span class="fw-normal tw-text-xs text-neutral-500 tw-mb-505">Time remaining until the end of the offer.</span>
                        <div class="d-flex align-items-center tw-gap-205 flex-wrap justify-content-center" id="countdown4">
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="days">1</span> d
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="hours">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="minutes">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="seconds">52</span> s
                            </span>
                        </div>
                    </div>

                    <span class="justify-content-center d-flex tw-mb-4">
                        <img src="assets/images/thumbs/offer-products-img2.png" alt="Thumbnail">
                    </span>

                    <div class="tw-px-44-px tw-pb-9 text-center">
                        <span class="fw-medium tw-text-xs text-success-600 tw-mb-1">IN STOCK</span>
                        <a href="#" class="fw-bold tw-text-sm text-title-600 hover-text-main-600 tw-duration-300 tw-mb-2">
                            Protein FatBlaster Keto-Fit Protein Vanilla
                        </a>
                        <div class="d-flex align-items-center tw-gap-105 justify-content-center tw-mb-205">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-semibold tw-text-xs text-title-600 ">
                                ( 2 Reviews )
                            </span>
                        </div>
                         <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                <i class="ph-bold ph-basket"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="border-neutral-200 border rounded-1">

                    <div class="tw-pt-11 tw-px-32-px text-center tw-mb-4">
                        <h4 class="tw-text-xl fw-semibold text-title-600 tw-mb-205">
                            09% off black friday
                        </h4>
                        <span class="fw-normal tw-text-xs text-neutral-500 tw-mb-505">Time remaining until the end of the offer.</span>
                        <div class="d-flex align-items-center tw-gap-205 flex-wrap justify-content-center" id="countdown5">
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="days">1</span> d
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="hours">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="minutes">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="seconds">52</span> s
                            </span>
                        </div>
                    </div>

                    <span class="justify-content-center d-flex tw-mb-4">
                        <img src="assets/images/thumbs/offer-products-img3.png" alt="Thumbnail">
                    </span>

                    <div class="tw-px-44-px tw-pb-9 text-center">
                        <span class="fw-medium tw-text-xs text-success-600 tw-mb-1">IN STOCK</span>
                        <a href="#" class="fw-bold tw-text-sm text-title-600 hover-text-main-600 tw-duration-300 tw-mb-2">
                            Protein FatBlaster Keto-Fit Protein Vanilla
                        </a>
                        <div class="d-flex align-items-center tw-gap-105 justify-content-center tw-mb-205">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-semibold tw-text-xs text-title-600 ">
                                ( 2 Reviews )
                            </span>
                        </div>
                         <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                <i class="ph-bold ph-basket"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="border-neutral-200 border rounded-1">

                    <div class="tw-pt-11 tw-px-32-px text-center tw-mb-4">
                        <h4 class="tw-text-xl fw-semibold text-title-600 tw-mb-205">
                            50% Discount
                        </h4>
                        <span class="fw-normal tw-text-xs text-neutral-500 tw-mb-505">Time remaining until the end of the offer.</span>
                        <div class="d-flex align-items-center tw-gap-205 flex-wrap justify-content-center" id="countdown6">
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="days">1</span> d
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="hours">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="minutes">01</span> h
                            </span>
                            <span class="fw-medium tw-text-xs text-title-600 bg-neutral-200 tw-px-3 tw-py-2 hover-bg-main-600 hover-text-white tw-duration-500 rounded-1">
                                <span class="seconds">52</span> s
                            </span>
                        </div>
                    </div>

                    <span class="justify-content-center d-flex tw-mb-4">
                        <img src="assets/images/thumbs/offer-products-img4.png" alt="Thumbnail">
                    </span>

                    <div class="tw-px-44-px tw-pb-9 text-center">
                        <span class="fw-medium tw-text-xs text-success-600 tw-mb-1">IN STOCK</span>
                        <a href="#" class="fw-bold tw-text-sm text-title-600 hover-text-main-600 tw-duration-300 tw-mb-2">
                            Protein FatBlaster Keto-Fit Protein Vanilla
                        </a>
                        <div class="d-flex align-items-center tw-gap-105 justify-content-center tw-mb-205">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-main-two-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-xxs  text-neutral-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-semibold tw-text-xs text-title-600 ">
                                ( 2 Reviews )
                            </span>
                        </div>
                         <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-neutral-100 hover-style-three button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-sm tw-py-305 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span><span class="tw-text-sm text-heading tw-leading-none z-1 d-flex group-hover-text-white">
                                <i class="ph-bold ph-basket"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div>
 </section>
<!-- ============ offer products section end ============== -->