<!-- ================================== Pricing Plan Section Start ============================== -->
<section class="pricing-plan py-120">
  <div class="container">
    <div class="section-heading tw-mb-12 text-center mx-auto">
      <span class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest"
        >Innovation at our core</span
      >
      <h2 class="splitTextStyleOne">Best Hospitality & Medical Services</h2>
      <p
        class="text-neutral-600 fw-medium tw-text-lg tw-mt-4 max-w-1000-px mx-auto"
      >
        We will work with you to develop individualised care plans, including
        management of chronic diseases. If we cannot assist we can provide
        referrals or advice about the type of practitioner you require.
      </p>
    </div>

    <div class="text-center">
      <div
        class="tw-p-105 rounded-pill bg-white d-inline-block common-shadow-3 tw-mb-8"
      >
        <ul
          class="nav nav-pills active-text-white animate-background-wrapper active-text-main-600 tw-gap-2 justify-content-center position-relative z-1"
          id="pills-tabThree"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link text-capitalize fw-bold tw-text-base text-heading bg-transparent hover-text-main-600 tw-py-2 tw-px-6 active"
              id="pills-monthly-two-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-monthly-two"
              type="button"
              role="tab"
              aria-controls="pills-monthly-two"
              aria-selected="true"
            >
              Monthly
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link text-capitalize fw-bold tw-text-base text-heading bg-transparent hover-text-main-600 tw-py-2 tw-px-6"
              id="pills-yearly-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-yearly"
              type="button"
              role="tab"
              aria-controls="pills-yearly"
              aria-selected="false"
            >
              Yearly
            </button>
          </li>
          <li class="animate-background"></li>
        </ul>
      </div>
    </div>

    <div class="tab-content" id="pills-tabThreeContentTwo">
      <div
        class="tab-pane show active"
        id="pills-monthly-two"
        role="tabpanel"
        aria-labelledby="pills-monthly-two-tab"
        tabindex="0"
      >
        <div class="row gy-4">
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-up"
            data-aos-duration="600"
          >
            <div
              class="tw-rounded-3xl overflow-hidden bg-white common-shadow-4 border border-neutral-200 hover-border-main-600 group group-item tw-px-48-px tw-py-14 tw-transition tw-duration-300 position-relative"
            >
              <img
                src="assets/images/shapes/half-moon-shape.png"
                alt="Half Moon"
                class="position-absolute tw-end-0 top-0 tw-mt-10"
              />
              <div class="">
                <div class="">
                  <span
                    class="tw-text-lg bg-main-two-600 text-heading fw-semibold tw-px-4 tw-py-1 tw-rounded-lg tw-mb-3"
                    >Regular Plan</span
                  >
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div class="tw-mt-10">
                  <div class="d-flex flex-column tw-gap-5 tw-mt-10">
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        3-5 days turnaround
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Native Development
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Task delivered one-by one
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Dedicated dashboard
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Updates via dashboard & slack
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        50k design & prints
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="tw-pt-6 border-top border-neutral-200 tw-mt-6"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <h3
                    class="tw-mb-4 fw-semibold tw-transition tw-duration-200 font-body"
                  >
                    $19.99<span class="tw-text-base fw-medium text-neutral-500"
                      >/Month</span
                    >
                  </h3>
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div
                  class="tw-mt-13"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <a
                    href="contact.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-outline-main hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-505 tw-px-4 fw-semibold tw-text-base tw-end-0 tw-duration-200 group-item text-capitalize w-100 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Choose Package</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-up"
            data-aos-duration="600"
          >
            <div
              class="tw-rounded-3xl overflow-hidden bg-white common-shadow-4 border border-neutral-200 hover-border-main-600 group group-item tw-px-48-px tw-py-14 tw-transition tw-duration-300 position-relative"
            >
              <img
                src="assets/images/shapes/half-moon-shape.png"
                alt="Half Moon"
                class="position-absolute tw-end-0 top-0 tw-mt-10"
              />
              <div class="">
                <div class="">
                  <span
                    class="tw-text-lg bg-main-two-600 text-heading fw-semibold tw-px-4 tw-py-1 tw-rounded-lg tw-mb-3"
                    >Pro Plan</span
                  >
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div class="tw-mt-10">
                  <div class="d-flex flex-column tw-gap-5 tw-mt-10">
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        3-5 days turnaround
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Native Development
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Task delivered one-by one
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Dedicated dashboard
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Updates via dashboard & slack
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        50k design & prints
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="tw-pt-6 border-top border-neutral-200 tw-mt-6"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <h3
                    class="tw-mb-4 fw-semibold tw-transition tw-duration-200 font-body"
                  >
                    $39.99<span class="tw-text-base fw-medium text-neutral-500"
                      >/Month</span
                    >
                  </h3>
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div
                  class="tw-mt-13"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <a
                    href="contact.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-outline-main hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-505 tw-px-4 fw-semibold tw-text-base tw-end-0 tw-duration-200 group-item text-capitalize w-100 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Choose Package</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-up"
            data-aos-duration="600"
          >
            <div
              class="tw-rounded-3xl overflow-hidden bg-white common-shadow-4 border border-neutral-200 hover-border-main-600 group group-item tw-px-48-px tw-py-14 tw-transition tw-duration-300 position-relative"
            >
              <img
                src="assets/images/shapes/half-moon-shape.png"
                alt="Half Moon"
                class="position-absolute tw-end-0 top-0 tw-mt-10"
              />
              <div class="">
                <div class="">
                  <span
                    class="tw-text-lg bg-main-two-600 text-heading fw-semibold tw-px-4 tw-py-1 tw-rounded-lg tw-mb-3"
                    >Enterprise Plan</span
                  >
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div class="tw-mt-10">
                  <div class="d-flex flex-column tw-gap-5 tw-mt-10">
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        3-5 days turnaround
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Native Development
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Task delivered one-by one
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Dedicated dashboard
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Updates via dashboard & slack
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        50k design & prints
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="tw-pt-6 border-top border-neutral-200 tw-mt-6"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <h3
                    class="tw-mb-4 fw-semibold tw-transition tw-duration-200 font-body"
                  >
                    $59.99<span class="tw-text-base fw-medium text-neutral-500"
                      >/Month</span
                    >
                  </h3>
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div
                  class="tw-mt-13"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <a
                    href="contact.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-outline-main hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-505 tw-px-4 fw-semibold tw-text-base tw-end-0 tw-duration-200 group-item text-capitalize w-100 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Choose Package</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane"
        id="pills-yearly"
        role="tabpanel"
        aria-labelledby="pills-yearly-tab"
        tabindex="0"
      >
        <div class="row gy-4">
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-up"
            data-aos-duration="600"
          >
            <div
              class="tw-rounded-3xl overflow-hidden bg-white common-shadow-4 border border-neutral-200 hover-border-main-600 group group-item tw-px-48-px tw-py-14 tw-transition tw-duration-300 position-relative"
            >
              <img
                src="assets/images/shapes/half-moon-shape.png"
                alt="Half Moon"
                class="position-absolute tw-end-0 top-0 tw-mt-10"
              />
              <div class="">
                <div class="">
                  <span
                    class="tw-text-lg bg-main-two-600 text-heading fw-semibold tw-px-4 tw-py-1 tw-rounded-lg tw-mb-3"
                    >Regular Plan</span
                  >
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div class="tw-mt-10">
                  <div class="d-flex flex-column tw-gap-5 tw-mt-10">
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        3-5 days turnaround
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Native Development
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Task delivered one-by one
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Dedicated dashboard
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Updates via dashboard & slack
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        50k design & prints
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="tw-pt-6 border-top border-neutral-200 tw-mt-6"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <h3
                    class="tw-mb-4 fw-semibold tw-transition tw-duration-200 font-body"
                  >
                    $119.99<span class="tw-text-base fw-medium text-neutral-500"
                      >/Month</span
                    >
                  </h3>
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div
                  class="tw-mt-13"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <a
                    href="contact.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-outline-main hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-505 tw-px-4 fw-semibold tw-text-base tw-end-0 tw-duration-200 group-item text-capitalize w-100 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Choose Package</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-up"
            data-aos-duration="600"
          >
            <div
              class="tw-rounded-3xl overflow-hidden bg-white common-shadow-4 border border-neutral-200 hover-border-main-600 group group-item tw-px-48-px tw-py-14 tw-transition tw-duration-300 position-relative"
            >
              <img
                src="assets/images/shapes/half-moon-shape.png"
                alt="Half Moon"
                class="position-absolute tw-end-0 top-0 tw-mt-10"
              />
              <div class="">
                <div class="">
                  <span
                    class="tw-text-lg bg-main-two-600 text-heading fw-semibold tw-px-4 tw-py-1 tw-rounded-lg tw-mb-3"
                    >Pro Plan</span
                  >
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div class="tw-mt-10">
                  <div class="d-flex flex-column tw-gap-5 tw-mt-10">
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        3-5 days turnaround
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Native Development
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Task delivered one-by one
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Dedicated dashboard
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Updates via dashboard & slack
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        50k design & prints
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="tw-pt-6 border-top border-neutral-200 tw-mt-6"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <h3
                    class="tw-mb-4 fw-semibold tw-transition tw-duration-200 font-body"
                  >
                    $339.99<span class="tw-text-base fw-medium text-neutral-500"
                      >/Month</span
                    >
                  </h3>
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div
                  class="tw-mt-13"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <a
                    href="contact.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-outline-main hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-505 tw-px-4 fw-semibold tw-text-base tw-end-0 tw-duration-200 group-item text-capitalize w-100 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Choose Package</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-up"
            data-aos-duration="600"
          >
            <div
              class="tw-rounded-3xl overflow-hidden bg-white common-shadow-4 border border-neutral-200 hover-border-main-600 group group-item tw-px-48-px tw-py-14 tw-transition tw-duration-300 position-relative"
            >
              <img
                src="assets/images/shapes/half-moon-shape.png"
                alt="Half Moon"
                class="position-absolute tw-end-0 top-0 tw-mt-10"
              />
              <div class="">
                <div class="">
                  <span
                    class="tw-text-lg bg-main-two-600 text-heading fw-semibold tw-px-4 tw-py-1 tw-rounded-lg tw-mb-3"
                    >Enterprise Plan</span
                  >
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div class="tw-mt-10">
                  <div class="d-flex flex-column tw-gap-5 tw-mt-10">
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        3-5 days turnaround
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Native Development
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Task delivered one-by one
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="500"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Dedicated dashboard
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="600"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        Updates via dashboard & slack
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center tw-gap-4"
                      data-aos="fade-up"
                      data-aos-duration="700"
                    >
                      <img
                        src="assets/images/icons/check-circle.png"
                        alt="Check Circle Icon"
                      />
                      <span
                        class="text-neutral-500 fw-medium tw-text-base tw-transition tw-duration-200"
                      >
                        50k design & prints
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="tw-pt-6 border-top border-neutral-200 tw-mt-6"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <h3
                    class="tw-mb-4 fw-semibold tw-transition tw-duration-200 font-body"
                  >
                    $559.99<span class="tw-text-base fw-medium text-neutral-500"
                      >/Month</span
                    >
                  </h3>
                  <p
                    class="text-neutral-600 fw-medium tw-text-base tw-transition tw-duration-200"
                  >
                    For Small Businesses
                  </p>
                </div>
                <div
                  class="tw-mt-13"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  <a
                    href="contact.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn btn-outline-main hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-505 tw-px-4 fw-semibold tw-text-base tw-end-0 tw-duration-200 group-item text-capitalize w-100 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Choose Package</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================== Pricing Plan Section End ============================== -->
