<!-- =========================== Promotional Banner section start ============================= -->
<section class="promotional-banner">
    <div class="container max-w-1410-px">
        <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800">
                <div class="d-flex align-items-center tw-ps-12 tw-pe-705 tw-py-11 bg-main-40 h-100">
                    <div class="flex-grow-1">
                        <span class="fw-bold text-success-600 tw-text-xs tw-mb-105 text-uppercase">Get discount 10%</span>
                        <h6 class="tw-text-2xl splitTextStyleOne cursor-big">Blood pressure Machine</h6>
                        <h5 class="text-danger-600 tw-mt-3">35% <span class="tw-text-xl">Flat</span> </h5>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="hover--translate-y-1 active--translate-y-50-scale-9 btn btn-main hover-style-one button--stroke tw-gap-5 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Shop Now</span>
                            </a>
                        </div>
                    </div>
                    <div class="d-sm-flex d-none">
                        <img src="assets/images/thumbs/promo-banner-img1.png" alt="Thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-flex align-items-center tw-ps-12 tw-pe-705 tw-py-11 bg-cyan-blue-40 h-100">
                    <div class="flex-grow-1">
                        <span class="fw-bold text-main-600 tw-text-xs tw-mb-105 text-uppercase">Get discount 10%</span>
                        <h6 class="tw-text-2xl splitTextStyleOne cursor-big">Professional Stethoscope</h6>
                        <h5 class="text-danger-600 tw-mt-3 fst-italic">35% <span class="tw-text-xl">Flat</span> </h5>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="d-flex align-items-center cursor-pointer tw-gap-205 text-main-600 fw-medium hover-text-main-500">
                                Shop Now
                                <span class="text-main-600 tw-text-base">
                                    <i class="ph-fill ph-arrow-circle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="d-sm-flex d-none">
                        <img src="assets/images/thumbs/promo-banner-img2.png" alt="Thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Promotional Banner section End ============================= -->