<section class="tw-pt-2205 tw-mb-22 position-relative">
    <img src="assets/images/shape/product-catagory-shape1.png" alt="" class="position-absolute tw-end-0 tw-block-start-0">
    <div class="container max-w-1644-px">
        <div class="max-w-435-px position-relative text-center justify-content-center mx-auto tw-mb-9">
            <div class="">
                <h4 class="fw-normal text-base-two-700 tw-mb-3">
                    <span class="fw-bold">Product</span>
                    Catagory
                </h4>
                <p class="fw-medium tw-text-305 text-neutral-600">Dont miss this opportunity at a special discount just for this week.</p>
            </div>
            <img src="assets/images/shape/product-catagory-shape1.svg" alt="" class="position-absolute tw-block-start-40-px tw-end-15">
        </div>


            <div class=" d-flex align-items-center tw-gap-10">
                <button type="button" class="tw-w-44-px tw-h-44-px border-neutral-35 rounded-circle flex-shrink-0 d-flex align-items-center justify-content-center hover-bg-primary-600 hover-text-white tw-duration-400">
                    <i class="ph ph-arrow-left"></i>
                </button>
                <div class="row gy-4">
                    <div class="col-lg-2">
                        <div class="border-neutral-200 border rounded-4 tw-pt-12 tw-pb-10 tw-px-10 hover-shadow-two tw-duration-400">
                            <span class="mx-auto d-flex justify-content-center tw-mb-705">
                                <img src="assets/images/icons/product-catagory-two-icon1.png" alt="">
                            </span>
                            <h6 class="fw-bold text-center line-clamp-2">High blood pressure</h6>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="border-neutral-200 border rounded-4 tw-pt-12 tw-pb-10 tw-px-1705 hover-shadow-two tw-duration-400">
                            <span class="mx-auto d-flex justify-content-center tw-mb-705">
                                <img src="assets/images/icons/product-catagory-two-icon2.png" alt="">
                            </span>
                            <h6 class="fw-bold text-center line-clamp-2">Allergy
                                & Sinus</h6>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="border-neutral-200 border rounded-4 tw-pt-12 tw-pb-10 tw-px-11 hover-shadow-two tw-duration-400">
                            <span class="mx-auto d-flex justify-content-center tw-mb-705">
                                <img src="assets/images/icons/product-catagory-two-icon3.png" alt="">
                            </span>
                            <h6 class="fw-bold text-center line-clamp-2">Diabetes
                                & Inflamation</h6>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="border-neutral-200 border rounded-4 tw-pt-12 tw-pb-10 tw-px-905 hover-shadow-two tw-duration-400">
                            <span class="mx-auto d-flex justify-content-center tw-mb-705">
                                <img src="assets/images/icons/product-catagory-two-icon4.png" alt="">
                            </span>
                            <h6 class="fw-bold text-center line-clamp-2">Pregnancy
                                & Birth Control</h6>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="border-neutral-200 border rounded-4 tw-pt-12 tw-pb-10 tw-px-1305 hover-shadow-two tw-duration-400">
                            <span class="mx-auto d-flex justify-content-center tw-mb-705">
                                <img src="assets/images/icons/product-catagory-two-icon5.png" alt="">
                            </span>
                            <h6 class="fw-bold text-center line-clamp-2">High
                                cholesterol</h6>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="border-neutral-200 border rounded-4 tw-pt-12 tw-pb-10 tw-px-14 hover-shadow-two tw-duration-400">
                            <span class="mx-auto d-flex justify-content-center tw-mb-705">
                                <img src="assets/images/icons/product-catagory-two-icon6.png" alt="">
                            </span>
                            <h6 class="fw-bold text-center line-clamp-2">Hypo
                                thyroidism</h6>
                        </div>
                    </div>
                </div>
                <button type="button" class="tw-w-44-px tw-h-44-px border-neutral-35 rounded-circle flex-shrink-0 d-flex align-items-center justify-content-center">
                    <i class="ph ph-arrow-right"></i>
                </button>
            </div>

    </div>
</section>