<!-- ============================ professional five section start ============================== -->
<div class="professional-five py-120">
  <div class="container">
    <div
      class="text-center"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="100"
    >
      <h2 class="fw-medium text-capitalize">
        we're professionally
        <img
          src="assets/images/thumbs/professional-five-img1.png"
          alt="Image"
          class="max-w-130-px w-100 tw-h-15 rounded-pill object-fit-cover"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-delay="100"
        />
        Committed to give best
        <img
          src="assets/images/thumbs/professional-five-img2.png"
          alt="Image"
          class="max-w-130-px w-100 tw-h-15 rounded-pill object-fit-cover"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-delay="300"
        />
        medical services for patient
        <img
          src="assets/images/thumbs/professional-five-img3.png"
          alt="Image"
          class="max-w-130-px w-100 tw-h-15 rounded-pill object-fit-cover"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-delay="500"
        />
        happiness
      </h2>
    </div>
  </div>
</div>
<!-- ============================ professional five section end ============================== -->
