<!-- ================================== Product Category section start ============================= -->
<section class="py-120 position-relative overflow-hidden">
  <img
    src="assets/images/shapes/product-catagory-shape1.png"
    alt="Shape"
    class="position-absolute tw-end-0 tw-block-start-0"
  />
  <div class="container max-w-1344-px">
    <div class="section-heading tw-mb-10 text-center max-w-520-px mx-auto">
      <h2 class="splitTextStyleOne">
        Product
        <span class="fw-normal position-relative z-1">
          Category
          <img
            src="assets/images/icons/line-rounded.svg"
            alt="Line"
            class="position-absolute top-100 tw-start-50 translate-middle-x z-n1"
          />
        </span>
      </h2>
      <p class="tw-text-sm text-neutral-600 tw-mt-205 fw-medium">
        Don't miss this opportunity at a special discount just for this week.
      </p>
    </div>

    <div class="position-relative">
      <div class="swiper product-category-two-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
            <div
              class="border-neutral-200 border tw-rounded-2xl tw-pt-12 tw-min-h-226-px tw-pb-10 tw-px-3 hover-common-shadow-2 tw-duration-300 bg-white"
            >
              <span class="mx-auto d-flex justify-content-center tw-mb-705">
                <img
                  src="assets/images/icons/product-catagory-two-icon1.png"
                  alt="Thumbnail"
                />
              </span>
              <h6 class="fw-bold text-center line-clamp-2 tw-text-lg">
                High blood pressure
              </h6>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="700">
            <div
              class="border-neutral-200 border tw-rounded-2xl tw-pt-12 tw-min-h-226-px tw-pb-10 tw-px-3 hover-common-shadow-2 tw-duration-300 bg-white"
            >
              <span class="mx-auto d-flex justify-content-center tw-mb-705">
                <img
                  src="assets/images/icons/product-catagory-two-icon2.png"
                  alt="Thumbnail"
                />
              </span>
              <h6 class="fw-bold text-center line-clamp-2 tw-text-lg">
                Allergy & Sinus
              </h6>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
            <div
              class="border-neutral-200 border tw-rounded-2xl tw-pt-12 tw-min-h-226-px tw-pb-10 tw-px-3 hover-common-shadow-2 tw-duration-300 bg-white"
            >
              <span class="mx-auto d-flex justify-content-center tw-mb-705">
                <img
                  src="assets/images/icons/product-catagory-two-icon3.png"
                  alt="Thumbnail"
                />
              </span>
              <h6 class="fw-bold text-center line-clamp-2 tw-text-lg">
                Diabetes & Inflamation
              </h6>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="900">
            <div
              class="border-neutral-200 border tw-rounded-2xl tw-pt-12 tw-min-h-226-px tw-pb-10 tw-px-3 hover-common-shadow-2 tw-duration-300 bg-white"
            >
              <span class="mx-auto d-flex justify-content-center tw-mb-705">
                <img
                  src="assets/images/icons/product-catagory-two-icon4.png"
                  alt="Thumbnail"
                />
              </span>
              <h6 class="fw-bold text-center line-clamp-2 tw-text-lg">
                Pregnancy & Birth Control
              </h6>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
            <div
              class="border-neutral-200 border tw-rounded-2xl tw-pt-12 tw-min-h-226-px tw-pb-10 tw-px-3 hover-common-shadow-2 tw-duration-300 bg-white"
            >
              <span class="mx-auto d-flex justify-content-center tw-mb-705">
                <img
                  src="assets/images/icons/product-catagory-two-icon5.png"
                  alt="Thumbnail"
                />
              </span>
              <h6 class="fw-bold text-center line-clamp-2 tw-text-lg">
                High cholesterol
              </h6>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1100">
            <div
              class="border-neutral-200 border tw-rounded-2xl tw-pt-12 tw-min-h-226-px tw-pb-10 tw-px-3 hover-common-shadow-2 tw-duration-300 bg-white"
            >
              <span class="mx-auto d-flex justify-content-center tw-mb-705">
                <img
                  src="assets/images/icons/product-catagory-two-icon6.png"
                  alt="Thumbnail"
                />
              </span>
              <h6 class="fw-bold text-center line-clamp-2 tw-text-lg">
                Hypo thyroidism
              </h6>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
            <div
              class="border-neutral-200 border tw-rounded-2xl tw-pt-12 tw-min-h-226-px tw-pb-10 tw-px-3 hover-common-shadow-2 tw-duration-300 bg-white"
            >
              <span class="mx-auto d-flex justify-content-center tw-mb-705">
                <img
                  src="assets/images/icons/product-catagory-two-icon3.png"
                  alt="Thumbnail"
                />
              </span>
              <h6 class="fw-bold text-center line-clamp-2 tw-text-lg">
                Diabetes & Inflamation
              </h6>
            </div>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="product-category-two-button-prev tw-w-11 tw-h-11 border text-heading border-neutral-200 rounded-circle flex-shrink-0 d-md-flex d-none align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300 position-absolute top-50 translate-middle-y tw--ms-80-px tw-start-0"
      >
        <i class="ph-bold ph-arrow-left"></i>
      </button>
      <button
        type="button"
        class="product-category-two-button-next tw-w-11 tw-h-11 border text-heading border-neutral-200 rounded-circle flex-shrink-0 d-md-flex d-none align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300 position-absolute top-50 translate-middle-y tw--me-80-px tw-end-0"
      >
        <i class="ph-bold ph-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
<!-- ================================== Product Category section End ============================= -->
