<!-- =================================== service department section start ================================= -->
<section
  class="service-department py-120 background-img bg-img"
  data-background-image="assets/images/bg/service-department-bg.png"
>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div
          class="section-heading tw-mb-10 text-start max-w-520-px"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <span
            class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest"
            >Innovation at our core</span
          >
          <h2 class="splitTextStyleOne">Our service Department list</h2>
          <p class="text-neutral-500 tw-text-lg fw-normal tw-mt-5">
            In today's competitive business, the demand for efficient and
            cost-effective IT solutions has never been more critical.
          </p>
        </div>
        <div class="tw-mt-10" data-aos="fade-up" data-aos-duration="800">
          <a
            href="doctor-list.html"
            class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-8 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white"
            data-block="button"
          >
            <span class="button__flair"></span>
            <span class="button__label">View all department doctor</span>
            <span
              class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex"
            >
              <i class="ph-bold ph-caret-right"></i>
            </span>
          </a>
        </div>
        <div class="tw-mt-10" data-aos="zoom-in" data-aos-duration="900">
          <img src="assets/images/thumbs/heart-thumb.png" alt="Heart Image" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="bg-white tw-rounded-2xl overflow-hidden">
          <div
            class="clickable-item active-text-white active-bg-main-600 tw-py-8 tw-px-60-px d-flex align-items-center tw-gap-8 cursor-pointer"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            <img
              src="assets/images/icons/department-list-icon1.png"
              alt="Icon"
            />
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="h5 text-capitalize">Cardiology Department</span>
                <span class="tw-text-xl fw-bold flex-shrink-0">01</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  Whether it's crafting a visually stunning brand identity
                  designing immersive digital experiences, or developi strategic
                  marketing campaigns, we approach
                </p>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center tw-gap-3 fw-semibold text-main-two-600 hover-text-main-two-700 hover-underline tw-mt-9"
                >
                  Read Out More
                  <i
                    class="ph-bold ph-arrow-up-right tw-leading-none d-flex"
                  ></i>
                </a>
              </div>
            </div>
          </div>

          <div
            class="clickable-item active-text-white active-bg-main-600 tw-py-8 tw-px-60-px d-flex align-items-center tw-gap-8 cursor-pointer active"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            <img
              src="assets/images/icons/department-list-icon2.png"
              alt="Icon"
            />
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="h5 text-capitalize"
                  >Dermatology and venereology</span
                >
                <span class="tw-text-xl fw-bold flex-shrink-0">02</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  Whether it's crafting a visually stunning brand identity
                  designing immersive digital experiences, or developi strategic
                  marketing campaigns, we approach
                </p>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center tw-gap-3 fw-semibold text-main-two-600 hover-text-main-two-700 hover-underline tw-mt-9"
                >
                  Read Out More
                  <i
                    class="ph-bold ph-arrow-up-right tw-leading-none d-flex"
                  ></i>
                </a>
              </div>
            </div>
          </div>

          <div
            class="clickable-item active-text-white active-bg-main-600 tw-py-8 tw-px-60-px d-flex align-items-center tw-gap-8 cursor-pointer"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            <img
              src="assets/images/icons/department-list-icon3.png"
              alt="Icon"
            />
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="h5 text-capitalize"
                  >Obstetrics and gynaecology</span
                >
                <span class="tw-text-xl fw-bold flex-shrink-0">03</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  Whether it's crafting a visually stunning brand identity
                  designing immersive digital experiences, or developi strategic
                  marketing campaigns, we approach
                </p>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center tw-gap-3 fw-semibold text-main-two-600 hover-text-main-two-700 hover-underline tw-mt-9"
                >
                  Read Out More
                  <i
                    class="ph-bold ph-arrow-up-right tw-leading-none d-flex"
                  ></i>
                </a>
              </div>
            </div>
          </div>

          <div
            class="clickable-item active-text-white active-bg-main-600 tw-py-8 tw-px-60-px d-flex align-items-center tw-gap-8 cursor-pointer"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            <img
              src="assets/images/icons/department-list-icon4.png"
              alt="Icon"
            />
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="h5 text-capitalize">Anesthesiology</span>
                <span class="tw-text-xl fw-bold flex-shrink-0">04</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  Whether it's crafting a visually stunning brand identity
                  designing immersive digital experiences, or developi strategic
                  marketing campaigns, we approach
                </p>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center tw-gap-3 fw-semibold text-main-two-600 hover-text-main-two-700 hover-underline tw-mt-9"
                >
                  Read Out More
                  <i
                    class="ph-bold ph-arrow-up-right tw-leading-none d-flex"
                  ></i>
                </a>
              </div>
            </div>
          </div>

          <div
            class="clickable-item active-text-white active-bg-main-600 tw-py-8 tw-px-60-px d-flex align-items-center tw-gap-8 cursor-pointer"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            <img
              src="assets/images/icons/department-list-icon5.png"
              alt="Icon"
            />
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <span class="h5 text-capitalize">Family medicine</span>
                <span class="tw-text-xl fw-bold flex-shrink-0">05</span>
              </div>
              <div class="clickable-item__content d-none">
                <p class="text-neutral-400 tw-text-lg tw-mt-4">
                  Whether it's crafting a visually stunning brand identity
                  designing immersive digital experiences, or developi strategic
                  marketing campaigns, we approach
                </p>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center tw-gap-3 fw-semibold text-main-two-600 hover-text-main-two-700 hover-underline tw-mt-9"
                >
                  Read Out More
                  <i
                    class="ph-bold ph-arrow-up-right tw-leading-none d-flex"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =================================== service department section end ================================= -->
