<!-- =============================== Service Five css start ============================= -->
<section class="service-five py-120 bg-white">
  <div class="container">
    <div
      class="d-flex align-items-center flex-md-nowrap flex-wrap tw-gap-6 justify-content-between tw-mb-15"
    >
      <div class="">
        <h2 class="fw-medium text-capitalize h1">
          <img
            src="assets/images/thumbs/professional-five-img1.png"
            alt="Image"
            class="max-w-192-px w-100 tw-h-92-px rounded-pill object-fit-cover d-inline-block"
            data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-delay="100"
          />
          Featured
          <span class="fw-medium d-inline-block">Treatment</span>
        </h2>
      </div>
      <p class="text-neutral-600 tw-text-lg max-w-390-px">
        Welcome to Marcus Medical, your pathway to natural-looking results from
        industry-leading injectors and plastic surgeons in South Bay. We invite
        you to come discover why we are the leading destination for luxury.
      </p>
    </div>

    <div class="row gy-4">
      <div
        class="col-lg-4 col-sm-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <div
          class="service-five-item bg-main-40 tw-py-13 tw-ps-48-px tw-pe-3 tw-rounded-xl hover-bg-main-600 tw-duration-300 group group-item h-100"
        >
          <span class="tw-mb-12 group-hover-item-text-invert tw-duration-300">
            <img src="assets/images/icons/service-five-icon1.png" alt="Icon" />
          </span>
          <h5 class="fw-semibold group-hover-text-white tw-duration-300">
            Cardiology services
          </h5>
          <a
            href="contact.html"
            class="text-danger-600 fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation tw-mt-80-px group-hover-text-white tw-duration-300 bg-white-06 tw-py-1 tw-px-205"
          >
            <span
              class="element-double-animation__element"
              data-content="Read Details"
              >Read Details</span
            >

            <span
              class="group-hover-item-rotate-45-deg tw-duration-300 tw-mt-1"
            >
              <i class="ph-bold ph-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div
        class="col-lg-4 col-sm-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <div
          class="service-five-item bg-main-40 tw-py-13 tw-ps-48-px tw-pe-3 tw-rounded-xl hover-bg-main-600 tw-duration-300 group group-item h-100"
        >
          <span class="tw-mb-12 group-hover-item-text-invert tw-duration-300">
            <img src="assets/images/icons/service-five-icon2.png" alt="Icon" />
          </span>
          <h5 class="fw-semibold group-hover-text-white tw-duration-300">
            Gynecology & Obstetrics
          </h5>
          <a
            href="contact.html"
            class="text-danger-600 fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation tw-mt-80-px group-hover-text-white tw-duration-300 bg-white-06 tw-py-1 tw-px-205"
          >
            <span
              class="element-double-animation__element"
              data-content="Read Details"
              >Read Details</span
            >

            <span
              class="group-hover-item-rotate-45-deg tw-duration-300 tw-mt-1"
            >
              <i class="ph-bold ph-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div
        class="col-lg-4 col-sm-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="500"
      >
        <div
          class="service-five-item bg-main-40 tw-py-13 tw-ps-48-px tw-pe-3 tw-rounded-xl hover-bg-main-600 tw-duration-300 group group-item h-100"
        >
          <span class="tw-mb-12 group-hover-item-text-invert tw-duration-300">
            <img src="assets/images/icons/service-five-icon3.png" alt="Icon" />
          </span>
          <h5 class="fw-semibold group-hover-text-white tw-duration-300">
            Dermatology (Skin)
          </h5>
          <a
            href="contact.html"
            class="text-danger-600 fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation tw-mt-80-px group-hover-text-white tw-duration-300 bg-white-06 tw-py-1 tw-px-205"
          >
            <span
              class="element-double-animation__element"
              data-content="Read Details"
              >Read Details</span
            >

            <span
              class="group-hover-item-rotate-45-deg tw-duration-300 tw-mt-1"
            >
              <i class="ph-bold ph-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div
        class="col-lg-4 col-sm-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <div
          class="service-five-item bg-main-40 tw-py-13 tw-ps-48-px tw-pe-3 tw-rounded-xl hover-bg-main-600 tw-duration-300 group group-item h-100"
        >
          <span class="tw-mb-12 group-hover-item-text-invert tw-duration-300">
            <img src="assets/images/icons/service-five-icon4.png" alt="Icon" />
          </span>
          <h5 class="fw-semibold group-hover-text-white tw-duration-300">
            Diabetology & Endocrinology
          </h5>
          <a
            href="contact.html"
            class="text-danger-600 fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation tw-mt-80-px group-hover-text-white tw-duration-300 bg-white-06 tw-py-1 tw-px-205"
          >
            <span
              class="element-double-animation__element"
              data-content="Read Details"
              >Read Details</span
            >

            <span
              class="group-hover-item-rotate-45-deg tw-duration-300 tw-mt-1"
            >
              <i class="ph-bold ph-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div
        class="col-lg-4 col-sm-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <div
          class="service-five-item bg-main-40 tw-py-13 tw-ps-48-px tw-pe-3 tw-rounded-xl hover-bg-main-600 tw-duration-300 group group-item h-100"
        >
          <span class="tw-mb-12 group-hover-item-text-invert tw-duration-300">
            <img src="assets/images/icons/service-five-icon5.png" alt="Icon" />
          </span>
          <h5 class="fw-semibold group-hover-text-white tw-duration-300">
            ENT (Ear, Nose, Throat)
          </h5>
          <a
            href="contact.html"
            class="text-danger-600 fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item element-double-animation tw-mt-80-px group-hover-text-white tw-duration-300 bg-white-06 tw-py-1 tw-px-205"
          >
            <span
              class="element-double-animation__element"
              data-content="Read Details"
              >Read Details</span
            >

            <span
              class="group-hover-item-rotate-45-deg tw-duration-300 tw-mt-1"
            >
              <i class="ph-bold ph-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div
        class="col-lg-4 col-sm-6"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="500"
      >
        <div class="d-flex align-items-center justify-content-center h-100">
          <div class="text-center">
            <h5 class="tw-mb-5">12,800+ /Patients</h5>
            <div class="d-inline-flex align-items-center pointer-events-auto">
              <div
                class="pointer-events-auto tw-w-12 tw-h-12 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 hover-z-4 border border-white border-2 position-relative z-0"
              >
                <img
                  src="assets/images/thumbs/client-service-img1.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                />
              </div>
              <div
                class="pointer-events-auto tw-w-12 tw-h-12 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 hover-z-4 border border-white border-2 position-relative tw--ms-10-px z-1"
              >
                <img
                  src="assets/images/thumbs/client-service-img2.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                />
              </div>
              <div
                class="pointer-events-auto tw-w-12 tw-h-12 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 hover-z-4 border border-white border-2 position-relative tw--ms-10-px z-1"
              >
                <img
                  src="assets/images/thumbs/client-service-img3.png"
                  alt="Client Image"
                  class="w-100 h-100 object-fit-cover"
                />
              </div>
            </div>
            <p class="text-neutral-600 fw-medium max-w-320-px mx-auto tw-mt-4">
              We treat pain at its source with a care team built around your
              body, mind, and goals. Covered by most insurance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============================== Service Five css end ============================= -->
