<!-- ============================ Shipping section start ================================ -->
<div class="shipping bg-white tw-pt-10">
    <div class="container">
        <div class="d-flex flex-wrap">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="700">
                <div class="tw-pt-10 tw-pb-9 tw-ps-8 border-top-neutral-30 border-bottom-neutral-30 border-left-neutral-30 border-right-neutral-30 d-flex align-items-center tw-gap-8">
                    <img src="assets/images/icons/banner-two-icon1.png" alt="Thumbnail">
                    <div>
                        <span class="fw-bold tw-text-lg text-base-two-700 tw-mb-105">Product Discounts</span>
                        <p class="fw-normal tw-text-sm text-neutral-500">Sumptuous, filling, and temptingly healthy.Food and Health</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900">
                <div class="tw-pt-10 tw-pb-9 tw-ps-8 border-top-neutral-30 border-bottom-neutral-30 border-right-neutral-30 d-flex align-items-center tw-gap-8">
                    <img src="assets/images/icons/banner-two-icon2.png" alt="Thumbnail">
                    <div>
                        <span class="fw-bold tw-text-lg text-base-two-700 tw-mb-105">Shiping Discount</span>
                        <p class="fw-normal tw-text-sm text-neutral-500">Sumptuous, filling, and temptingly healthy.Food and Health</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1100">
                <div class="tw-pt-10 tw-pb-9 tw-ps-8 border-top-neutral-30 border-bottom-neutral-30 border-right-neutral-30 d-flex align-items-center tw-gap-8">
                    <img src="assets/images/icons/banner-two-icon3.png" alt="Thumbnail">
                    <div>
                        <span class="fw-bold tw-text-lg text-base-two-700 tw-mb-105">24/7 Customer care</span>
                        <p class="fw-normal tw-text-sm text-neutral-500">Sumptuous, filling, and temptingly healthy.Food and Health</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ============================ Shipping section End ================================ -->