<!-- ============================ Shipping section start ================================ -->
<div class="shipping bg-white py-100">
    <div class="container">
        <div class="d-flex align-items-center justify-content-sm-evenly justify-content-between flex-wrap flex-xl-nowrap tw-gap-4 border border-neutral-200 tw-rounded-lg tw-py-9 tw-px-4">
            <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="700">
                <span class="tw-text-3xl text-main-600 tw-leading-none">
                   <i class="ph-bold ph-truck"></i>
                </span>
                <div class="">
                    <h6 class="tw-text-base tw-mb-1">Free Shipping</h6>
                    <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                </div>
            </div>
            <div class="d-xl-flex d-none tw-h-9">
                <div class="tw-w-px h-100 bg-neutral-200"></div>
            </div>
            <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="800">
                <span class="tw-text-3xl text-main-600 tw-leading-none">
                    <i class="ph-bold ph-recycle"></i>
                </span>
                <div class="">
                    <h6 class="tw-text-base tw-mb-1">100% Return Policy</h6>
                    <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                </div>
            </div>
            <div class="d-xl-flex d-none tw-h-9">
                <div class="tw-w-px h-100 bg-neutral-200"></div>
            </div>
            <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="900">
                <span class="tw-text-3xl text-main-600 tw-leading-none">
                    <i class="ph-bold ph-medal"></i>
                </span>
                <div class="">
                    <h6 class="tw-text-base tw-mb-1">Quality assurance</h6>
                    <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                </div>
            </div>
            <div class="d-xl-flex d-none tw-h-9">
                <div class="tw-w-px h-100 bg-neutral-200"></div>
            </div>
            <div class="d-flex align-items-center tw-gap-405" data-aos="fade-up" data-aos-duration="1000">
                <span class="tw-text-3xl text-main-600 tw-leading-none">
                    <i class="ph-bold ph-headset"></i>
                </span>
                <div class="">
                    <h6 class="tw-text-base tw-mb-1">Support 24/7</h6>
                    <p class="text-neutral-500 tw-text-sm">Free shipping over $100</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Shipping section End ================================ -->