
<!-- ================================= Support Emergency section Start =========================================== -->
<div class="support-emergency pb-120 position-relative z-1">
    <div class="container max-w-1410-px">
        <div class="bg-white tw-rounded-3xl common-shadow-4 tw-p-60-px">
            <div class="row gy-4">
                <div class="col-xl-6">
                    <div class="bg-orange-100 tw-p-48-px tw-rounded-3xl">
                        <div class="position-relative">
                            <h4 class="tw-mb-5">Specialised Support Service</h4>
                            <p class="text-neutral-500 max-w-348-px">Financial consultants provides the financial planning, budgeting</p>
                            <a href="appointment.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-white bg-white text-heading hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group tw-py-5 tw-px-9 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize tw-mt-7" data-block="button">
                                <span class="button__flair"></span> 
                                <span class="button__label">Book An Appointment</span>
                                <span class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </a>
                            <img src="assets/images/icons/support-emergency-icon1.png" alt="Icon" class="position-absolute bottom-0 tw-end-0 ">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="bg-main-200 tw-p-48-px tw-rounded-3xl">
                        <div class="position-relative">
                            <h4 class="tw-mb-5">Need Emergency Care?</h4>
                            <p class="text-heading fw-medium tw-text-sm">Need any Help! call Us today</p>
                            <a href="tel:+(2)871382023" class="fw-semibold tw-text-base text-heading hover-underline d-block">+(2) 871 382 023</a>
                            <a href="appointment.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group tw-py-5 tw-px-9 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize tw-mt-7" data-block="button">
                                <span class="button__flair"></span> 
                                <span class="button__label">Book An Appointment</span>
                                <span class="z-1 position-relative group-hover-item-text-invert tw-leading-none d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </a>
                            <img src="assets/images/icons/support-emergency-icon2.png" alt="Icon" class="position-absolute bottom-0 tw-end-0 ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map Start -->
    <div class="filter-grayscale-1 position-absolute bottom-0 tw-start-0 w-100 z-n1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26173892.15386034!2d-0.10275643708881325!3d47.670620919663314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ed8886cfadda85%3A0x72ef99e6b3fcf079!2sEurope!5e0!3m2!1sen!2sbd!4v1746202478386!5m2!1sen!2sbd" height="400" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="tw--mb-6-px w-100"></iframe>
    </div>
    <!-- Map End -->
</div>
<!-- ================================= Support Emergency section End =========================================== -->