<!-- ============================== Team section five start ====================== -->
<section class="team-five py-120">
  <div class="container">
    <div class="d-flex align-items-center flex-md-nowrap flex-wrap tw-gap-6 justify-content-between tw-mb-15">
      <div class="">
        <h2 class="fw-medium text-capitalize h1">
          <img src="assets/images/thumbs/professional-five-img1.png" alt="Image"
            class="max-w-192-px w-100 tw-h-92-px rounded-pill object-fit-cover d-inline-block" data-aos="zoom-in"
            data-aos-duration="1000" data-aos-delay="100" />
          Expert
          <span class="fw-normal d-inline-block">Doctors</span>
        </h2>
      </div>
      <p class="text-neutral-600 tw-text-lg max-w-390-px">
        Welcome to Marcus Medical, your pathway to natural-looking results from
        industry-leading injectors and plastic surgeons in South Bay. We invite
        you to come discover why we are the leading destination for luxury.
      </p>
    </div>

    <div class="row gy-5">
      <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="team-five-item group group-item image-double-animation">
          <div class="bg-main-50 tw-rounded-2xl tw-pt-10 overflow-hidden text-center">
            <div class="overflow-hidden d-block position-relative">
              <img src="assets/images/thumbs/team-five-img1.png" alt="Image" class="image-double-animation__element">
              <img src="assets/images/thumbs/team-five-img1.png" alt="Image" class="image-double-animation__element">
            </div>
          </div>
          <div class="tw-mt-6">
            <h5 class="">
              <a href="team-details.html" class="text-heading element-double-animation">
                <span class="element-double-animation__element" data-content="Dr. olivia Martinez">Dr. olivia
                  Martinez</span>
              </a>
            </h5>
            <span class="text-neutral-600 h6 fw-normal tw-mt-2">Chief Dentist</span>
            <div class="d-flex align-items-end tw-gap-4 tw-mt-7 flex-wrap">
              <img src="assets/images/icons/start-green.png" alt="Star">
              <div class="d-flex align-items-end tw-gap-2">
                <h6 class="tw-text-base">4.3</h6>
                <h6 class="tw-text-sm">score, 47 reviews</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
        <div class="team-five-item group group-item image-double-animation">
          <div class="bg-main-50 tw-rounded-2xl tw-pt-10 overflow-hidden text-center">
            <div class="overflow-hidden d-block position-relative">
              <img src="assets/images/thumbs/team-five-img2.png" alt="Image" class="image-double-animation__element">
              <img src="assets/images/thumbs/team-five-img2.png" alt="Image" class="image-double-animation__element">
            </div>
          </div>
          <div class="tw-mt-6">
            <h5 class="">
              <a href="team-details.html" class="text-heading element-double-animation">
                <span class="element-double-animation__element" data-content="Dr. olivia Martinez">Robiul Hasan</span>
              </a>
            </h5>
            <span class="text-neutral-600 h6 fw-normal tw-mt-2">Chief Dentist</span>
            <div class="d-flex align-items-end tw-gap-4 tw-mt-7 flex-wrap">
              <img src="assets/images/icons/start-green.png" alt="Star">
              <div class="d-flex align-items-end tw-gap-2">
                <h6 class="tw-text-base">4.3</h6>
                <h6 class="tw-text-sm">score, 47 reviews</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
        <div class="team-five-item group group-item image-double-animation">
          <div class="bg-main-50 tw-rounded-2xl tw-pt-10 overflow-hidden text-center">
            <div class="overflow-hidden d-block position-relative">
              <img src="assets/images/thumbs/team-five-img3.png" alt="Image" class="image-double-animation__element">
              <img src="assets/images/thumbs/team-five-img3.png" alt="Image" class="image-double-animation__element">
            </div>
          </div>
          <div class="tw-mt-6">
            <h5 class="">
              <a href="team-details.html" class="text-heading element-double-animation">
                <span class="element-double-animation__element" data-content="Dr. olivia Martinez">Dr. Mehedi
                  Hasan</span>
              </a>
            </h5>
            <span class="text-neutral-600 h6 fw-normal tw-mt-2">Chief Dentist</span>
            <div class="d-flex align-items-end tw-gap-4 tw-mt-7 flex-wrap">
              <img src="assets/images/icons/start-green.png" alt="Star">
              <div class="d-flex align-items-end tw-gap-2">
                <h6 class="tw-text-base">4.3</h6>
                <h6 class="tw-text-sm">score, 47 reviews</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================== Team section five end ====================== -->