<!-- ============================== Team section five start ====================== -->
<section class="team-five py-120">
  <div class="container">
    <div
      class="d-flex align-items-center flex-md-nowrap flex-wrap tw-gap-6 justify-content-between tw-mb-15"
    >
      <div class="">
        <h2 class="fw-medium text-capitalize h1">
          <img
            src="assets/images/thumbs/professional-five-img1.png"
            alt="Image"
            class="max-w-192-px w-100 tw-h-92-px rounded-pill object-fit-cover d-inline-block"
            data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-delay="100"
          />
          Expert
          <span class="fw-normal d-inline-block">Doctors</span>
        </h2>
      </div>
      <p class="text-neutral-600 tw-text-lg max-w-390-px">
        Welcome to Marcus Medical, your pathway to natural-looking results from
        industry-leading injectors and plastic surgeons in South Bay. We invite
        you to come discover why we are the leading destination for luxury.
      </p>
    </div>

    <div class=""></div>
  </div>
</section>
<!-- ============================== Team section five end ====================== -->
