<!DOCTYPE html>
<html lang="en" class="@@pageClass">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description"
    content="Modern Medical HTML Template for hospitals, pharmacies, dental clinics, and medical equipment providers. Fully responsive, customizable, and ideal for healthcare professionals, clinics, and medical businesses.">
  <meta name="keywords"
    content="Medical HTML Template, Hospital Website Template, Pharmacy Template, Dental Care Template, Medical Equipment HTML, Healthcare Template, Doctor Clinic Template, Responsive Medical Website, Bootstrap Medical Theme">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>
    Medicol - Hospital, Medicine & Healthcare Center HTML Template
  </title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/logo/favicon.png">
  <!-- Select2 -->
  <link rel="stylesheet" href="assets/css/select2.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Swiper -->
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <!-- aos -->
  <link rel="stylesheet" href="assets/css/aos.css">
  <!-- Satoshi -->
  <link rel="stylesheet" href="assets/css/satoshi.css">
  <!-- magnific Popup -->
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <!-- Main css -->
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <!--==================== Preloader Start ====================-->
  <div class="preloader">
    <div class="heart-rate">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px"
        height="73px" viewBox="0 0 150 73" enable-background="new 0 0 150 73" xml:space="preserve">
        <polyline fill="none" stroke="#0e538b" stroke-width="3" stroke-miterlimit="10"
          points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486" />
      </svg>
      <div class="fade-in"></div>
      <div class="fade-out"></div>
    </div>
  </div>
  <!--==================== Preloader End ====================-->

  <!--==================== Overlay Start ====================-->
  <div class="overlay"></div>
  <!--==================== Overlay End ====================-->

  <!--==================== Sidebar Overlay End ====================-->
  <div class="side-overlay"></div>
  <!--==================== Sidebar Overlay End ====================-->

  <!--==================== View Cursor End ====================-->
  <div class="view-cursor d-flex flex-column align-items-center">
    <img src="assets/images/icons/arrow-curve.png" alt="Arrow" class="tw-mb-2">
    <span class="text-uppercase tw-text-sm fw-bolder text-heading">BOOK <br> APPOINTMENT</span>
  </div>
  <!--==================== View Cursor End ====================-->

  <!-- Custom Toast Message start -->
  <div id="toast-container"></div>
  <!-- Custom Toast Message End -->

  <!-- ==================== Scroll to Top End Here ==================== -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- ==================== Scroll to Top End Here ==================== -->

  @@include('../partials/_mobile-menu.html')