<!-- ============================ testimonial two section start ======================= -->
 <section class="tw-pt-94-px pb-100 z-1 background-img bg-img" data-background-image="assets/images/bg/testimonial-two-bg-img1.png">
    <div class="container max-w-1619-px">

        <div class="position-relative d-xxl-block d-none">
            <div>
                <img src="assets/images/thumbs/testimonial-two-img1.png" alt="Thumbnail" class="position-absolute tw-start-69-px">
                <img src="assets/images/shapes/testimonial-two-shape1.png" alt="Thumbnail" class="position-absolute z-n1 tw-block-start-58-px">
                <img src="assets/images/thumbs/testimonial-two-img2.png" alt="Thumbnail" class="position-absolute tw-start-95-px tw-block-end--546-px ">
            </div>
            <div>
                <img src="assets/images/thumbs/testimonial-two-img3.png" alt="Thumbnail" class="position-absolute tw-end-147-px">
                <img src="assets/images/shapes/testimonial-two-shape2.png" alt="Thumbnail" class="position-absolute z-n1 tw-block-start-58-px tw-end-115-px">
                <img src="assets/images/thumbs/testimonial-two-img4.png" alt="Thumbnail" class="position-absolute tw-end-204-px tw-block-end--546-px">
                <img src="assets/images/thumbs/testimonial-two-img5.png" alt="Thumbnail" class="position-absolute tw-end-35-px tw-block-start-256-px">
            </div>
        </div>


        <div class="text-center tw-mb-9">
            <h2 class="fw-bold text-title-600 tw-mb-3 splitTextStyleOne cursor-big">
                Client’s
                 <span class="fw-normal">
                    Testimonial
                </span>
            </h2>
            <p class="tw-text-sm fw-medium text-neutral-600">Dont miss this opportunity at a special discount just for this week.</p>
        </div>

        <div class="testimonial-two-card-item position-relative max-w-824-px justify-content-center mx-auto tw-mb-12">
            <div class="testimonial-two-card bg-white tw-rounded-3xl tw-py-10 tw-p-4">

                <div class="swiper testimonials-two-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="max-w-610-px text-center mx-auto">
                                <img src="assets/images/thumbs/testimonial-two-img1.png" alt="Thumbnail" class="tw-mb-5">
                                <p class="fw-medium tw-text-xl text-neutral-700 tw-mb-8">Ave completely changed how I build websites. The UI is intuitive and the support team is lightning fast. Highly recommended for anyone looking for quality!</p>
                                <div>
                                    <h4 class="fw-bold text-title-600 tw-mb-2">Sophia Granger</h4>
                                    <span class="fw-medium tw-text-base text-neutral-500">UX Designer, Dribbble</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide">
                            <div class="max-w-610-px text-center mx-auto">
                                <img src="assets/images/thumbs/testimonial-two-img2.png" alt="Thumbnail" class="tw-mb-5">
                                <p class="fw-medium tw-text-xl text-neutral-700 tw-mb-8">I’ve used many themes before, but none were as clean and flexible as this one. Everything just works. My client was beyond happy!</p>
                                <div>
                                    <h4 class="fw-bold text-title-600 tw-mb-2">Liam Carter</h4>
                                    <span class="fw-medium tw-text-base text-neutral-500">Freelance Developer</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide">
                            <div class="max-w-610-px text-center mx-auto">
                                <img src="assets/images/thumbs/testimonial-two-img3.png" alt="Thumbnail" class="tw-mb-5">
                                <p class="fw-medium tw-text-xl text-neutral-700 tw-mb-8">A game changer for our marketing team. We saved so much time and the design quality made our brand stand out immediately.</p>
                                <div>
                                    <h4 class="fw-bold text-title-600 tw-mb-2">Ananya Mishra</h4>
                                    <span class="fw-medium tw-text-base text-neutral-500">Marketing Manager, Webify</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-flex align-items-center tw-gap-6 justify-content-center tw-pt-9">
            <button type="button" class="testimonials-two-button-prev tw-w-12 tw-h-12 bg-white rounded-circle text-neutral-950 tw-text-lg d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-500">
                <i class="ph ph-arrow-left"></i>
            </button>
            <button type="button" class="testimonials-two-button-next tw-w-12 tw-h-12 bg-white rounded-circle text-neutral-950 tw-text-lg d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-500">
                <i class="ph ph-arrow-right"></i>
            </button>
        </div>

    </div>
 </section>
<!-- ============================ testimonial two section end ======================= -->