<!-- =============================== testimonials four section start ===================================== -->
<section class="testimonials-four pt-120">
  <div class="container">
    <div
      class="d-flex align-items-center justify-content-between tw-gap-6 flex-lg-nowrap flex-wrap"
    >
      <div class="max-w-640-px">
        <span
          class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest"
          >Our Testimonials</span
        >
        <h2 class="splitTextStyleOne">
          We Have Expert Doctors With Best Hospitality
        </h2>
      </div>
      <div class="flex-shrink-0" data-aos="fade-up" data-aos-duration="800">
        <a
          href="appointment.html"
          class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-8 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white flex-shrink-0"
          data-block="button"
        >
          <span class="button__flair"></span>
          <span class="button__label">Book an appointment</span>
          <span class="z-1 position-relative tw-leading-none d-flex">
            <i class="ph-bold ph-caret-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="swiper testimonials-four-slider tw-pt-12 pb-120">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="testimonials-four-item tw-py-54-px tw-rounded-3xl group group-item tw-duration-300 hover-bg-main-600 common-shadow-13"
        >
          <div
            class="testimonials-four-item__title tw-px-54-px tw-pb-705 tw-mb-705"
          >
            <h5
              class="text-capitalize fw-bold group-hover-text-white tw-duration-300"
            >
              “great experience”
            </h5>
          </div>
          <div class="tw-px-54-px">
            <p
              class="text-heading h5 fw-medium font-body group-hover-text-white tw-duration-300 tw-leading-18"
            >
              Sasstech hires great people from a widely variety of backgrounds,
              which simply makes our compan stronger, and we couldn't be prouder
              of that. elevating your optimizing Business Growth.
            </p>
            <div
              class="tw-mt-10 d-flex align-items-center tw-gap-6 justify-content-between flex-wrap"
            >
              <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                <h6 class="fw-bold group-hover-text-white tw-duration-300">
                  Robert J. Hare/
                </h6>
                <span
                  class="tw-text-sm text-heading fw-medium group-hover-text-white tw-duration-300"
                  >Graphics Designer</span
                >
              </div>
              <div
                class="testimonials-four-item__rating bg-heading tw-py-205 tw-px-705 tw-rounded-xl"
              >
                <div class="d-flex align-items-center tw-gap-05">
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                </div>
                <div class="tw-mt-205 d-flex align-items-center tw-gap-1">
                  <h6 class="text-white">4.3</h6>
                  <span class="text-white fw-medium">score, 47 reviews</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="testimonials-four-item tw-py-54-px tw-rounded-3xl group group-item tw-duration-300 hover-bg-main-600 common-shadow-13"
        >
          <div
            class="testimonials-four-item__title tw-px-54-px tw-pb-705 tw-mb-705"
          >
            <h5
              class="text-capitalize fw-bold group-hover-text-white tw-duration-300"
            >
              “great experience”
            </h5>
          </div>
          <div class="tw-px-54-px">
            <p
              class="text-heading h5 fw-medium font-body group-hover-text-white tw-duration-300 tw-leading-18"
            >
              Sasstech hires great people from a widely variety of backgrounds,
              which simply makes our compan stronger, and we couldn't be prouder
              of that. elevating your optimizing Business Growth.
            </p>
            <div
              class="tw-mt-10 d-flex align-items-center tw-gap-6 justify-content-between flex-wrap"
            >
              <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                <h6 class="fw-bold group-hover-text-white tw-duration-300">
                  Robert J. Hare/
                </h6>
                <span
                  class="tw-text-sm text-heading fw-medium group-hover-text-white tw-duration-300"
                  >Graphics Designer</span
                >
              </div>
              <div
                class="testimonials-four-item__rating bg-heading tw-py-205 tw-px-705 tw-rounded-xl"
              >
                <div class="d-flex align-items-center tw-gap-05">
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                </div>
                <div class="tw-mt-205 d-flex align-items-center tw-gap-1">
                  <h6 class="text-white">4.3</h6>
                  <span class="text-white fw-medium">score, 47 reviews</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="testimonials-four-item tw-py-54-px tw-rounded-3xl group group-item tw-duration-300 hover-bg-main-600 common-shadow-13"
        >
          <div
            class="testimonials-four-item__title tw-px-54-px tw-pb-705 tw-mb-705"
          >
            <h5
              class="text-capitalize fw-bold group-hover-text-white tw-duration-300"
            >
              “great experience”
            </h5>
          </div>
          <div class="tw-px-54-px">
            <p
              class="text-heading h5 fw-medium font-body group-hover-text-white tw-duration-300 tw-leading-18"
            >
              Sasstech hires great people from a widely variety of backgrounds,
              which simply makes our compan stronger, and we couldn't be prouder
              of that. elevating your optimizing Business Growth.
            </p>
            <div
              class="tw-mt-10 d-flex align-items-center tw-gap-6 justify-content-between flex-wrap"
            >
              <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                <h6 class="fw-bold group-hover-text-white tw-duration-300">
                  Robert J. Hare/
                </h6>
                <span
                  class="tw-text-sm text-heading fw-medium group-hover-text-white tw-duration-300"
                  >Graphics Designer</span
                >
              </div>
              <div
                class="testimonials-four-item__rating bg-heading tw-py-205 tw-px-705 tw-rounded-xl"
              >
                <div class="d-flex align-items-center tw-gap-05">
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                </div>
                <div class="tw-mt-205 d-flex align-items-center tw-gap-1">
                  <h6 class="text-white">4.3</h6>
                  <span class="text-white fw-medium">score, 47 reviews</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="testimonials-four-item tw-py-54-px tw-rounded-3xl group group-item tw-duration-300 hover-bg-main-600 common-shadow-13"
        >
          <div
            class="testimonials-four-item__title tw-px-54-px tw-pb-705 tw-mb-705"
          >
            <h5
              class="text-capitalize fw-bold group-hover-text-white tw-duration-300"
            >
              “great experience”
            </h5>
          </div>
          <div class="tw-px-54-px">
            <p
              class="text-heading h5 fw-medium font-body group-hover-text-white tw-duration-300 tw-leading-18"
            >
              Sasstech hires great people from a widely variety of backgrounds,
              which simply makes our compan stronger, and we couldn't be prouder
              of that. elevating your optimizing Business Growth.
            </p>
            <div
              class="tw-mt-10 d-flex align-items-center tw-gap-6 justify-content-between flex-wrap"
            >
              <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                <h6 class="fw-bold group-hover-text-white tw-duration-300">
                  Robert J. Hare/
                </h6>
                <span
                  class="tw-text-sm text-heading fw-medium group-hover-text-white tw-duration-300"
                  >Graphics Designer</span
                >
              </div>
              <div
                class="testimonials-four-item__rating bg-heading tw-py-205 tw-px-705 tw-rounded-xl"
              >
                <div class="d-flex align-items-center tw-gap-05">
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                  <span class="tw-leading-none text-main-two-600 tw-text-xl"
                    ><i class="ph-fill ph-star"></i
                  ></span>
                </div>
                <div class="tw-mt-205 d-flex align-items-center tw-gap-1">
                  <h6 class="text-white">4.3</h6>
                  <span class="text-white fw-medium">score, 47 reviews</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============================== testimonials four section end ===================================== -->
