<!-- ================================= Testimonials Three section start ===================================== -->
<section class="testimonials-three">
  <div class="container max-w-1800-px">
    <div
      class="background-img bg-img tw-rounded-3xl overflow-hidden tw-ps-84-px tw-pe-7 gradient-overlay-four"
      data-background-image="assets/images/thumbs/testimonials-three-bg.png"
    >
      <div class="row gy-4">
        <div class="col-lg-6 pe-xl-5">
          <div class="py-120">
            <div
              class="section-heading tw-mb-9 max-w-670-px text-start"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <span
                class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest"
                >Innovation at our core</span
              >
              <h2 class="splitTextStyleOne text-white">
                What our client's says
              </h2>
              <p class="text-neutral-300 tw-text-lg fw-medium tw-mt-4">
                In today's competitive business, the demand for efficient and
                cost-effective IT solutions has never been more critical.
              </p>
            </div>
            <div class="tw-mt-11 d-flex flex-column tw-gap-5">
              <div class="d-flex align-items-center tw-gap-5">
                <span
                  class="tw-w-8 tw-h-8 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-sm text-white"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="fw-semibold tw-text-lg text-white"
                  >Effordable cost for medical test</span
                >
              </div>
              <div class="d-flex align-items-center tw-gap-5">
                <span
                  class="tw-w-8 tw-h-8 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-sm text-white"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="fw-semibold tw-text-lg text-white"
                  >Increase the level of ecuuracy of medical test</span
                >
              </div>
              <div class="d-flex align-items-center tw-gap-5">
                <span
                  class="tw-w-8 tw-h-8 bg-white-3 rounded-circle d-flex justify-content-center align-items-center tw-text-sm text-white"
                >
                  <i class="ph-bold ph-check"></i>
                </span>
                <span class="fw-semibold tw-text-lg text-white"
                  >Big Discount for poor & street people</span
                >
              </div>
            </div>
            <div
              class="tw-mt-14 d-flex align-items-center tw-gap-6 flex-wrap justify-content-between"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <a
                href="appointment.html"
                class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main-two hover-style-four button--stroke d-inline-flex align-items-center justify-content-center tw-gap-3 group tw-py-5 tw-px-8 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize group-hover-bg-white"
                data-block="button"
              >
                <span class="button__flair"></span>
                <span class="button__label">Book an appointment</span>
                <span class="z-1 position-relative tw-leading-none d-flex">
                  <i class="ph-bold ph-caret-right"></i>
                </span>
              </a>
              <div class="">
                <h2 class="text-main-two-600 font-body text-100-px fw-medium">
                  99%
                </h2>
                <p class="text-white fw-normal tw-text-xl">
                  Customer Satisfaction is Our Success
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="tw-max-h-796-px d-flex flex-xl-row flex-column tw-gap-6">
            <!-- First Slider start -->
            <div
              class="swiper overflow-hidden testimonials-slider-one tw-py-10"
            >
              <div class="swiper-wrapper transition-timing-linear tw-gap-9">
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img1.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co- sales
                        founders are very happy. We get absolutely raving
                        reviews from our Even our co- founders are very happy
                        for services
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img2.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co-
                        founders are very happy.
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img3.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co- sales
                        founders are very happy. We get absolutely raving
                        reviews from our Even our co- founders are very happy
                        for services
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img4.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co-
                        founders are very happy.
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img5.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co- sales
                        founders are very happy. We get absolutely raving
                        reviews from our Even our co- founders are very happy
                        for services
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- First Slider end -->

            <!-- First Slider start -->
            <div
              class="swiper overflow-hidden testimonials-slider-two tw-py-10"
            >
              <div class="swiper-wrapper transition-timing-linear tw-gap-9">
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img1.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co- sales
                        founders are very happy. We get absolutely raving
                        reviews from our Even our co- founders are very happy
                        for services
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img2.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co-
                        founders are very happy.
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img3.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co- sales
                        founders are very happy. We get absolutely raving
                        reviews from our Even our co- founders are very happy
                        for services
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img4.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co-
                        founders are very happy.
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white animation-item tw-h-370-px"
                  >
                    <span class="tw-mb-5">
                      <img
                        src="assets/images/thumbs/testimonials-img5.png"
                        alt="Logo"
                        class="animate__flipInY"
                      />
                    </span>
                    <div class="">
                      <p class="text-neutral-500 tw-text-xl line-clamp-4">
                        We get absolutely raving reviews from our sales and
                        customer support teams using close. Even our co- sales
                        founders are very happy. We get absolutely raving
                        reviews from our Even our co- founders are very happy
                        for services
                      </p>
                      <span
                        class="d-block tw-h-px bg-neutral-100 tw-my-6"
                      ></span>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="">
                          <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                          <span class="text-neutral-500">
                            Founder &amp; CEO
                            <span class="text-main-600">Dulalix</span>
                          </span>
                        </div>
                        <div
                          class="d-inline-flex align-items-center tw-gap-1 bg-main-two-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0"
                        >
                          <span class="text-heading fw-bold tw-text-sm"
                            >4.9</span
                          >
                          <span class="text-heading d-flex">
                            <img
                              src="assets/images/icons/star-black.svg"
                              alt="Thumbnail"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- First Slider end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================= Testimonials Three section End ===================================== -->
