<!-- =========================== Testimonials Five section start ============================ -->
<section class="testimonials-five pb-120">
    <div class="container">
        <div class="section-heading tw-mb-11 text-center mx-auto max-w-770-px" data-aos="fade-up"
            data-aos-duration="800" data-aos-delay="100">
            <span
                class="bg-danger-100 text-danger-600 fw-semibold tw-text-base rounded-pill tw-px-5 tw-py-1 tw-mb-3 text-capitalize">Our
                Testimonials</span>
            <h3 class="splitTextStyleOne fw-medium text-balance">what our client's says about our service</h3>
        </div>
    </div>

    <div class="swiper testimonials-five-slider px-lg-0 tw-px-6">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="testimonials-five-item bg-white tw-rounded-xl d-flex flex-sm-row flex-column"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="bg-main-two-600 tw-pt-13 tw-pb-705 tw-ps-8 tw-pe-6 tw-rounded-xl flex-grow-1 ">
                        <p class="text-heading text-22-px fw-medium line-clamp-4 tw-mb-10 max-w-610-px">From luxury
                            hotels to private
                            transfers
                            and curated experiences, everything was flawless. This is what five-star travel should feel
                            like.” how affordable the..</p>
                        <div class="tw-pt-6 border-top border-white-5">
                            <h6 class="fw-medium text-capitalize">william camel</h6>
                            <span class="text-neutral-600 fw-medium tw-mt-1">Head of Design at Zazoo</span>
                        </div>
                    </div>
                    <div
                        class="flex-shrink-0 tw-ps-6 tw-pe-705 tw-py-13 d-flex flex-column justify-content-between tw-gap-6">
                        <div class="tw-ps-6">
                            <img src="assets/images/icons/quote-testi-five.png" alt="Icon">
                        </div>
                        <div class="">
                            <img src="assets/images/thumbs/testimonials-img3.png" alt="Logo">
                            <h6 class="fw-medium text-capitalize tw-mt-5">great experience</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials-five-item bg-white tw-rounded-xl d-flex flex-sm-row flex-column"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                    <div class="bg-mint-light tw-pt-13 tw-pb-705 tw-ps-8 tw-pe-6 tw-rounded-xl flex-grow-1 ">
                        <p class="text-heading text-22-px fw-medium line-clamp-4 tw-mb-10 max-w-610-px">From luxury
                            hotels to private
                            transfers
                            and curated experiences, everything was flawless. This is what five-star travel should feel
                            like.” how affordable the..</p>
                        <div class="tw-pt-6 border-top border-white-5">
                            <h6 class="fw-medium text-capitalize">william camel</h6>
                            <span class="text-neutral-600 fw-medium tw-mt-1">Head of Design at Zazoo</span>
                        </div>
                    </div>
                    <div
                        class="flex-shrink-0 tw-ps-6 tw-pe-705 tw-py-13 d-flex flex-column justify-content-between tw-gap-6">
                        <div class="tw-ps-6">
                            <img src="assets/images/icons/quote-testi-five.png" alt="Icon">
                        </div>
                        <div class="">
                            <img src="assets/images/thumbs/testimonials-img3.png" alt="Logo">
                            <h6 class="fw-medium text-capitalize tw-mt-5">great experience</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials-five-item bg-white tw-rounded-xl d-flex flex-sm-row flex-column"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="bg-soft-indigo tw-pt-13 tw-pb-705 tw-ps-8 tw-pe-6 tw-rounded-xl flex-grow-1 ">
                        <p class="text-heading text-22-px fw-medium line-clamp-4 tw-mb-10 max-w-610-px">From luxury
                            hotels to private
                            transfers
                            and curated experiences, everything was flawless. This is what five-star travel should feel
                            like.” how affordable the..</p>
                        <div class="tw-pt-6 border-top border-white-5">
                            <h6 class="fw-medium text-capitalize">william camel</h6>
                            <span class="text-neutral-600 fw-medium tw-mt-1">Head of Design at Zazoo</span>
                        </div>
                    </div>
                    <div
                        class="flex-shrink-0 tw-ps-6 tw-pe-705 tw-py-13 d-flex flex-column justify-content-between tw-gap-6">
                        <div class="tw-ps-6">
                            <img src="assets/images/icons/quote-testi-five.png" alt="Icon">
                        </div>
                        <div class="">
                            <img src="assets/images/thumbs/testimonials-img3.png" alt="Logo">
                            <h6 class="fw-medium text-capitalize tw-mt-5">great experience</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials-five-item bg-white tw-rounded-xl d-flex flex-sm-row flex-column"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                    <div class="bg-lavender-soft tw-pt-13 tw-pb-705 tw-ps-8 tw-pe-6 tw-rounded-xl flex-grow-1 ">
                        <p class="text-heading text-22-px fw-medium line-clamp-4 tw-mb-10 max-w-610-px">From luxury
                            hotels to private
                            transfers
                            and curated experiences, everything was flawless. This is what five-star travel should feel
                            like.” how affordable the..</p>
                        <div class="tw-pt-6 border-top border-white-5">
                            <h6 class="fw-medium text-capitalize">william camel</h6>
                            <span class="text-neutral-600 fw-medium tw-mt-1">Head of Design at Zazoo</span>
                        </div>
                    </div>
                    <div
                        class="flex-shrink-0 tw-ps-6 tw-pe-705 tw-py-13 d-flex flex-column justify-content-between tw-gap-6">
                        <div class="tw-ps-6">
                            <img src="assets/images/icons/quote-testi-five.png" alt="Icon">
                        </div>
                        <div class="">
                            <img src="assets/images/thumbs/testimonials-img3.png" alt="Logo">
                            <h6 class="fw-medium text-capitalize tw-mt-5">great experience</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-five-pagination style-circle tw-mb-1 justify-content-center tw-mt-12 bottom-0"></div>
    </div>
</section>
<!-- =========================== Testimonials Five section end ============================ -->