<!-- =============================== Testimonials section start =================================== -->
<section class="testimonials py-100 overflow-hidden">
    <div class="swiper testimonials-slider overflow-hidden">
        <div class="swiper-wrapper transition-timing-linear">
            <div class="swiper-slide">
                <div class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item tw-my-1">
                    <span class="tw-mb-5">
                        <img src="assets/images/thumbs/testimonials-img1.png" alt="Logo" class="animate__flipInY">
                    </span>
                    <div class="">
                        <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews 
                            from our sales and customer support 
                            teams using close. Even our co- sales
                            founders are very happy. We get
                            absolutely raving reviews from our
                            Even our co- founders are very
                            happy for services
                            </p>
                        <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                                <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                            </div>
                            <div class="d-inline-flex align-items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0">
                                <span class="text-white fw-bold tw-text-sm">4.9</span>
                                <span class="text-white d-flex">
                                    <img src="assets/images/icons/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item tw-my-1">
                    <span class="tw-mb-5">
                        <img src="assets/images/thumbs/testimonials-img2.png" alt="Logo" class="animate__flipInY">
                    </span>
                    <div class="">
                        <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews 
                            from our sales and customer support 
                            teams using close. Even our co-
                            founders are very happy.</p>
                        <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h6 class="tw-text-lg tw-mb-205">Robiul Hasan</h6>
                                <span class="text-neutral-500">Front End Developer <span class="text-main-600">Dulalix</span> </span>
                            </div>
                            <div class="d-inline-flex align-items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0">
                                <span class="text-white fw-bold tw-text-sm">4.2</span>
                                <span class="text-white d-flex">
                                    <img src="assets/images/icons/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item tw-my-1">
                    <span class="tw-mb-5">
                        <img src="assets/images/thumbs/testimonials-img3.png" alt="Logo" class="animate__flipInY">
                    </span>
                    <div class="">
                        <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews 
                            from our sales and customer support 
                            teams using close. Even our co- sales
                            founders are very happy. We get
                            absolutely raving reviews from our
                            Even our co- founders are very
                            happy for services
                            </p>
                        <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h6 class="tw-text-lg tw-mb-205">John Doe</h6>
                                <span class="text-neutral-500"> Designer <span class="text-main-600">Dulalix</span> </span>
                            </div>
                            <div class="d-inline-flex align-items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0">
                                <span class="text-white fw-bold tw-text-sm">4.3</span>
                                <span class="text-white d-flex">
                                    <img src="assets/images/icons/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item tw-my-1">
                    <span class="tw-mb-5">
                        <img src="assets/images/thumbs/testimonials-img4.png" alt="Logo" class="animate__flipInY">
                    </span>
                    <div class="">
                        <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews 
                            from our sales and customer support 
                            teams using close. Even our co-
                            founders are very happy.</p>
                        <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h6 class="tw-text-lg tw-mb-205">Jenon Doe</h6>
                                <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                            </div>
                            <div class="d-inline-flex align-items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0">
                                <span class="text-white fw-bold tw-text-sm">4.5</span>
                                <span class="text-white d-flex">
                                    <img src="assets/images/icons/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item tw-my-1">
                    <span class="tw-mb-5">
                        <img src="assets/images/thumbs/testimonials-img5.png" alt="Logo" class="animate__flipInY">
                    </span>
                    <div class="">
                        <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews 
                            from our sales and customer support 
                            teams using close. Even our co- sales
                            founders are very happy. We get
                            absolutely raving reviews from our
                            Even our co- founders are very
                            happy for services
                            </p>
                        <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h6 class="tw-text-lg tw-mb-205">John Alex</h6>
                                <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                            </div>
                            <div class="d-inline-flex align-items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0">
                                <span class="text-white fw-bold tw-text-sm">4.7</span>
                                <span class="text-white d-flex">
                                    <img src="assets/images/icons/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="common-shadow-2 tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item tw-my-1">
                    <span class="tw-mb-5">
                        <img src="assets/images/thumbs/testimonials-img6.png" alt="Logo" class="animate__flipInY">
                    </span>
                    <div class="">
                        <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews from our sales and customer support teams using close. Even our co- founders are very happy.</p>
                        <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h6 class="tw-text-lg tw-mb-205">john Fedra</h6>
                                <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                            </div>
                            <div class="d-inline-flex align-items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill flex-shrink-0">
                                <span class="text-white fw-bold tw-text-sm">4.9</span>
                                <span class="text-white d-flex">
                                    <img src="assets/images/icons/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Testimonials section End =================================== -->