<!-- ========================== Top Header Start ============================== -->
<div class="top-header tw-py-205 bg-main-600">
  <div class="container">
    <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
      <div class="d-xl-block d-none">
        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
          <span class="text-white fw-semibold tw-text-3">Untill the end of the sale:</span>
          <ul class="d-flex align-items-center tw-gap-3" id="countdown2">
            <li class="fw-bold text-white tw-text-3">
              <span class="fw-bold tw-text-500 days">35</span>
              Days
            </li>
            <li class="fw-bold text-white tw-text-3">
              <span class="fw-bold tw-text-500 hours">14</span>
              Hours
            </li>
            <li class="fw-bold text-white tw-text-3">
              <span class="fw-bold tw-text-500 minutes">54</span>
              Minutes
            </li>
            <li class="fw-bold text-white tw-text-3">
              <span class="fw-bold tw-text-500 seconds">28</span>
              Sec.
            </li>
          </ul>
        </div>
      </div>

      <div class="d-lg-block d-none">
        <div class="d-flex align-items-center tw-gap-2 flex-wrap">
          <p class="text-white fw-medium tw-text-sm">
            Buy one get one free on
            <span class="text-main-two-600">first order</span>
          </p>
          <span class="tw-w-px tw-h-4 bg-white-3 d-sm-flex d-none"></span>
          <div class="d-flex align-items-center tw-gap-1">
            <span class="tw-text-base text-white-43 tw-leading-none">
              <img src="assets/images/icons/track.svg" alt="Track Icon">
            </span>
            <span class="text-white fw-medium tw-text-sm">Track Your Order</span>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center tw-gap-4 flex-wrap">
        <div class="d-flex align-items-center tw-gap-4">
          <span class="fw-medium text-white tw-text-300">Order Tracking</span>
          <span class="fw-medium text-white tw-text-300">About Us</span>
        </div>

        <div class="d-flex align-items-center tw-gap-4">
          <div class="select-dropdown-wrapper position-relative tw-ms-2">
            <button class="select-button d-flex align-items-center tw-gap-105">
              <span class="select-button__text tw-text-sm fw-normal text-white text-uppercase">USD</span>
              <span class="select-button__arrow tw-text-xs text-white-83 tw-leading-none tw-duration-200">
                <i class="ph-bold ph-caret-down"></i>
              </span>
            </button>
            <div
              class="select-dropdown bg-white tw-p-2 tw-rounded-md position-absolute top-100 tw-end-0 tw-z-99 min-w-max tw-mt-2 invisible opacity-0 tw-duration-200 tw-max-h-400-px overflow-y-auto shadow">
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag1.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">USD</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag2.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">YEN</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag3.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">FRANC</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag4.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">EURO</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag5.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">WON</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag6.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">
                  BDT</span>
              </div>
            </div>
          </div>

          <div class="select-dropdown-wrapper position-relative tw-ms-2">
            <button class="select-button">
              <span class="select-button__text tw-text-sm fw-normal text-white text-uppercase">English</span>
              <span class="select-button__arrow tw-text-xs text-white-83 tw-leading-none tw-duration-200">
                <i class="ph-bold ph-caret-down"></i>
              </span>
            </button>
            <div
              class="select-dropdown bg-white tw-p-2 tw-rounded-md position-absolute top-100 tw-end-0 tw-z-99 min-w-max tw-mt-2 invisible opacity-0 tw-duration-200 tw-max-h-400-px overflow-y-auto shadow">
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag1.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">English</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag2.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">Japan</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag3.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">French</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag4.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">Germany</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag5.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">Korea</span>
              </div>
              <div
                class="select-dropdown__item d-flex align-items-center cursor-pointer tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                <span class="select-dropdown__flag">
                  <img src="assets/images/thumbs/flag6.png" alt="Flag" class="tw-w-4 tw-h-3">
                </span>
                <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">
                  Bangladesh</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================== Top Header End ============================== -->