<!-- ======================= Top Header Three Start ========================== -->
<div class="top-header-three tw-pt-1 tw-pb-2">
    <div class="container max-w-1650-px">
        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-4">
            <div class="border rounded-pill border-neutral-200 tw-px-6 tw-py-3 d-flex align-items-center tw-gap-6">
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="fw-semibold tw-text-md tw-leading-none text-heading d-flex">
                        <i class="ph-bold ph-envelope-simple"></i>
                    </span>
                    <a href="mailto:example@gmail.com" class="fw-semibold tw-text-sm text-neutral-500 hover-text-main-600">example@gmail.com</a>
                </div>     
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="fw-semibold tw-text-md tw-leading-none text-heading d-flex">
                        <i class="ph-bold ph-map-pin-plus"></i>
                    </span>
                    <span class="fw-semibold tw-text-sm text-neutral-500">11 SW 10th Ave 1206, Portland, OR United States</span>
                </div>     
            </div>
        </div>
    </div>
</div>
<!-- ======================= Top Header Three End ========================== -->