<!-- ========================== Top Header Start ============================== -->
<div class="top-header tw-py-205 bg-main-600">
    <div class="container">
        <div class=" d-flex align-items-center justify-content-between flex-wrap tw-gap-4">
            <div class="d-flex align-items-center tw-gap-2">
                <span class="tw-text-base text-white-43 tw-leading-none"><i class="ph-fill ph-heart-straight"></i></span>
                <span class="tw-text-sm fw-normal text-white">Welcome to Medical. We provides Covid-19 accessories</span>
            </div>

            <div class="d-flex align-items-center tw-gap-2">
                <span class="tw-text-base text-white-43 tw-leading-none">
                    <img src="assets/images/icons/track.svg" alt="Track Icon">
                </span>
                <span class="tw-text-sm fw-normal text-white">We deliver every day from <span class="text-main-two-600">7:00 to 23:00</span> </span>
            </div>

            <div class="d-flex align-items-center tw-gap-2">
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="tw-text-base text-white-43 tw-leading-none">
                        <img src="assets/images/icons/envelop.svg" alt="Track Icon">
                    </span>
                    <span class="tw-text-sm fw-normal text-white">adminpath@gmail.com </span>
                </div>
                <span class="tw-w-px tw-h-4 bg-white-3"></span>

                <div class="select-dropdown-wrapper position-relative tw-ms-2">
                    <button class="select-button d-flex align-items-center tw-gap-105">
                        <span class="tw-text-sm text-white tw-leading-none">
                            <i class="ph-fill ph-globe-hemisphere-west"></i>
                        </span>
                        <span class="select-button__text tw-text-sm fw-normal text-white text-uppercase">English</span>
                        <span class="select-button__arrow tw-text-xs text-white-83 tw-leading-none tw-duration-200">
                            <i class="ph-bold ph-caret-down"></i>
                        </span>
                    </button>
                    <ul class="select-dropdown bg-white tw-p-2 tw-rounded-md position-absolute top-100 tw-start-0 tw-z-99 min-w-max tw-mt-2 invisible opacity-0 tw-duration-200 tw-max-h-400-px overflow-y-auto">
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag1.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">English</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag2.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">Japan</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag3.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">French</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag4.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">Germany</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag5.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">Korea</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag6.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600"> Bangladesh</span>
                        </button>
                    </ul>
                </div>
                <span class="tw-w-px tw-h-4 bg-white-3"></span>

                <div class="select-dropdown-wrapper position-relative tw-ms-2">
                    <button class="select-button d-flex align-items-center tw-gap-105">
                        <span class="select-button__text tw-text-sm fw-normal text-white text-uppercase">USD</span>
                        <span class="select-button__arrow tw-text-xs text-white-83 tw-leading-none tw-duration-200">
                            <i class="ph-bold ph-caret-down"></i>
                        </span>
                    </button>
                    <ul class="select-dropdown bg-white tw-p-2 tw-rounded-md position-absolute top-100 tw-start-0 tw-z-99 min-w-max tw-mt-2 invisible opacity-0 tw-duration-200 tw-max-h-400-px overflow-y-auto">
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag1.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">USD</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag2.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">YEN</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag3.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">FRANC</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag4.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">EURO</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag5.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600">WON</span>
                        </button>
                        <button type="button" class="select-dropdown__item d-flex align-items-center tw-gap-205 tw-py-1 tw-px-205 tw-rounded tw-duration-200 hover-bg-neutral-200 w-100">
                            <span class="select-dropdown__flag">
                                <img src="assets/images/thumbs/flag6.png" alt="Flag" class=" tw-w-4 tw-h-3">
                            </span>
                            <span class="select-dropdown__text text-capitalize tw-text-sm text-neutral-600"> BDT</span>
                        </button>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ========================== Top Header End ============================== -->