<!-- ============================== Trending Products section start =================================== -->
<section class="trending-products pb-100">
    <div class="container">

        <div class="section-heading tw-mb-10 d-flex align-items-center justify-content-between flex-wrap tw-gap-6">
            <div class="max-w-520-px">
                <h3 class="cursor-big splitTextStyleOne">
                    Product 
                    <span class="fw-normal position-relative z-1">
                        Category <img src="assets/images/icons/line-rounded.svg" alt="Line" class="position-absolute top-100 tw-start-50 translate-middle-x z-n1">
                    </span> 
                </h3>
                <p class="tw-text-sm text-neutral-600 tw-mt-205 fw-medium">Don't miss this opportunity at a special discount just for this week.</p>
            </div>
            <div class="">
                <ul class="nav nav-pills active-text-success" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 tw-rounded-lg border border-transparent tw-duration-300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold active" id="pills-Coffee-Teas-tab" data-bs-toggle="pill" data-bs-target="#pills-Coffee-Teas" type="button" role="tab" aria-controls="pills-Coffee-Teas" aria-selected="true">Coffee & Teas</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 tw-rounded-lg border border-transparent tw-duration-300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold" id="pills-Pet-Foods-tab" data-bs-toggle="pill" data-bs-target="#pills-Pet-Foods" type="button" role="tab" aria-controls="pills-Pet-Foods" aria-selected="false">Pet Foods</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 tw-rounded-lg border border-transparent tw-duration-300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold" id="pills-Vegetables-tab" data-bs-toggle="pill" data-bs-target="#pills-Vegetables" type="button" role="tab" aria-controls="pills-Vegetables" aria-selected="false">Vegetables</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 tw-rounded-lg border border-transparent tw-duration-300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold" id="pills-Fruits-Juices-tab" data-bs-toggle="pill" data-bs-target="#pills-Fruits-Juices" type="button" role="tab" aria-controls="pills-Fruits-Juices" aria-selected="false">Fruits & Juices</button>
                    </li>
                </ul>
            </div>
        </div>


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Coffee-Teas" role="tabpanel" aria-labelledby="pills-Coffee-Teas-tab" tabindex="0">
                <div class="row row-cols-5">
                    <div class="col px-0 border-end border-neutral-200 hover-border-transparent position-relative d-flex group-item hover-common-shadow-1 bg-white ">
                        <div class="tw-px-4 tw-pt-5 tw-pb-7 tw-duration-300 h-100">
                            <div class="card-inner">
                                <a href="shop-details.html" class="text-center w-100">
                                    <img src="assets/images/thumbs/trending-product-img1.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                                </a>
                                <div class="tw-mt-5">
                                    <span class="tw-text-xs text-heading text-capitalize">bandage, gauge</span>
                                    <h6 class="tw-text-base tw-mt-1">
                                        <a href="shop-details.html" class="hover-text-main-600">Gorton's Beer Battered Fish Fillets</a>
                                    </h6>
                                    <div class="tw-my-4 d-flex align-items-center tw-gap-205">
                                        <div class="d-flex align-items-center tw-gap-px">
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        </div>
                                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                    </div>
                                    <span class="fw-semibold tw-text-xs text-uppercase text-success-600 tw-mb-3 group-hover-item-d-none">IN STOCK</span>
                                    <div class="tw-mb-3 d-none group-hover-item-d-block">
                                        <a href="shop.html" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill" data-block="button">
                                            <span class="button__flair"></span>
                                            <span class="tw-text-xs text-white tw-leading-none">
                                                <i class="ph-bold ph-shopping-cart-simple"></i>
                                            </span>
                                            <span class="button__label">Add to cart</span>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$62.99</h6>
                                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$79.99</del>
                                    </div>
                                    <div class="tw-pt-5 d-flex flex-column tw-gap-05 d-none group-hover-item-d-block">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                                            <span class="tw-text-xs text-neutral-500 fw-medium">Comfortably sleek</span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                                            <span class="tw-text-xs text-neutral-500 fw-medium">Keep your beat</span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                                            <span class="tw-text-xs text-neutral-500 fw-medium">GPS and a barometric altimeter</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col px-0 border-end border-neutral-200 hover-border-transparent">
                        <div class="bg-white tw-px-4 tw-pt-5 tw-pb-7 group-item hover-common-shadow-1 tw-duration-300 h-100">
                            <a href="shop-details.html" class="text-center w-100">
                                <img src="assets/images/thumbs/trending-product-img2.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                            </a>
                            <div class="tw-mt-5">
                                <span class="tw-text-xs text-heading text-capitalize">bandage, gauge</span>
                                <h6 class="tw-text-base tw-mt-1">
                                    <a href="shop-details.html" class="hover-text-main-600">Gorton's Beer Battered Fish Fillets</a>
                                </h6>
                                <div class="tw-my-4 d-flex align-items-center tw-gap-205">
                                    <div class="d-flex align-items-center tw-gap-px">
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                                    </div>
                                    <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                                </div>
                                <span class="fw-semibold tw-text-xs text-uppercase text-success-600 tw-mb-3 group-hover-item-d-none">IN STOCK</span>
                                <div class="tw-mb-3 d-none group-hover-item-d-block">
                                    <a href="shop.html" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="tw-text-xs text-white tw-leading-none">
                                            <i class="ph-bold ph-shopping-cart-simple"></i>
                                        </span>
                                        <span class="button__label">Add to cart</span>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center tw-gap-205">
                                    <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$62.99</h6>
                                    <del class="tw-text-base font-body text-neutral-500 fw-normal">$79.99</del>
                                </div>
                                <div class="tw-pt-5 d-flex flex-column tw-gap-05 d-none group-hover-item-d-block">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                                        <span class="tw-text-xs text-neutral-500 fw-medium">Comfortably sleek</span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                                        <span class="tw-text-xs text-neutral-500 fw-medium">Keep your beat</span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                                        <span class="tw-text-xs text-neutral-500 fw-medium">GPS and a barometric altimeter</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Pet-Foods" role="tabpanel" aria-labelledby="pills-Pet-Foods-tab" tabindex="0">
                Pet Foods
            </div>
            <div class="tab-pane fade" id="pills-Vegetables" role="tabpanel" aria-labelledby="pills-Vegetables-tab" tabindex="0">
                Vegetables
            </div>
            <div class="tab-pane fade" id="pills-Fruits-Juices" role="tabpanel" aria-labelledby="pills-Fruits-Juices-tab" tabindex="0">
                Fruits & Juices
            </div>
        </div>
       
    </div>
</section>
<!-- ============================== Trending Products section End =================================== -->