    <div class="row g-0 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5">
        <div class="col px-0 position-relative d-flex group-item hover-z-1 tw-min-h-428-px tw-mb-16" data-aos="fade-up" data-aos-duration="700">
            <div class="tw-px-4 tw-pt-5 tw-pb-7 tw-duration-200 border-end border-neutral-100 hover-border-transparent group-item hover-common-shadow-1 bg-white group-hover-item-absolute hover-rounded-xl">
                <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 toggle-active">
                        <i class="ph ph-heart"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible toggle-active">
                        <i class="ph ph-shuffle"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                        <i class="ph ph-eye"></i>
                    </button>
                </div>
                <a href="shop-details.html" class="text-center w-100 tw-h-188-px overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="assets/images/thumbs/trending-product-img1.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                </a>
                <div class="tw-mt-5">
                    <span class="tw-text-xs text-heading text-capitalize">bandage, gauge</span>
                    <h6 class="tw-text-base tw-mt-1">
                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Gorton's Beer Battered Fish Fillets</a>
                    </h6>
                    <div class="tw-my-4 d-flex align-items-center tw-gap-205">
                        <div class="d-flex align-items-center tw-gap-px">
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                        </div>
                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                    </div>
                    <span class="fw-semibold tw-text-xs text-uppercase text-success-600 tw-mb-3 group-hover-item-d-none">IN STOCK</span>
                    <div class="tw-mb-3 d-lg-none d-block group-hover-item-d-block">
                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-text-xs text-white tw-leading-none z-1 d-flex">
                                <i class="ph-bold ph-shopping-cart-simple"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-205">
                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$62.99</h6>
                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$79.99</del>
                    </div>
                    <div class="tw-pt-5 d-flex flex-column tw-gap-05 d-lg-none d-block group-hover-item-d-block">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Comfortably sleek</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Keep your beat</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">GPS and a barometric altimeter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col px-0 position-relative d-flex group-item hover-z-1 tw-min-h-428-px tw-mb-16" data-aos="fade-up" data-aos-duration="800">
            <div class="tw-px-4 tw-pt-5 tw-pb-7 tw-duration-200 border-end border-neutral-100 hover-border-transparent group-item hover-common-shadow-1 bg-white group-hover-item-absolute hover-rounded-xl">
                <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 toggle-active">
                        <i class="ph ph-heart"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible toggle-active">
                        <i class="ph ph-shuffle"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                        <i class="ph ph-eye"></i>
                    </button>
                </div>
                <a href="shop-details.html" class="text-center w-100 tw-h-188-px overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="assets/images/thumbs/trending-product-img2.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                </a>
                <div class="tw-mt-5">
                    <span class="tw-text-xs text-heading text-capitalize">bandage, gauge</span>
                    <h6 class="tw-text-base tw-mt-1">
                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Natural Italian-Style Chicken Meatballs</a>
                    </h6>
                    <div class="tw-my-4 d-flex align-items-center tw-gap-205">
                        <div class="d-flex align-items-center tw-gap-px">
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                        </div>
                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                    </div>
                    <span class="fw-semibold tw-text-xs text-uppercase text-success-600 tw-mb-3 group-hover-item-d-none">IN STOCK</span>
                    <div class="tw-mb-3 d-lg-none d-block group-hover-item-d-block">
                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-text-xs text-white tw-leading-none z-1 d-flex">
                                <i class="ph-bold ph-shopping-cart-simple"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-205">
                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$54.99</h6>
                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$64.99</del>
                    </div>
                    <div class="tw-pt-5 d-flex flex-column tw-gap-05 d-lg-none d-block group-hover-item-d-block">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Comfortably sleek</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Keep your beat</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">GPS and a barometric altimeter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col px-0 position-relative d-flex group-item hover-z-1 tw-min-h-428-px tw-mb-16" data-aos="fade-up" data-aos-duration="900">
            <div class="tw-px-4 tw-pt-5 tw-pb-7 tw-duration-200 border-end border-neutral-100 hover-border-transparent group-item hover-common-shadow-1 bg-white group-hover-item-absolute hover-rounded-xl">
                <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 toggle-active">
                        <i class="ph ph-heart"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible toggle-active">
                        <i class="ph ph-shuffle"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                        <i class="ph ph-eye"></i>
                    </button>
                </div>
                <a href="shop-details.html" class="text-center w-100 tw-h-188-px overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="assets/images/thumbs/trending-product-img3.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                </a>
                <div class="tw-mt-5">
                    <span class="tw-text-xs text-heading text-capitalize">bandage, gauge</span>
                    <h6 class="tw-text-base tw-mt-1">
                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Gorton's Beer Battered Fish Fillets</a>
                    </h6>
                    <div class="tw-my-4 d-flex align-items-center tw-gap-205">
                        <div class="d-flex align-items-center tw-gap-px">
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                        </div>
                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                    </div>
                    <span class="fw-semibold tw-text-xs text-uppercase text-success-600 tw-mb-3 group-hover-item-d-none">IN STOCK</span>
                    <div class="tw-mb-3 d-lg-none d-block group-hover-item-d-block">
                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-text-xs text-white tw-leading-none z-1 d-flex">
                                <i class="ph-bold ph-shopping-cart-simple"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-205">
                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$31.99</h6>
                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$82.99</del>
                    </div>
                    <div class="tw-pt-5 d-flex flex-column tw-gap-05 d-lg-none d-block group-hover-item-d-block">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Comfortably sleek</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Keep your beat</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">GPS and a barometric altimeter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col px-0 position-relative d-flex group-item hover-z-1 tw-min-h-428-px tw-mb-16" data-aos="fade-up" data-aos-duration="1000">
            <div class="tw-px-4 tw-pt-5 tw-pb-7 tw-duration-200 border-end border-neutral-100 hover-border-transparent group-item hover-common-shadow-1 bg-white group-hover-item-absolute hover-rounded-xl">
                <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 toggle-active">
                        <i class="ph ph-heart"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible toggle-active">
                        <i class="ph ph-shuffle"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                        <i class="ph ph-eye"></i>
                    </button>
                </div>
                <a href="shop-details.html" class="text-center w-100 tw-h-188-px overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="assets/images/thumbs/trending-product-img4.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                </a>
                <div class="tw-mt-5">
                    <span class="tw-text-xs text-heading text-capitalize">bandage, gauge</span>
                    <h6 class="tw-text-base tw-mt-1">
                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Field Roast Chao Cheese Creamy Original</a>
                    </h6>
                    <div class="tw-my-4 d-flex align-items-center tw-gap-205">
                        <div class="d-flex align-items-center tw-gap-px">
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                        </div>
                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                    </div>
                    <span class="fw-semibold tw-text-xs text-uppercase text-success-600 tw-mb-3 group-hover-item-d-none">IN STOCK</span>
                    <div class="tw-mb-3 d-lg-none d-block group-hover-item-d-block">
                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-text-xs text-white tw-leading-none z-1 d-flex">
                                <i class="ph-bold ph-shopping-cart-simple"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-205">
                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$62.99</h6>
                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$79.99</del>
                    </div>
                    <div class="tw-pt-5 d-flex flex-column tw-gap-05 d-lg-none d-block group-hover-item-d-block">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Comfortably sleek</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Keep your beat</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">GPS and a barometric altimeter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col px-0 position-relative d-flex group-item hover-z-1 tw-min-h-428-px tw-mb-16" data-aos="fade-up" data-aos-duration="1100">
            <div class="tw-px-4 tw-pt-5 tw-pb-7 tw-duration-200 border-end border-neutral-100 hover-border-transparent group-item hover-common-shadow-1 bg-white group-hover-item-absolute hover-rounded-xl">
                <div class="d-flex flex-column tw-gap-105 position-absolute top-0 end-0 tw-p-5 z-1">
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 toggle-active">
                        <i class="ph ph-heart"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible toggle-active">
                        <i class="ph ph-shuffle"></i>
                    </button>
                    <button type="button" class="bg-neutral-100 text-neutral-500 tw-text-base tw-w-8 tw-h-8 d-flex justify-content-center align-items-center rounded-circle hover-bg-neutral-300 tw-duration-200 active-scale-09 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                        <i class="ph ph-eye"></i>
                    </button>
                </div>
                <a href="shop-details.html" class="text-center w-100 tw-h-188-px overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="assets/images/thumbs/trending-product-img5.png" alt="Thumbnail" class="group-hover-item-scale-11 tw-duration-500">
                </a>
                <div class="tw-mt-5">
                    <span class="tw-text-xs text-heading text-capitalize">bandage, gauge</span>
                    <h6 class="tw-text-base tw-mt-1">
                        <a href="shop-details.html" class="hover-text-main-600 line-clamp-2">Chobani Complete Vanilla Greek Yogurt</a>
                    </h6>
                    <div class="tw-my-4 d-flex align-items-center tw-gap-205">
                        <div class="d-flex align-items-center tw-gap-px">
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-main-two-600 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                            <span class="text-neutral-300 tw-text-xxs"><i class="ph-fill ph-star"></i></span>
                        </div>
                        <span class="text-heading fw-semibold tw-text-xs">( 2 Reviews )</span>
                    </div>
                    <span class="fw-semibold tw-text-xs text-uppercase text-success-600 tw-mb-3 group-hover-item-d-none">IN STOCK</span>
                    <div class="tw-mb-3 d-lg-none d-block group-hover-item-d-block">
                        <button type="button" class="hover--translate-y-1 active--translate-y-05 btn btn-main hover-style-one button--stroke tw-gap-2 group fw-semibold tw-rounded tw-text-xs tw-py-3 tw-px-6 tw-duration-200 d-flex align-items-center justify-content-center fw-semibold rounded-pill w-100 text-capitalize" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-text-xs text-white tw-leading-none z-1 d-flex">
                                <i class="ph-bold ph-shopping-cart-simple"></i>
                            </span>
                            <span class="button__label">Add to cart</span>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-205">
                        <h6 class="tw-text-lg font-body text-danger-600 fw-bold">$35.99</h6>
                        <del class="tw-text-base font-body text-neutral-500 fw-normal">$64.99</del>
                    </div>
                    <div class="tw-pt-5 d-flex flex-column tw-gap-05 d-lg-none d-block group-hover-item-d-block">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Comfortably sleek</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">Keep your beat</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-1 tw-h-1 bg-black rounded-circle"></span>
                            <span class="tw-text-xs text-neutral-500 fw-medium">GPS and a barometric altimeter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>