<!-- ============================== Trending Products section start =================================== -->
<section class="trending-products pb-100">
    <div class="container">

        <div class="section-heading tw-mb-10 d-flex align-items-center justify-content-between flex-wrap tw-gap-6">
            <div class="max-w-520-px">
                <h3 class="cursor-big splitTextStyleOne">
                     Trending
                    <span class="fw-normal position-relative z-1">
                        Product <img src="assets/images/icons/line-rounded.svg" alt="Line" class="position-absolute top-100 tw-start-50 translate-middle-x z-n1">
                    </span> 
                </h3>
                <p class="tw-text-sm text-neutral-600 tw-mt-205 fw-medium">Don't miss this opportunity at a special discount just for this week.</p>
            </div>
            <div class="">
                <ul class="nav nav-pills active-text-success" id="pills-tabFour" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 rounded-pill border border-transparent tw-duration-2300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold active" id="pills-Coffee-Teas-tab" data-bs-toggle="pill" data-bs-target="#pills-Coffee-Teas" type="button" role="tab" aria-controls="pills-Coffee-Teas" aria-selected="true">Coffee & Teas</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 rounded-pill border border-transparent tw-duration-2300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold" id="pills-Pet-Foods-tab" data-bs-toggle="pill" data-bs-target="#pills-Pet-Foods" type="button" role="tab" aria-controls="pills-Pet-Foods" aria-selected="false">Pet Foods</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 rounded-pill border border-transparent tw-duration-2300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold" id="pills-Vegetables-tab" data-bs-toggle="pill" data-bs-target="#pills-Vegetables" type="button" role="tab" aria-controls="pills-Vegetables" aria-selected="false">Vegetables</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tw-px-3 tw-py-2 rounded-pill border border-transparent tw-duration-2300 hover-border-success-600 bg-transparent tw-text-sm text-heading fw-semibold" id="pills-Fruits-Juices-tab" data-bs-toggle="pill" data-bs-target="#pills-Fruits-Juices" type="button" role="tab" aria-controls="pills-Fruits-Juices" aria-selected="false">Fruits & Juices</button>
                    </li>
                </ul>
            </div>
        </div>


        <div class="tab-content" id="pills-tabFourContent">
            <div class="tab-pane fade show active" id="pills-Coffee-Teas" role="tabpanel" aria-labelledby="pills-Coffee-Teas-tab" tabindex="0">
                @@include('../partials/_trending-product-cards.html')
            </div>
            <div class="tab-pane fade" id="pills-Pet-Foods" role="tabpanel" aria-labelledby="pills-Pet-Foods-tab" tabindex="0">
                @@include('../partials/_trending-product-cards.html')
            </div>
            <div class="tab-pane fade" id="pills-Vegetables" role="tabpanel" aria-labelledby="pills-Vegetables-tab" tabindex="0">
                @@include('../partials/_trending-product-cards.html')
            </div>
            <div class="tab-pane fade" id="pills-Fruits-Juices" role="tabpanel" aria-labelledby="pills-Fruits-Juices-tab" tabindex="0">
                @@include('../partials/_trending-product-cards.html')
            </div>
        </div>
       
    </div>
</section>
<!-- ============================== Trending Products section End =================================== -->