<!-- ============================ Work Process section start =================================== -->
<section class="bg-neutral-100">
  <div class="work-process py-120 bg-main-600 rounded-t-36-px position-relative z-1">
    <div class="section-heading tw-mb-16 tw-pb-5 max-w-1000-px text-center mx-auto">
      <span class="text-main-two-600 fw-semibold tw-text-lg tw-tracking-widest">Innovation at our core</span>
      <h2 class="splitTextStyleOne text-white">
        Best Hospitality & Medical Services
      </h2>
      <p class="text-neutral-300 tw-text-lg fw-medium tw-mt-4">
        We will work with you to develop individualised care plans, including
        management of chronic diseases. If we cannot assist we can provide
        referrals or advice about the type of practitioner you require.
      </p>
    </div>
    <img src="assets/images/bg/circle-double-border-shape.png" alt="Shape"
      class="position-absolute tw-start-0 bottom-0 z-n1">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="700">
          <div class="tw-pt-4 position-relative max-w-248-px mx-auto">
            <span class="text-white fw-semibold tw-text-lg position-absolute top-0 tw-end-0">01</span>
            <div class="tw-w-130-px tw-h-130-px overflow-hidden rounded-circle">
              <img src="assets/images/thumbs/work-process-three-img1.png" alt="Thumbnail">
            </div>
            <h6 class="text-white max-w-200-px tw-mt-6">
              Fill In Our Medical Application
            </h6>
            <p class="text-neutral-400 fw-medium tw-mt-5">
              Nulla metus quam, dictum mollis felis quis, congue sollicitudin
              orci. Praesent pharetra diam nulla
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800">
          <div class="tw-pt-4 position-relative max-w-248-px mx-auto">
            <span class="text-white fw-semibold tw-text-lg position-absolute top-0 tw-end-0">02</span>
            <div class="tw-w-130-px tw-h-130-px overflow-hidden rounded-circle">
              <img src="assets/images/thumbs/work-process-three-img1.png" alt="Thumbnail">
            </div>
            <h6 class="text-white max-w-200-px tw-mt-6">
              Fill In Our Medical Application
            </h6>
            <p class="text-neutral-400 fw-medium tw-mt-5">
              Nulla metus quam, dictum mollis felis quis, congue sollicitudin
              orci. Praesent pharetra diam nulla
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="900">
          <div class="tw-pt-4 position-relative max-w-248-px mx-auto">
            <span class="text-white fw-semibold tw-text-lg position-absolute top-0 tw-end-0">03</span>
            <div class="tw-w-130-px tw-h-130-px overflow-hidden rounded-circle">
              <img src="assets/images/thumbs/work-process-three-img1.png" alt="Thumbnail">
            </div>
            <h6 class="text-white max-w-200-px tw-mt-6">
              Fill In Our Medical Application
            </h6>
            <p class="text-neutral-400 fw-medium tw-mt-5">
              Nulla metus quam, dictum mollis felis quis, congue sollicitudin
              orci. Praesent pharetra diam nulla
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
          <div class="tw-pt-4 position-relative max-w-248-px mx-auto">
            <span class="text-white fw-semibold tw-text-lg position-absolute top-0 tw-end-0">04</span>
            <div class="tw-w-130-px tw-h-130-px overflow-hidden rounded-circle">
              <img src="assets/images/thumbs/work-process-three-img1.png" alt="Thumbnail">
            </div>
            <h6 class="text-white max-w-200-px tw-mt-6">
              Fill In Our Medical Application
            </h6>
            <p class="text-neutral-400 fw-medium tw-mt-5">
              Nulla metus quam, dictum mollis felis quis, congue sollicitudin
              orci. Praesent pharetra diam nulla
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Work Process section end =================================== -->