/* Font Size Class Start */
.text {
  &-inherit {
      font-size: inherit;
  }
  &-100-px {
    font-size: clamp(2rem, -1.6347rem + 7.5724vw, 6.25rem);
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}  
/* Font Size Class End */


@each $property, $value in $spaces {
    .tw-text-#{$property} {
      font-size: $value;
    }
}  
/* Font Size Class End */