/* ========================== Gradient BG Css Start =============================== */
.gradient-bg {
    &-1 {
        background: linear-gradient(181.44deg, #E8F3FF 1.22%, rgba(232, 244, 255, 0) 117.41%);
    }
}


.gradient-overlay {
    &-one,
    &-two, 
    &-three {
        position: relative;
        z-index: 1;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
            inset-inline-start: 0;
        }
    }

    &-one::before {
        background: linear-gradient(96deg, rgba(232, 243, 255, 0.94) 39.21%, rgba(232, 243, 255, 0.188637) 60.01%, rgba(232, 243, 255, 0.107717) 42%, rgba(232, 243, 255, 0) 102.69%);
    }
    &-two::before {
        background: linear-gradient(280deg, rgba(232, 243, 255, 0.94) 39.17%, rgba(232, 243, 255, 0.188637) 81.99%, rgba(232, 243, 255, 0) 85.94%, rgba(232, 243, 255, 0.107717) 113.18%);
    }
    &-three::before {
        background: linear-gradient(181.44deg, #e8f3ff 1.22%, rgb(232 244 255 / 0%) 100.41%);
        height: calc(100% - 90px);
        top: auto;
        bottom: 0;
        border-radius: 24px;
        max-width: 1840px;
        inset-inline-start: 50%;
        transform: translateX(-50%);
    }
}

.gradient-lg-full {
    &::before {
        @media (max-width: 992px) {
            background: var(--main-40);
        }
    }
}
/* ========================== Gradient BG Css End =============================== */
