/* Max width Css Class Start */
.max-w {
    &-140-px {
        max-width: 140px;
    }
    &-180-px {
        max-width: 180px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-420-px {
        max-width: 420px;
    }
    &-520-px {
        max-width: 520px;
    }
    &-1140-px {
        max-width: 1140px;
    }
    &-1290-px {
        max-width: 1290px;
    }
    &-1410-px {
        max-width: 1410px;
    }
    &-824-px {
        max-width: 824px;
    }
}
/* Max width Css Class End */