/* transition Css Class start */
.tw-transition {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    &-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
}

.tw-transition-03s {
    transition: 0.3s;
}
.tw-transition-04s {
    transition: 0.4s;

.tw-delay {
    &-100 {
        transition-delay: .1s;
    }
    &-200 {
        transition-delay: .2s;
    }
    &-300 {
        transition-delay: .3s;
    }
}

.transition-timing-linear {
    transition-timing-function: linear;

}
/* transition Css Class End */
