/* ================================= Tab Css Start =========================== */
.active-text-success {
    .nav-item {
        .nav-link {
            &.active {
                color: var(--success-600); 
                &:hover {
                    background-color: var(--success-600) !important;
                    color: #fff;
                }
            }
            &:hover {
                color: var(--success-600);
            }
        }
    }
}
/* ================================= Tab Css End =========================== */
