/* Banner four css start  */
.banner-four {
  padding: 200px 0 180px;
  @media (max-width: 1300px) {
    padding: 160px 0 160px;
  }
  @media (max-width: 991px) {
    padding: 100px 0 100px;
  }
}
/* Banner four css end  */
