/* triangle-shape */
.case-studies-item {
  &__content {
    inset-block-end: -100%;
  }
  &:hover {
    .case-studies-item__content {
      inset-block-end: 0;
    }
  }
}

.triangle-shape {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background-color: var(--main-two-600);
    inset-inline-start: 0;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }
}
